{
  "swagger": "2.0",
  "info": {
    "description": "# Vipps eCommerce API\nAdditional API documentation: https://github.com/vippsas/vipps-ecom-api/\n",
    "version": "1.0.4",
    "title": "Vipps eCommerce APIs"
  },
  "tags": [
    {
      "description": "Authorization Service",
      "name": "Authorization Service"
    },
    {
      "description": "Functionality provided by the Vipps eCommerce API",
      "name": "Vipps eCom API"
    },
    {
      "description": "These endpoints must be implemented by the merchant, and are called by Vipps.",
      "name": "Endpoints required by Vipps from the merchant"
    }
  ],
  "host": "apitest.vipps.no",
  "paths": {
    "/ecomm/v2/payments/{orderId}/capture": {
      "post": {
        "description": "This API call allows merchant to capture the reserved amount. Amount to capture cannot be higher than reserved. The API also allows capturing partial amount of the reserved amount. Partial capture can be called as many times as required so long there is reserved amount to capture. Transaction text is not optional and is used as a proof of delivery (tracking code, consignment number etc.). In a case of direct capture, both fund reservation and capture are executed in a single operation.",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Capture payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseCapture"
            }
          },
          "402": {
            "description": "Payment Failed"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "operationId": "capturePaymentUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Capture Payment ",
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "type": "string",
            "in": "path",
            "required": true,
            "name": "orderId"
          },
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "authorization"
          },
          {
            "description": "`application/json`",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "content-type"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "ocp-apim-subscription-key"
          },
          {
            "description": "paymentActionsRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "name": "paymentActionsRequest"
          }
        ]
      }
    },
    "[consentRemovalPrefix]/v2/consents/{userId}": {
      "delete": {
        "description": "This API endpoint on the merchant side allows Vipps to send consent removal requests to the merchant. When receiving requests the merchant is obliged to remove the user details permanently, as per the GDPR guidelines. Vipps will add `/v2/consents/{userId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Remove User Consent (for express checkout)"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "operationId": "removeUserConsentUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Remove User Consent (for express checkout)",
        "parameters": [
          {
            "description": "The userId provided when requesting user information from Vipps. Received by callback or get detail request.",
            "type": "string",
            "in": "path",
            "required": true,
            "name": "userId"
          }
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/status": {
      "get": {
        "description": "This API call allows the merchant to get the status of the last payment transaction. Primarily use of this service is meant for inApp where simple response to check order status is preferred.",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Get order status",
            "schema": {
              "$ref": "#/definitions/GetPaymentStatusResponse"
            }
          },
          "402": {
            "description": "Payment Failed"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "operationId": "getOrderStatusUsingGET",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Get order status",
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "type": "string",
            "in": "path",
            "required": true,
            "name": "orderId"
          },
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "authorization"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "ocp-apim-subscription-key"
          }
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/details": {
      "get": {
        "description": "This API call allows merchant to get the details of a payment transaction. Service call returns detailed transaction history of given payment where events are sorted by the time single transaction occurred.",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Get payment Details",
            "schema": {
              "$ref": "#/definitions/GetTransactionDetails"
            }
          },
          "402": {
            "description": "Payment Failed"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "operationId": "getPaymentDetailsUsingGET",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Get payment Details",
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "type": "string",
            "in": "path",
            "required": true,
            "name": "orderId"
          },
          {
            "description": "Authorization-token is obtained by running the `/accesstoken/get` request.",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "authorization"
          },
          {
            "description": "`application/json`",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "content-type"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "ocp-apim-subscription-key"
          }
        ]
      }
    },
    "[callbackPrefix]/v2/payments/{orderId}": {
      "post": {
        "description": "This API call allows Vipps to send the transaction details. During regular ecomm payment order and transaction details will be shared. During express checkout payment it will provide user details and shipping details addition to the order and transaction details. Vipps will add `/v2/payments/{orderId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Callback : Transaction Update"
          },
          "402": {
            "description": "Payment Failed"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong on the Vipps server side"
          }
        },
        "operationId": "transactionUpdateCallbackForRegularPaymentUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Callback : Transaction Update",
        "parameters": [
          {
            "description": "orderId",
            "type": "string",
            "in": "path",
            "required": true,
            "name": "orderId"
          },
          {
            "description": "expressCheckOutPaymentRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExpressCheckOutPaymentRequest"
            },
            "name": "expressCheckOutPaymentRequest"
          }
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/refund": {
      "post": {
        "description": "The API allows a merchant to do a refund of already captured transaction. There is an option to do a partial refund of the captured amount. Refunded amount cannot be larger than captured. Timeframe for issuing a refund for a payment is 365 days from the date payment has been captured. If the refund payment service call is called after the refund timeframe, service call will respond with an error. Refunded funds will be transferred from the merchant account to the customer credit card that was used in payment flow. Pay attention that in order to perform refund, there must be enough funds at merchant settlements account.",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Refund payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseRefund"
            }
          },
          "402": {
            "description": "Payment Failed"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "operationId": "refundPaymentUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Refund Payment ",
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "type": "string",
            "in": "path",
            "required": true,
            "name": "orderId"
          },
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "authorization"
          },
          {
            "description": "`application/json`",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "content-type"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "ocp-apim-subscription-key"
          },
          {
            "description": "paymentActionsRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "name": "paymentActionsRequest"
          }
        ]
      }
    },
    "/ecomm/v2/payments": {
      "post": {
        "description": "This API call allows the merchants to initiate a payment flow by using Vipps. In order to identify which sales channel payments are coming from, a merchantSerialNumber is used to distinguish between them. Please note that a single payment is uniquely identified by a composite of merchantApplicationId (X-App-ID), merchantSerialNumber and orderId. The Merchant provided orderId must be unique per sales channel. Once the transaction is successfully initiated in Vipps, will you receive a redirect URL in response which has to be used by the merchant to open the Vipps landing page. The landing page will have functionality to identify and differentiate request coming from mobile browser/desktop browser. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "responses": {
          "202": {
            "description": "Response for Initiate Payment",
            "schema": {
              "$ref": "#/definitions/InitiatePaymentV2Representation"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "402": {
            "description": "Payment Failed"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "operationId": "initiatePaymentV3UsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Initiate Payment",
        "parameters": [
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "authorization"
          },
          {
            "description": "application/json",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "content-type"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "ocp-apim-subscription-key"
          },
          {
            "description": "initiatePaymentCommand",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InitiatePaymentCommand"
            },
            "name": "initiatePaymentCommand"
          }
        ]
      }
    },
    "[shippingDetailsPrefix]/v2/payments/{orderId}/shippingDetails": {
      "post": {
        "description": "This API endpoint on the merchant side allows Vipps to get the shipping cost and method based on the provided address and product details. The primary use of this service is Vipps Hurtigkasse (express checkout) where Vipps needs to present shipping cost and method to the Vipps user. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Fetch Shipping Cost & Method.",
            "schema": {
              "$ref": "#/definitions/FetchShippingCostResponse"
            }
          },
          "402": {
            "description": "Payment Failed"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "operationId": "fetchShippingCostUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Fetch Shipping Cost & Method",
        "parameters": [
          {
            "description": "orderId",
            "type": "string",
            "in": "path",
            "required": true,
            "name": "orderId"
          },
          {
            "description": "fetchShippingCostAndMethod",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FetchShippingCostAndMethod"
            },
            "name": "fetchShippingCostAndMethod"
          }
        ]
      }
    },
    "/accesstoken/get": {
      "post": {
        "description": "Authorization token API endpoint helps to get the JWT Bearer token that needs to be passed in every API request in the authorization header. The merchant application use the API to get a JWT access token. JWT access token is a base 64 encoded string value that must be aquire first before making any Vipps api calls",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuthorizationTokenResponse"
            }
          },
          "402": {
            "description": "Payment Failed"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "operationId": "fetchAuthorizationTokenUsingPost",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Authorization Service"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Fetch authorization token",
        "parameters": [
          {
            "description": "Client id is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "format": "guid",
            "name": "client_id",
            "in": "header",
            "required": true
          },
          {
            "description": "Client secret is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "client_secret"
          },
          {
            "description": "The subscription-key for authorization token is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. The ```DEFAULT_ACCESSTOKEN``` key is the value for subscription-key. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "ocp-apim-subscription-key"
          }
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/cancel": {
      "put": {
        "description": "The API call allows merchant to cancel the reserved transaction, The API will not allow partial cancellation which has the consequence that partially captured transactions cannot be cancelled. Please note that in a case of communication errors during initiate payment service call between Vipps and PSP/Acquirer/Issuer; even in a case that customer has confirmed a payment, the payment will be cancelled by Vipps. Note this means you can not cancel a captured payment.",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Cancel payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseCancel"
            }
          },
          "402": {
            "description": "Payment Failed"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "operationId": "cancelPaymentRequestUsingPUT",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Cancel Payment",
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "type": "string",
            "in": "path",
            "required": true,
            "name": "orderId"
          },
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "authorization"
          },
          {
            "description": "`application/json`",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "content-type"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "in": "header",
            "required": true,
            "name": "ocp-apim-subscription-key"
          },
          {
            "description": "paymentActionsRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelPaymentActionRequest"
            },
            "name": "paymentActionsRequest"
          }
        ]
      }
    }
  },
  "definitions": {
    "TransactionInfoCapture": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "amount": {
          "description": "Ordered amount in øre",
          "type": "number",
          "format": "double",
          "example": 20000
        },
        "status": {
          "enum": [
            "Captured"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "example": "Captured"
        },
        "transactionText": {
          "description": "Transaction text reference provided by merchant",
          "type": "string",
          "example": "One pair of Vipps socks"
        },
        "transactionId": {
          "description": "Vipps transaction id",
          "type": "string",
          "example": "5001420062"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z"
        }
      }
    },
    "Transaction": {
      "type": "object",
      "required": [
        "transactionText"
      ],
      "properties": {
        "transactionText": {
          "description": "Proof of delivery",
          "type": "string"
        },
        "amount": {
          "description": "Amount in øre, if amount is 0 or not provided then full capture will be performed. 32 Bit Integer (2147483647)",
          "type": "integer",
          "format": "int32",
          "example": 20000,
          "pattern": "^\\d{3,}$"
        }
      }
    },
    "OrderStatusInfoTransactionInfo": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "properties": {
        "amount": {
          "description": "Ordered amount in øre",
          "type": "number",
          "format": "double",
          "example": 20000
        },
        "status": {
          "enum": [
            "INITIATE",
            "REGISTER",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID",
            "FAILED",
            "REJECTED"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "example": "RESERVE"
        },
        "transactionId": {
          "description": "Vipps transaction id",
          "type": "string",
          "example": "5001420062"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction.",
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z"
        }
      }
    },
    "InitiatePaymentCommand": {
      "type": "object",
      "required": [
        "customerInfo",
        "merchantInfo",
        "transaction"
      ],
      "properties": {
        "transaction": {
          "description": "it has transaction details which needs to be inititated",
          "$ref": "#/definitions/TransactionInfoInitiateDTO"
        },
        "merchantInfo": {
          "description": "it has merchant related information to initiate the payment",
          "$ref": "#/definitions/MerchantInfoDto"
        },
        "customerInfo": {
          "description": "it has customer information and it is not required",
          "$ref": "#/definitions/CustomerInfoDto"
        }
      }
    },
    "CallbackTransactionInfoStatus": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "properties": {
        "amount": {
          "description": "Ordered amount in øre",
          "type": "number",
          "format": "double",
          "example": 20000
        },
        "status": {
          "enum": [
            "RESERVE",
            "SALE",
            "CANCELLED",
            "REJECTED"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#callbacks) for more information.",
          "type": "string",
          "example": "RESERVE"
        },
        "transactionId": {
          "description": "Vipps transaction id",
          "type": "string",
          "example": "5001420062"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction.",
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z"
        }
      }
    },
    "PaymentActionsRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "$ref": "#/definitions/Transaction"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        }
      }
    },
    "TransactionInfoInitiateDTO": {
      "type": "object",
      "required": [
        "amount",
        "orderId",
        "transactionText"
      ],
      "properties": {
        "transactionText": {
          "description": "Transaction text that can be displayed to end user",
          "type": "string",
          "example": "One pair of Vipps socks",
          "maxLength": 100
        },
        "amount": {
          "description": "Amount in øre. 32 bit Integer (2147483647)",
          "type": "integer",
          "format": "int32",
          "example": 20000,
          "pattern": "^\\d{3,}$"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters.",
          "type": "string",
          "example": "order123abc",
          "maxLength": 30
        },
        "refOrderId": {
          "description": "Identifies if the payment references to some past orders registered with Vipps. If defined, transactions for this payment will show up as child transactions of the specified order.",
          "type": "string",
          "example": "merchantOrder123abc",
          "maxLength": 30
        },
        "timeStamp": {
          "description": "ISO formatted date time string.",
          "type": "string",
          "format": "date-time",
          "example": "2018-11-14T15:44:26.590Z"
        }
      }
    },
    "MerchantInfoPayment": {
      "type": "object",
      "required": [
        "merchantSerialNumber"
      ],
      "properties": {
        "merchantSerialNumber": {
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "type": "string",
          "minLength": 6,
          "maxLength": 6,
          "example": 123456,
          "pattern": "^\\d{6}$"
        }
      }
    },
    "AuthorizationTokenResponse": {
      "type": "object",
      "properties": {
        "token_type": {
          "type": "string",
          "example": "Bearer"
        },
        "expires_on": {
          "type": "integer",
          "example": 1547823408
        },
        "not_before": {
          "type": "integer",
          "example": 1547819508
        },
        "resource": {
          "type": "string",
          "example": "00000002-0000-0000-c000-000000000000"
        },
        "ext_expires_in": {
          "type": "integer",
          "example": 3600
        },
        "access_token": {
          "type": "string",
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>"
        },
        "expires_in": {
          "type": "integer",
          "example": 3600
        }
      }
    },
    "CancelTransaction": {
      "type": "object",
      "properties": {
        "transactionText": {
          "type": "string"
        }
      }
    },
    "TransactionSummary": {
      "type": "object",
      "required": [
        "capturedAmount",
        "refundedAmount",
        "remainingAmountToCapture",
        "remainingAmountToRefund"
      ],
      "properties": {
        "capturedAmount": {
          "description": "Total amount captured",
          "type": "integer",
          "format": "int32",
          "example": 20000
        },
        "remainingAmountToCapture": {
          "description": "Total remaining amount to capture",
          "type": "integer",
          "format": "int32",
          "example": 0
        },
        "refundedAmount": {
          "description": "Total refunded amount of the order",
          "type": "integer",
          "format": "int32",
          "example": 0
        },
        "remainingAmountToRefund": {
          "description": "Total remaining amount to refund",
          "type": "integer",
          "format": "int32",
          "example": 20000
        }
      }
    },
    "TransactionResponseCapture": {
      "type": "object",
      "required": [
        "orderId"
      ],
      "properties": {
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "type": "string",
          "example": "order123abc",
          "maxLength": 30
        },
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCapture"
        }
      }
    },
    "GetPaymentStatusResponse": {
      "type": "object",
      "properties": {
        "orderId": {
          "type": "string",
          "example": "order123abc"
        },
        "transactionInfo": {
          "$ref": "#/definitions/OrderStatusInfoTransactionInfo"
        }
      }
    },
    "ShippingDetails": {
      "type": "object",
      "required": [
        "isDefault",
        "shippingCost",
        "shippingMethod",
        "shippingMethodId"
      ],
      "properties": {
        "isDefault": {
          "enum": [
            "Y",
            "N"
          ],
          "type": "string"
        },
        "shippingMethodId": {
          "type": "string"
        },
        "shippingCost": {
          "type": "number",
          "format": "double"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "shippingMethod": {
          "type": "string"
        }
      }
    },
    "CancelPaymentActionRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "$ref": "#/definitions/CancelTransaction"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        }
      }
    },
    "TransactionResponseRefund": {
      "type": "object",
      "required": [
        "orderId"
      ],
      "properties": {
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transaction": {
          "$ref": "#/definitions/TransactionInfoRefund"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "type": "string",
          "example": "order123abc",
          "maxLength": 30
        }
      }
    },
    "UserDetails": {
      "type": "object",
      "required": [
        "email",
        "firstName",
        "lastName",
        "mobileNumber",
        "userId"
      ],
      "properties": {
        "dateOfBirth": {
          "description": "12-3-1988",
          "type": "string",
          "example": "12-3-1988"
        },
        "firstName": {
          "description": "First name",
          "type": "string",
          "example": "Ada"
        },
        "email": {
          "description": "Email address",
          "type": "string",
          "example": "user@example.com"
        },
        "userId": {
          "description": "1234567",
          "type": "string",
          "example": "1234567"
        },
        "ssn": {
          "description": "12345678912",
          "type": "string",
          "maxLength": 11,
          "minLength": 11,
          "pattern": "^\\d{11}$"
        },
        "lastName": {
          "description": "Last name",
          "type": "string",
          "example": "Lovelace"
        },
        "bankIdVerified": {
          "type": "string"
        },
        "mobileNumber": {
          "description": "12345678",
          "type": "string",
          "maxLength": 12,
          "minLength": 8,
          "pattern": "^\\d{8,12}$"
        }
      }
    },
    "CustomerInfoDto": {
      "type": "object",
      "properties": {
        "mobileNumber": {
          "description": "Mobile number of the user who has to pay for the transation from Vipps. Allowed format: xxxxxxxx",
          "type": "string",
          "minLength": 8,
          "maxLength": 8,
          "example": 91234567,
          "pattern": "^\\d{8}$"
        }
      }
    },
    "TransactionInfoRefund": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "amount": {
          "description": "Ordered amount in øre",
          "type": "number",
          "format": "double",
          "example": 20000
        },
        "status": {
          "enum": [
            "Refund"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "example": "Refund"
        },
        "transactionText": {
          "description": "Transaction text reference provided by merchant",
          "type": "string",
          "example": "One pair of Vipps socks"
        },
        "transactionId": {
          "description": "Vipps transaction id",
          "type": "string",
          "example": "5001420062"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z"
        }
      }
    },
    "TransactionInfoCancel": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "amount": {
          "description": "Ordered amount in øre",
          "type": "number",
          "format": "double",
          "example": 20000
        },
        "status": {
          "enum": [
            "Cancelled"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "example": "Cancelled"
        },
        "transactionText": {
          "description": "Transaction text reference provided by merchant",
          "type": "string",
          "example": "One pair of Vipps socks"
        },
        "transactionId": {
          "description": "Vipps transaction id",
          "type": "string",
          "example": "5001420062"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z"
        }
      }
    },
    "TransactionResponseCancel": {
      "type": "object",
      "required": [
        "orderId"
      ],
      "properties": {
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "type": "string",
          "example": "order123abc",
          "maxLength": 30
        },
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCancel"
        }
      }
    },
    "ShippingDetailsRequest": {
      "type": "object",
      "required": [
        "address",
        "shippingCost",
        "shippingMethod"
      ],
      "properties": {
        "address": {
          "description": "Address Details",
          "$ref": "#/definitions/Address"
        },
        "shippingCost": {
          "description": "Shipping cost",
          "type": "number",
          "format": "double"
        },
        "shippingMethod": {
          "description": "Shipping method which choosed for the payment",
          "type": "string"
        }
      }
    },
    "MerchantInfoDto": {
      "type": "object",
      "required": [
        "callbackPrefix",
        "fallBack",
        "merchantSerialNumber"
      ],
      "properties": {
        "paymentType": {
          "enum": [
            "eComm Regular Payment",
            "eComm Express Payment"
          ],
          "description": "This parameter will identify difference between a regular ecomm payment and ecomm express payment. For express checkout, use: \"eComm Express Payment\". Express checkouts require consentRemovalPrefix.",
          "type": "string",
          "example": "eComm Regular Payment",
          "default": "eComm Regular Payment"
        },
        "authToken": {
          "description": "The Merchant should share this token if merchant has authentication mechanism in place which could be used for making callbacks secure.",
          "type": "string",
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "maxLength": 255
        },
        "merchantSerialNumber": {
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "type": "string",
          "minLength": 6,
          "maxLength": 6,
          "example": 123456,
          "pattern": "^\\d{6}$"
        },
        "isApp": {
          "default": false,
          "description": "This parameter indicates whether payment request is triggered from Mobile App or Web browser. Based on this value, response will be redirect URL for Vipps landing page or deeplink URL to connect vipps App. When isApp is set to true, URLs passed to Vipps will not be validated as regular URLs.",
          "type": "boolean",
          "example": false
        },
        "shippingDetailsPrefix": {
          "description": "In case of express checkout payment, merchant should pass this prefix to let Vipps fetch shipping cost and method related details. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end or this URL.",
          "type": "string",
          "example": "https://example.com/vipps/shipping/",
          "maxLength": 255
        },
        "callbackPrefix": {
          "description": "This is an URL for receiving the callback after the payment request. Domain name and context path should be provided by merchant as the value for this parameter. Vipps will add `/v2/payments/{orderId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "type": "string",
          "example": "https://example.com/vipps/callbacks",
          "maxLength": 255
        },
        "fallBack": {
          "description": "Vipps will use the fall back URL to redirect Merchant Page once Payment is completed in Vipps System URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "type": "string",
          "example": "https://example.com/vipps/fallback/order123abc",
          "maxLength": 255
        },
        "consentRemovalPrefix": {
          "description": "Required for expess checkout payments. This callback URL will be used by Vipps to inform the merchant that the user has revoked his/her consent: This Vipps user does do not want the merchant to store or use his/her personal information anymore. Required by GDPR. Vipps will add `/v2/consents/{userId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "type": "string",
          "example": "https://example.com/vipps",
          "maxLength": 255
        }
      }
    },
    "InitiatePaymentV2Representation": {
      "type": "object",
      "required": [
        "orderId",
        "url"
      ],
      "properties": {
        "url": {
          "description": "URL parameter will have URL to redirect the request to vipps gateway page in case request is trigger from web browser or deeplink URL to open vipps app incase request is triggered from Merchant Mobile App.",
          "type": "string",
          "example": "https://example.com"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters.",
          "type": "string",
          "example": "order123abc"
        }
      }
    },
    "TransactionLogHistory": {
      "type": "object",
      "properties": {
        "transactionText": {
          "type": "string"
        },
        "requestId": {
          "type": "string"
        },
        "operation": {
          "enum": [
            "INITIATE",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID"
          ],
          "description": "The operation that was performed for this log entry. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "example": "RESERVE"
        },
        "amount": {
          "type": "integer",
          "format": "int32"
        },
        "operationSuccess": {
          "type": "boolean"
        },
        "transactionId": {
          "type": "string"
        },
        "timeStamp": {
          "type": "string"
        }
      }
    },
    "PaymentShippingDetails": {
      "type": "object",
      "required": [
        "shippingCost",
        "shippingMethod"
      ],
      "properties": {
        "address": {
          "$ref": "#/definitions/Address"
        },
        "shippingCost": {
          "description": "Shipping Cost",
          "type": "number",
          "format": "double",
          "example": 1500
        },
        "shippingMethod": {
          "description": "Shipping method",
          "type": "string",
          "example": "Posten"
        }
      }
    },
    "GetTransactionDetails": {
      "type": "object",
      "properties": {
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "shippingDetails": {
          "$ref": "#/definitions/PaymentShippingDetails"
        },
        "transactionLogHistory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionLogHistory"
          }
        },
        "orderId": {
          "type": "string",
          "example": "order123abc"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails"
        }
      }
    },
    "FetchShippingCostResponse": {
      "type": "object",
      "required": [
        "addressId",
        "orderId",
        "shippingDetails"
      ],
      "properties": {
        "shippingDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShippingDetails"
          }
        },
        "addressId": {
          "type": "integer",
          "format": "int32"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc"
        }
      }
    },
    "ExpressCheckOutPaymentRequest": {
      "type": "object",
      "required": [
        "merchantSerialNumber",
        "orderId",
        "shippingDetails",
        "userDetails"
      ],
      "properties": {
        "userDetails": {
          "description": "Vipps User Information",
          "$ref": "#/definitions/UserDetails"
        },
        "merchantSerialNumber": {
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "type": "string",
          "minLength": 6,
          "maxLength": 6,
          "example": 123456,
          "pattern": "^\\d{6}$"
        },
        "transactionInfo": {
          "$ref": "#/definitions/CallbackTransactionInfoStatus"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "type": "string",
          "example": "order123abc"
        },
        "shippingDetails": {
          "description": "Shipping Details will be added in the call back request if the payment is Express Checkout",
          "$ref": "#/definitions/ShippingDetailsRequest"
        }
      }
    },
    "Address": {
      "type": "object",
      "required": [
        "addressLine1",
        "city",
        "country",
        "zipCode"
      ],
      "properties": {
        "addressLine1": {
          "description": "Address Line 1",
          "type": "string",
          "example": "Dronning Eufemias gate 42"
        },
        "zipCode": {
          "description": "Zip Code",
          "type": "string",
          "example": "0191"
        },
        "city": {
          "description": "City",
          "type": "string",
          "example": "Oslo"
        },
        "addressLine2": {
          "description": "Address Line 2",
          "type": "string",
          "example": "Att: Rune Garborg"
        },
        "country": {
          "description": "Country,default=NO",
          "type": "string",
          "example": "NO"
        }
      }
    },
    "AuthorizationTokenMethod": {
      "type": "object"
    },
    "FetchShippingCostAndMethod": {
      "type": "object",
      "required": [
        "addressId",
        "addressLine1",
        "city",
        "country",
        "postCode"
      ],
      "properties": {
        "postCode": {
          "description": "Four digits",
          "type": "integer",
          "format": "int32",
          "example": "0191",
          "pattern": "^\\df{4}$"
        },
        "addressType": {
          "type": "string",
          "example": "H"
        },
        "addressLine1": {
          "type": "string",
          "example": "Dronning Eufemias gate 42"
        },
        "postalCode": {
          "description": "Four digits",
          "type": "integer",
          "format": "int32",
          "example": "0191",
          "pattern": "^\\df{4}$"
        },
        "city": {
          "description": "City",
          "type": "string",
          "example": "Oslo"
        },
        "addressId": {
          "description": "Vipps Provided address Id. To be returned in response in the same field",
          "type": "integer",
          "format": "int32"
        },
        "addressLine2": {
          "type": "string"
        },
        "country": {
          "description": "The only country supported is Norway",
          "type": "string",
          "example": "NO"
        }
      }
    }
  }
}