{
  "tags": [
    {
      "description": "Authorization Service",
      "name": "Authorization Service"
    },
    {
      "description": "Functionality provided by the Vipps eCommerce API",
      "name": "Vipps eCom API"
    },
    {
      "description": "These endpoints must be implemented by the merchant, and are called by Vipps.",
      "name": "Endpoints required by Vipps from the merchant"
    }
  ],
  "swagger": "2.0",
  "info": {
    "description": "# Vipps eCommerce API\nAdditional API documentation: https://github.com/vippsas/vipps-ecom-api/\n",
    "version": "1.0.4",
    "title": "Vipps eCommerce APIs"
  },
  "host": "apitest.vipps.no",
  "definitions": {
    "TransactionLogHistory": {
      "properties": {
        "timeStamp": {
          "type": "string"
        },
        "transactionText": {
          "type": "string"
        },
        "operationSuccess": {
          "type": "boolean"
        },
        "transactionId": {
          "type": "string"
        },
        "requestId": {
          "type": "string"
        },
        "amount": {
          "format": "int32",
          "type": "integer"
        },
        "operation": {
          "description": "The operation that was performed for this log entry. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "enum": [
            "INITIATE",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID"
          ],
          "example": "RESERVE",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CallbackTransactionInfoStatus": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "properties": {
        "transactionId": {
          "description": "Vipps transaction id",
          "example": "5001420062",
          "type": "string"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction.",
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string"
        },
        "amount": {
          "format": "double",
          "description": "Ordered amount in øre",
          "example": 20000,
          "type": "number"
        },
        "status": {
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#callbacks) for more information.",
          "enum": [
            "RESERVE",
            "SALE",
            "CANCELLED",
            "REJECTED"
          ],
          "example": "RESERVE",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TransactionResponseCapture": {
      "required": [
        "orderId"
      ],
      "properties": {
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "maxLength": 30,
          "example": "order123abc",
          "type": "string"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCapture"
        }
      },
      "type": "object"
    },
    "Address": {
      "required": [
        "addressLine1",
        "city",
        "country",
        "zipCode"
      ],
      "properties": {
        "country": {
          "description": "Country,default=NO",
          "example": "NO",
          "type": "string"
        },
        "city": {
          "description": "City",
          "example": "Oslo",
          "type": "string"
        },
        "zipCode": {
          "description": "Zip Code",
          "example": "0191",
          "type": "string"
        },
        "addressLine1": {
          "description": "Address Line 1",
          "example": "Dronning Eufemias gate 42",
          "type": "string"
        },
        "addressLine2": {
          "description": "Address Line 2",
          "example": "Att: Rune Garborg",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PaymentActionsRequest": {
      "properties": {
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        },
        "transaction": {
          "$ref": "#/definitions/Transaction"
        }
      },
      "type": "object"
    },
    "InitiatePaymentCommand": {
      "required": [
        "customerInfo",
        "merchantInfo",
        "transaction"
      ],
      "properties": {
        "merchantInfo": {
          "description": "it has merchant related information to initiate the payment",
          "$ref": "#/definitions/MerchantInfoDto"
        },
        "transaction": {
          "description": "it has transaction details which needs to be inititated",
          "$ref": "#/definitions/TransactionInfoInitiateDTO"
        },
        "customerInfo": {
          "description": "it has customer information and it is not required",
          "$ref": "#/definitions/CustomerInfoDto"
        }
      },
      "type": "object"
    },
    "TransactionInfoInitiateDTO": {
      "required": [
        "amount",
        "orderId",
        "transactionText"
      ],
      "properties": {
        "refOrderId": {
          "description": "Identifies if the payment references to some past orders registered with Vipps. If defined, transactions for this payment will show up as child transactions of the specified order.",
          "maxLength": 30,
          "example": "merchantOrder123abc",
          "type": "string"
        },
        "amount": {
          "format": "int32",
          "description": "Amount in øre. 32 bit Integer (2147483647)",
          "example": 20000,
          "pattern": "^\\d{3,}$",
          "type": "integer"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters.",
          "maxLength": 30,
          "example": "order123abc",
          "type": "string"
        },
        "transactionText": {
          "description": "Transaction text that can be displayed to end user",
          "maxLength": 100,
          "example": "One pair of Vipps socks",
          "type": "string"
        },
        "timeStamp": {
          "format": "date-time",
          "description": "ISO formatted date time string.",
          "example": "2018-11-14T15:44:26.590Z",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomerInfoDto": {
      "properties": {
        "mobileNumber": {
          "description": "Mobile number of the user who has to pay for the transation from Vipps. Allowed format: xxxxxxxx",
          "type": "string",
          "minLength": 8,
          "maxLength": 8,
          "example": 91234567,
          "pattern": "^\\d{8}$"
        }
      },
      "type": "object"
    },
    "CancelTransaction": {
      "properties": {
        "transactionText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuthorizationTokenResponse": {
      "properties": {
        "access_token": {
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "type": "string"
        },
        "not_before": {
          "example": 1547819508,
          "type": "integer"
        },
        "expires_in": {
          "example": 3600,
          "type": "integer"
        },
        "expires_on": {
          "example": 1547823408,
          "type": "integer"
        },
        "token_type": {
          "example": "Bearer",
          "type": "string"
        },
        "ext_expires_in": {
          "example": 3600,
          "type": "integer"
        },
        "resource": {
          "example": "00000002-0000-0000-c000-000000000000",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MerchantInfoDto": {
      "required": [
        "callbackPrefix",
        "fallBack",
        "merchantSerialNumber"
      ],
      "properties": {
        "consentRemovalPrefix": {
          "description": "Required for expess checkout payments. This callback URL will be used by Vipps to inform the merchant that the user has revoked his/her consent: This Vipps user does do not want the merchant to store or use his/her personal information anymore. Required by GDPR. Vipps will add `/v2/consents/{userId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "maxLength": 255,
          "example": "https://example.com/vipps",
          "type": "string"
        },
        "merchantSerialNumber": {
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "type": "string",
          "minLength": 6,
          "maxLength": 6,
          "example": 123456,
          "pattern": "^\\d{6}$"
        },
        "fallBack": {
          "description": "Vipps will use the fall back URL to redirect Merchant Page once Payment is completed in Vipps System URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "maxLength": 255,
          "example": "https://example.com/vipps/fallback/order123abc",
          "type": "string"
        },
        "paymentType": {
          "description": "This parameter will identify difference between a regular ecomm payment and ecomm express payment. For express checkout, use: \"eComm Express Payment\". Express checkouts require consentRemovalPrefix.",
          "example": "eComm Regular Payment",
          "enum": [
            "eComm Regular Payment",
            "eComm Express Payment"
          ],
          "default": "eComm Regular Payment",
          "type": "string"
        },
        "callbackPrefix": {
          "description": "This is an URL for receiving the callback after the payment request. Domain name and context path should be provided by merchant as the value for this parameter. Vipps will add `/v2/payments/{orderId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "maxLength": 255,
          "example": "https://example.com/vipps/callbacks",
          "type": "string"
        },
        "isApp": {
          "description": "This parameter indicates whether payment request is triggered from Mobile App or Web browser. Based on this value, response will be redirect URL for Vipps landing page or deeplink URL to connect vipps App. When isApp is set to true, URLs passed to Vipps will not be validated as regular URLs.",
          "example": false,
          "default": false,
          "type": "boolean"
        },
        "authToken": {
          "description": "The Merchant should share this token if merchant has authentication mechanism in place which could be used for making callbacks secure.",
          "maxLength": 255,
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "type": "string"
        },
        "shippingDetailsPrefix": {
          "description": "In case of express checkout payment, merchant should pass this prefix to let Vipps fetch shipping cost and method related details. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end or this URL.",
          "maxLength": 255,
          "example": "https://example.com/vipps/shipping/",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuthorizationTokenMethod": {
      "type": "object"
    },
    "OrderStatusInfoTransactionInfo": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "properties": {
        "transactionId": {
          "description": "Vipps transaction id",
          "example": "5001420062",
          "type": "string"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction.",
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string"
        },
        "amount": {
          "format": "double",
          "description": "Ordered amount in øre",
          "example": 20000,
          "type": "number"
        },
        "status": {
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "enum": [
            "INITIATE",
            "REGISTER",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID",
            "FAILED",
            "REJECTED"
          ],
          "example": "RESERVE",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ShippingDetails": {
      "required": [
        "isDefault",
        "shippingCost",
        "shippingMethod",
        "shippingMethodId"
      ],
      "properties": {
        "shippingMethod": {
          "type": "string"
        },
        "isDefault": {
          "enum": [
            "Y",
            "N"
          ],
          "type": "string"
        },
        "shippingMethodId": {
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "shippingCost": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "MerchantInfoPayment": {
      "required": [
        "merchantSerialNumber"
      ],
      "properties": {
        "merchantSerialNumber": {
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "type": "string",
          "minLength": 6,
          "maxLength": 6,
          "example": 123456,
          "pattern": "^\\d{6}$"
        }
      },
      "type": "object"
    },
    "CancelPaymentActionRequest": {
      "properties": {
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        },
        "transaction": {
          "$ref": "#/definitions/CancelTransaction"
        }
      },
      "type": "object"
    },
    "GetPaymentStatusResponse": {
      "properties": {
        "orderId": {
          "example": "order123abc",
          "type": "string"
        },
        "transactionInfo": {
          "$ref": "#/definitions/OrderStatusInfoTransactionInfo"
        }
      },
      "type": "object"
    },
    "ShippingDetailsRequest": {
      "required": [
        "address",
        "shippingCost",
        "shippingMethod"
      ],
      "properties": {
        "shippingMethod": {
          "description": "Shipping method which choosed for the payment",
          "type": "string"
        },
        "address": {
          "description": "Address Details",
          "$ref": "#/definitions/Address"
        },
        "shippingCost": {
          "format": "double",
          "description": "Shipping cost",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ExpressCheckOutPaymentRequest": {
      "required": [
        "merchantSerialNumber",
        "orderId",
        "shippingDetails",
        "userDetails"
      ],
      "properties": {
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "example": "order123abc",
          "type": "string"
        },
        "merchantSerialNumber": {
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "type": "string",
          "minLength": 6,
          "maxLength": 6,
          "example": 123456,
          "pattern": "^\\d{6}$"
        },
        "shippingDetails": {
          "description": "Shipping Details will be added in the call back request if the payment is Express Checkout",
          "$ref": "#/definitions/ShippingDetailsRequest"
        },
        "userDetails": {
          "description": "Vipps User Information",
          "$ref": "#/definitions/UserDetails"
        },
        "transactionInfo": {
          "$ref": "#/definitions/CallbackTransactionInfoStatus"
        }
      },
      "type": "object"
    },
    "TransactionInfoCapture": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "transactionId": {
          "description": "Vipps transaction id",
          "example": "5001420062",
          "type": "string"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string"
        },
        "amount": {
          "format": "double",
          "description": "Ordered amount in øre",
          "example": 20000,
          "type": "number"
        },
        "transactionText": {
          "description": "Transaction text reference provided by merchant",
          "example": "One pair of Vipps socks",
          "type": "string"
        },
        "status": {
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "enum": [
            "Captured"
          ],
          "example": "Captured",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TransactionResponseCancel": {
      "required": [
        "orderId"
      ],
      "properties": {
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "maxLength": 30,
          "example": "order123abc",
          "type": "string"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCancel"
        }
      },
      "type": "object"
    },
    "TransactionResponseRefund": {
      "required": [
        "orderId"
      ],
      "properties": {
        "transaction": {
          "$ref": "#/definitions/TransactionInfoRefund"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "maxLength": 30,
          "example": "order123abc",
          "type": "string"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      },
      "type": "object"
    },
    "TransactionInfoRefund": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "transactionId": {
          "description": "Vipps transaction id",
          "example": "5001420062",
          "type": "string"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string"
        },
        "amount": {
          "format": "double",
          "description": "Ordered amount in øre",
          "example": 20000,
          "type": "number"
        },
        "transactionText": {
          "description": "Transaction text reference provided by merchant",
          "example": "One pair of Vipps socks",
          "type": "string"
        },
        "status": {
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "enum": [
            "Refund"
          ],
          "example": "Refund",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FetchShippingCostAndMethod": {
      "required": [
        "addressId",
        "addressLine1",
        "city",
        "country",
        "postCode"
      ],
      "properties": {
        "postalCode": {
          "format": "int32",
          "description": "Four digits",
          "example": "0191",
          "pattern": "^\\df{4}$",
          "type": "integer"
        },
        "postCode": {
          "format": "int32",
          "description": "Four digits",
          "example": "0191",
          "pattern": "^\\df{4}$",
          "type": "integer"
        },
        "country": {
          "description": "The only country supported is Norway",
          "example": "NO",
          "type": "string"
        },
        "addressLine1": {
          "example": "Dronning Eufemias gate 42",
          "type": "string"
        },
        "addressLine2": {
          "type": "string"
        },
        "city": {
          "description": "City",
          "example": "Oslo",
          "type": "string"
        },
        "addressId": {
          "format": "int32",
          "description": "Vipps Provided address Id. To be returned in response in the same field",
          "type": "integer"
        },
        "addressType": {
          "example": "H",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserDetails": {
      "required": [
        "email",
        "firstName",
        "lastName",
        "mobileNumber",
        "userId"
      ],
      "properties": {
        "userId": {
          "description": "1234567",
          "example": "1234567",
          "type": "string"
        },
        "lastName": {
          "description": "Last name",
          "example": "Lovelace",
          "type": "string"
        },
        "bankIdVerified": {
          "type": "string"
        },
        "firstName": {
          "description": "First name",
          "example": "Ada",
          "type": "string"
        },
        "email": {
          "description": "Email address",
          "example": "user@example.com",
          "type": "string"
        },
        "dateOfBirth": {
          "description": "12-3-1988",
          "example": "12-3-1988",
          "type": "string"
        },
        "mobileNumber": {
          "description": "12345678",
          "maxLength": 12,
          "type": "string",
          "minLength": 8,
          "pattern": "^\\d{8,12}$"
        },
        "ssn": {
          "description": "12345678912",
          "maxLength": 11,
          "type": "string",
          "minLength": 11,
          "pattern": "^\\d{11}$"
        }
      },
      "type": "object"
    },
    "TransactionSummary": {
      "required": [
        "capturedAmount",
        "refundedAmount",
        "remainingAmountToCapture",
        "remainingAmountToRefund"
      ],
      "properties": {
        "remainingAmountToCapture": {
          "format": "int32",
          "description": "Total remaining amount to capture",
          "example": 0,
          "type": "integer"
        },
        "refundedAmount": {
          "format": "int32",
          "description": "Total refunded amount of the order",
          "example": 0,
          "type": "integer"
        },
        "remainingAmountToRefund": {
          "format": "int32",
          "description": "Total remaining amount to refund",
          "example": 20000,
          "type": "integer"
        },
        "capturedAmount": {
          "format": "int32",
          "description": "Total amount captured",
          "example": 20000,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "PaymentShippingDetails": {
      "required": [
        "shippingCost",
        "shippingMethod"
      ],
      "properties": {
        "shippingMethod": {
          "description": "Shipping method",
          "example": "Posten",
          "type": "string"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "shippingCost": {
          "format": "double",
          "description": "Shipping Cost",
          "example": 1500,
          "type": "number"
        }
      },
      "type": "object"
    },
    "InitiatePaymentV2Representation": {
      "required": [
        "orderId",
        "url"
      ],
      "properties": {
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters.",
          "example": "order123abc",
          "type": "string"
        },
        "url": {
          "description": "URL parameter will have URL to redirect the request to vipps gateway page in case request is trigger from web browser or deeplink URL to open vipps app incase request is triggered from Merchant Mobile App.",
          "example": "https://example.com",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetTransactionDetails": {
      "properties": {
        "transactionLogHistory": {
          "items": {
            "$ref": "#/definitions/TransactionLogHistory"
          },
          "type": "array"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "shippingDetails": {
          "$ref": "#/definitions/PaymentShippingDetails"
        },
        "orderId": {
          "example": "order123abc",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Transaction": {
      "required": [
        "transactionText"
      ],
      "properties": {
        "amount": {
          "format": "int32",
          "description": "Amount in øre, if amount is 0 or not provided then full capture will be performed. 32 Bit Integer (2147483647)",
          "example": 20000,
          "pattern": "^\\d{3,}$",
          "type": "integer"
        },
        "transactionText": {
          "description": "Proof of delivery",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TransactionInfoCancel": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "transactionId": {
          "description": "Vipps transaction id",
          "example": "5001420062",
          "type": "string"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string"
        },
        "amount": {
          "format": "double",
          "description": "Ordered amount in øre",
          "example": 20000,
          "type": "number"
        },
        "transactionText": {
          "description": "Transaction text reference provided by merchant",
          "example": "One pair of Vipps socks",
          "type": "string"
        },
        "status": {
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "enum": [
            "Cancelled"
          ],
          "example": "Cancelled",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FetchShippingCostResponse": {
      "required": [
        "addressId",
        "orderId",
        "shippingDetails"
      ],
      "properties": {
        "addressId": {
          "format": "int32",
          "type": "integer"
        },
        "orderId": {
          "example": "order123abc",
          "type": "string"
        },
        "shippingDetails": {
          "items": {
            "$ref": "#/definitions/ShippingDetails"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "paths": {
    "/ecomm/v2/payments/{orderId}/cancel": {
      "put": {
        "tags": [
          "Vipps eCom API"
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "operationId": "cancelPaymentRequestUsingPUT",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "required": true,
            "in": "path",
            "name": "orderId",
            "type": "string"
          },
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "required": true,
            "in": "header",
            "name": "authorization",
            "type": "string"
          },
          {
            "description": "`application/json`",
            "required": true,
            "in": "header",
            "name": "content-type",
            "type": "string"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "in": "header",
            "name": "ocp-apim-subscription-key",
            "type": "string"
          },
          {
            "description": "paymentActionsRequest",
            "required": true,
            "in": "body",
            "name": "paymentActionsRequest",
            "schema": {
              "$ref": "#/definitions/CancelPaymentActionRequest"
            }
          }
        ],
        "summary": "Cancel Payment",
        "description": "The API call allows merchant to cancel the reserved transaction, The API will not allow partial cancellation which has the consequence that partially captured transactions cannot be cancelled. Please note that in a case of communication errors during initiate payment service call between Vipps and PSP/Acquirer/Issuer; even in a case that customer has confirmed a payment, the payment will be cancelled by Vipps. Note this means you can not cancel a captured payment.",
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Failed"
          },
          "200": {
            "description": "Cancel payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseCancel"
            }
          },
          "404": {
            "description": "Resource Not Found"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        }
      }
    },
    "/ecomm/v2/payments/{orderId}/details": {
      "get": {
        "tags": [
          "Vipps eCom API"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "getPaymentDetailsUsingGET",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "required": true,
            "in": "path",
            "name": "orderId",
            "type": "string"
          },
          {
            "description": "Authorization-token is obtained by running the `/accesstoken/get` request.",
            "required": true,
            "in": "header",
            "name": "authorization",
            "type": "string"
          },
          {
            "description": "`application/json`",
            "required": true,
            "in": "header",
            "name": "content-type",
            "type": "string"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "in": "header",
            "name": "ocp-apim-subscription-key",
            "type": "string"
          }
        ],
        "summary": "Get payment Details",
        "description": "This API call allows merchant to get the details of a payment transaction. Service call returns detailed transaction history of given payment where events are sorted by the time single transaction occurred.",
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Failed"
          },
          "200": {
            "description": "Get payment Details",
            "schema": {
              "$ref": "#/definitions/GetTransactionDetails"
            }
          },
          "404": {
            "description": "Resource Not Found"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        }
      }
    },
    "/ecomm/v2/payments/{orderId}/capture": {
      "post": {
        "tags": [
          "Vipps eCom API"
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "operationId": "capturePaymentUsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "required": true,
            "in": "path",
            "name": "orderId",
            "type": "string"
          },
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "required": true,
            "in": "header",
            "name": "authorization",
            "type": "string"
          },
          {
            "description": "`application/json`",
            "required": true,
            "in": "header",
            "name": "content-type",
            "type": "string"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "in": "header",
            "name": "ocp-apim-subscription-key",
            "type": "string"
          },
          {
            "description": "paymentActionsRequest",
            "required": true,
            "in": "body",
            "name": "paymentActionsRequest",
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            }
          }
        ],
        "summary": "Capture Payment ",
        "description": "This API call allows merchant to capture the reserved amount. Amount to capture cannot be higher than reserved. The API also allows capturing partial amount of the reserved amount. Partial capture can be called as many times as required so long there is reserved amount to capture. Transaction text is not optional and is used as a proof of delivery (tracking code, consignment number etc.). In a case of direct capture, both fund reservation and capture are executed in a single operation.",
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Failed"
          },
          "200": {
            "description": "Capture payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseCapture"
            }
          },
          "404": {
            "description": "Resource Not Found"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        }
      }
    },
    "/accesstoken/get": {
      "post": {
        "tags": [
          "Authorization Service"
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "operationId": "fetchAuthorizationTokenUsingPost",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "description": "Client id is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "format": "guid",
            "name": "client_id",
            "type": "string",
            "required": true,
            "in": "header"
          },
          {
            "description": "Client secret is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "in": "header",
            "name": "client_secret",
            "type": "string"
          },
          {
            "description": "The subscription-key for authorization token is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. The ```DEFAULT_ACCESSTOKEN``` key is the value for subscription-key. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "in": "header",
            "name": "ocp-apim-subscription-key",
            "type": "string"
          }
        ],
        "summary": "Fetch authorization token",
        "description": "Authorization token API endpoint helps to get the JWT Bearer token that needs to be passed in every API request in the authorization header. The merchant application use the API to get a JWT access token. JWT access token is a base 64 encoded string value that must be aquire first before making any Vipps api calls",
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Failed"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuthorizationTokenResponse"
            }
          },
          "404": {
            "description": "Resource Not Found"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        }
      }
    },
    "[callbackPrefix]/v2/payments/{orderId}": {
      "post": {
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "operationId": "transactionUpdateCallbackForRegularPaymentUsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "description": "orderId",
            "required": true,
            "in": "path",
            "name": "orderId",
            "type": "string"
          },
          {
            "description": "expressCheckOutPaymentRequest",
            "required": true,
            "in": "body",
            "name": "expressCheckOutPaymentRequest",
            "schema": {
              "$ref": "#/definitions/ExpressCheckOutPaymentRequest"
            }
          }
        ],
        "summary": "Callback : Transaction Update",
        "description": "This API call allows Vipps to send the transaction details. During regular ecomm payment order and transaction details will be shared. During express checkout payment it will provide user details and shipping details addition to the order and transaction details. Vipps will add `/v2/payments/{orderId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Failed"
          },
          "200": {
            "description": "Callback : Transaction Update"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong on the Vipps server side"
          }
        }
      }
    },
    "/ecomm/v2/payments/{orderId}/refund": {
      "post": {
        "tags": [
          "Vipps eCom API"
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "operationId": "refundPaymentUsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "required": true,
            "in": "path",
            "name": "orderId",
            "type": "string"
          },
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "required": true,
            "in": "header",
            "name": "authorization",
            "type": "string"
          },
          {
            "description": "`application/json`",
            "required": true,
            "in": "header",
            "name": "content-type",
            "type": "string"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "in": "header",
            "name": "ocp-apim-subscription-key",
            "type": "string"
          },
          {
            "description": "paymentActionsRequest",
            "required": true,
            "in": "body",
            "name": "paymentActionsRequest",
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            }
          }
        ],
        "summary": "Refund Payment ",
        "description": "The API allows a merchant to do a refund of already captured transaction. There is an option to do a partial refund of the captured amount. Refunded amount cannot be larger than captured. Timeframe for issuing a refund for a payment is 365 days from the date payment has been captured. If the refund payment service call is called after the refund timeframe, service call will respond with an error. Refunded funds will be transferred from the merchant account to the customer credit card that was used in payment flow. Pay attention that in order to perform refund, there must be enough funds at merchant settlements account.",
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Failed"
          },
          "200": {
            "description": "Refund payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseRefund"
            }
          },
          "404": {
            "description": "Resource Not Found"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        }
      }
    },
    "[shippingDetailsPrefix]/v2/payments/{orderId}/shippingDetails": {
      "post": {
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "operationId": "fetchShippingCostUsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "description": "orderId",
            "required": true,
            "in": "path",
            "name": "orderId",
            "type": "string"
          },
          {
            "description": "fetchShippingCostAndMethod",
            "required": true,
            "in": "body",
            "name": "fetchShippingCostAndMethod",
            "schema": {
              "$ref": "#/definitions/FetchShippingCostAndMethod"
            }
          }
        ],
        "summary": "Fetch Shipping Cost & Method",
        "description": "This API endpoint on the merchant side allows Vipps to get the shipping cost and method based on the provided address and product details. The primary use of this service is Vipps Hurtigkasse (express checkout) where Vipps needs to present shipping cost and method to the Vipps user. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Failed"
          },
          "200": {
            "description": "Fetch Shipping Cost & Method.",
            "schema": {
              "$ref": "#/definitions/FetchShippingCostResponse"
            }
          },
          "404": {
            "description": "Resource Not Found"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        }
      }
    },
    "/ecomm/v2/payments": {
      "post": {
        "tags": [
          "Vipps eCom API"
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "operationId": "initiatePaymentV3UsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "required": true,
            "in": "header",
            "name": "authorization",
            "type": "string"
          },
          {
            "description": "application/json",
            "required": true,
            "in": "header",
            "name": "content-type",
            "type": "string"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "in": "header",
            "name": "ocp-apim-subscription-key",
            "type": "string"
          },
          {
            "description": "initiatePaymentCommand",
            "required": true,
            "in": "body",
            "name": "initiatePaymentCommand",
            "schema": {
              "$ref": "#/definitions/InitiatePaymentCommand"
            }
          }
        ],
        "summary": "Initiate Payment",
        "description": "This API call allows the merchants to initiate a payment flow by using Vipps. In order to identify which sales channel payments are coming from, a merchantSerialNumber is used to distinguish between them. Please note that a single payment is uniquely identified by a composite of merchantApplicationId (X-App-ID), merchantSerialNumber and orderId. The Merchant provided orderId must be unique per sales channel. Once the transaction is successfully initiated in Vipps, will you receive a redirect URL in response which has to be used by the merchant to open the Vipps landing page. The landing page will have functionality to identify and differentiate request coming from mobile browser/desktop browser. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "402": {
            "description": "Payment Failed"
          },
          "202": {
            "description": "Response for Initiate Payment",
            "schema": {
              "$ref": "#/definitions/InitiatePaymentV2Representation"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        }
      }
    },
    "[consentRemovalPrefix]/v2/consents/{userId}": {
      "delete": {
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "removeUserConsentUsingDELETE",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "description": "The userId provided when requesting user information from Vipps. Received by callback or get detail request.",
            "required": true,
            "in": "path",
            "name": "userId",
            "type": "string"
          }
        ],
        "summary": "Remove User Consent (for express checkout)",
        "description": "This API endpoint on the merchant side allows Vipps to send consent removal requests to the merchant. When receiving requests the merchant is obliged to remove the user details permanently, as per the GDPR guidelines. Vipps will add `/v2/consents/{userId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Remove User Consent (for express checkout)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        }
      }
    },
    "/ecomm/v2/payments/{orderId}/status": {
      "get": {
        "tags": [
          "Vipps eCom API"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "getOrderStatusUsingGET",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "required": true,
            "in": "path",
            "name": "orderId",
            "type": "string"
          },
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "required": true,
            "in": "header",
            "name": "authorization",
            "type": "string"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "in": "header",
            "name": "ocp-apim-subscription-key",
            "type": "string"
          }
        ],
        "summary": "Get order status",
        "description": "This API call allows the merchant to get the status of the last payment transaction. Primarily use of this service is meant for inApp where simple response to check order status is preferred.",
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Failed"
          },
          "200": {
            "description": "Get order status",
            "schema": {
              "$ref": "#/definitions/GetPaymentStatusResponse"
            }
          },
          "404": {
            "description": "Resource Not Found"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        }
      }
    }
  }
}