{
  "host": "apitest.vipps.no",
  "info": {
    "title": "Vipps eCommerce APIs",
    "version": "1.0.4",
    "description": "# Vipps eCommerce API\nAdditional API documentation: https://github.com/vippsas/vipps-ecom-api/\n"
  },
  "swagger": "2.0",
  "tags": [
    {
      "name": "Authorization Service",
      "description": "Authorization Service"
    },
    {
      "name": "Vipps eCom API",
      "description": "Functionality provided by the Vipps eCommerce API"
    },
    {
      "name": "Endpoints required by Vipps from the merchant",
      "description": "These endpoints must be implemented by the merchant, and are called by Vipps."
    }
  ],
  "definitions": {
    "TransactionLogHistory": {
      "properties": {
        "timeStamp": {
          "type": "string"
        },
        "transactionText": {
          "type": "string"
        },
        "operationSuccess": {
          "type": "boolean"
        },
        "operation": {
          "type": "string",
          "enum": [
            "INITIATE",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID"
          ],
          "example": "RESERVE",
          "description": "The operation that was performed for this log entry. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "amount": {
          "type": "integer",
          "format": "int32"
        },
        "transactionId": {
          "type": "string"
        },
        "requestId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelTransaction": {
      "properties": {
        "transactionText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetPaymentStatusResponse": {
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/OrderStatusInfoTransactionInfo"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc"
        }
      },
      "type": "object"
    },
    "TransactionInfoCancel": {
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "Cancelled"
          ],
          "example": "Cancelled",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        },
        "transactionId": {
          "type": "string",
          "example": "5001420062",
          "description": "Vipps transaction id"
        },
        "transactionText": {
          "type": "string",
          "example": "One pair of Vipps socks",
          "description": "Transaction text reference provided by merchant"
        },
        "amount": {
          "type": "number",
          "example": 20000,
          "format": "double",
          "description": "Ordered amount in øre"
        }
      },
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ]
    },
    "TransactionInfoInitiateDTO": {
      "properties": {
        "refOrderId": {
          "type": "string",
          "maxLength": 30,
          "example": "merchantOrder123abc",
          "description": "Identifies if the payment references to some past orders registered with Vipps. If defined, transactions for this payment will show up as child transactions of the specified order."
        },
        "timeStamp": {
          "type": "string",
          "example": "2018-11-14T15:44:26.590Z",
          "format": "date-time",
          "description": "ISO formatted date time string."
        },
        "orderId": {
          "type": "string",
          "maxLength": 30,
          "example": "order123abc",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters."
        },
        "transactionText": {
          "type": "string",
          "maxLength": 100,
          "example": "One pair of Vipps socks",
          "description": "Transaction text that can be displayed to end user"
        },
        "amount": {
          "format": "int32",
          "type": "integer",
          "example": 20000,
          "pattern": "^\\d{3,}$",
          "description": "Amount in øre. 32 bit Integer (2147483647)"
        }
      },
      "type": "object",
      "required": [
        "amount",
        "orderId",
        "transactionText"
      ]
    },
    "ShippingDetailsRequest": {
      "properties": {
        "shippingCost": {
          "type": "number",
          "format": "double",
          "description": "Shipping cost"
        },
        "address": {
          "$ref": "#/definitions/Address",
          "description": "Address Details"
        },
        "shippingMethod": {
          "type": "string",
          "description": "Shipping method which choosed for the payment"
        }
      },
      "type": "object",
      "required": [
        "address",
        "shippingCost",
        "shippingMethod"
      ]
    },
    "TransactionResponseRefund": {
      "properties": {
        "orderId": {
          "type": "string",
          "example": "order123abc",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "maxLength": 30
        },
        "transaction": {
          "$ref": "#/definitions/TransactionInfoRefund"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      },
      "type": "object",
      "required": [
        "orderId"
      ]
    },
    "ExpressCheckOutPaymentRequest": {
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/CallbackTransactionInfoStatus"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "Vipps User Information"
        },
        "merchantSerialNumber": {
          "type": "string",
          "example": 123456,
          "maxLength": 6,
          "minLength": 6,
          "pattern": "^\\d{6}$",
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN."
        },
        "orderId": {
          "type": "string",
          "example": "order123abc",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters"
        },
        "shippingDetails": {
          "$ref": "#/definitions/ShippingDetailsRequest",
          "description": "Shipping Details will be added in the call back request if the payment is Express Checkout"
        }
      },
      "type": "object",
      "required": [
        "merchantSerialNumber",
        "orderId",
        "shippingDetails",
        "userDetails"
      ]
    },
    "GetTransactionDetails": {
      "properties": {
        "userDetails": {
          "$ref": "#/definitions/UserDetails"
        },
        "shippingDetails": {
          "$ref": "#/definitions/PaymentShippingDetails"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc"
        },
        "transactionLogHistory": {
          "items": {
            "$ref": "#/definitions/TransactionLogHistory"
          },
          "type": "array"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      },
      "type": "object"
    },
    "MerchantInfoPayment": {
      "properties": {
        "merchantSerialNumber": {
          "type": "string",
          "example": 123456,
          "maxLength": 6,
          "minLength": 6,
          "pattern": "^\\d{6}$",
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN."
        }
      },
      "type": "object",
      "required": [
        "merchantSerialNumber"
      ]
    },
    "Address": {
      "properties": {
        "addressLine1": {
          "type": "string",
          "example": "Dronning Eufemias gate 42",
          "description": "Address Line 1"
        },
        "zipCode": {
          "type": "string",
          "example": "0191",
          "description": "Zip Code"
        },
        "addressLine2": {
          "type": "string",
          "example": "Att: Rune Garborg",
          "description": "Address Line 2"
        },
        "city": {
          "type": "string",
          "example": "Oslo",
          "description": "City"
        },
        "country": {
          "type": "string",
          "example": "NO",
          "description": "Country,default=NO"
        }
      },
      "type": "object",
      "required": [
        "addressLine1",
        "city",
        "country",
        "zipCode"
      ]
    },
    "ShippingDetails": {
      "properties": {
        "shippingCost": {
          "type": "number",
          "format": "double"
        },
        "shippingMethod": {
          "type": "string"
        },
        "shippingMethodId": {
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "isDefault": {
          "type": "string",
          "enum": [
            "Y",
            "N"
          ]
        }
      },
      "type": "object",
      "required": [
        "isDefault",
        "shippingCost",
        "shippingMethod",
        "shippingMethodId"
      ]
    },
    "InitiatePaymentV2Representation": {
      "properties": {
        "url": {
          "type": "string",
          "example": "https://example.com",
          "description": "URL parameter will have URL to redirect the request to vipps gateway page in case request is trigger from web browser or deeplink URL to open vipps app incase request is triggered from Merchant Mobile App."
        },
        "orderId": {
          "type": "string",
          "example": "order123abc",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters."
        }
      },
      "type": "object",
      "required": [
        "orderId",
        "url"
      ]
    },
    "UserDetails": {
      "properties": {
        "bankIdVerified": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "example": "user@example.com",
          "description": "Email address"
        },
        "ssn": {
          "type": "string",
          "minLength": 11,
          "description": "12345678912",
          "pattern": "^\\d{11}$",
          "maxLength": 11
        },
        "dateOfBirth": {
          "type": "string",
          "example": "12-3-1988",
          "description": "12-3-1988"
        },
        "userId": {
          "type": "string",
          "example": "1234567",
          "description": "1234567"
        },
        "lastName": {
          "type": "string",
          "example": "Lovelace",
          "description": "Last name"
        },
        "mobileNumber": {
          "type": "string",
          "minLength": 8,
          "description": "12345678",
          "pattern": "^\\d{8,12}$",
          "maxLength": 12
        },
        "firstName": {
          "type": "string",
          "example": "Ada",
          "description": "First name"
        }
      },
      "type": "object",
      "required": [
        "email",
        "firstName",
        "lastName",
        "mobileNumber",
        "userId"
      ]
    },
    "CallbackTransactionInfoStatus": {
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "RESERVE",
            "SALE",
            "CANCELLED",
            "REJECTED"
          ],
          "example": "RESERVE",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#callbacks) for more information."
        },
        "timeStamp": {
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction."
        },
        "transactionId": {
          "type": "string",
          "example": "5001420062",
          "description": "Vipps transaction id"
        },
        "amount": {
          "type": "number",
          "example": 20000,
          "format": "double",
          "description": "Ordered amount in øre"
        }
      },
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ]
    },
    "OrderStatusInfoTransactionInfo": {
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "INITIATE",
            "REGISTER",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID",
            "FAILED",
            "REJECTED"
          ],
          "example": "RESERVE",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction."
        },
        "transactionId": {
          "type": "string",
          "example": "5001420062",
          "description": "Vipps transaction id"
        },
        "amount": {
          "type": "number",
          "example": 20000,
          "format": "double",
          "description": "Ordered amount in øre"
        }
      },
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ]
    },
    "AuthorizationTokenResponse": {
      "properties": {
        "ext_expires_in": {
          "type": "integer",
          "example": 3600
        },
        "expires_on": {
          "type": "integer",
          "example": 1547823408
        },
        "not_before": {
          "type": "integer",
          "example": 1547819508
        },
        "token_type": {
          "type": "string",
          "example": "Bearer"
        },
        "resource": {
          "type": "string",
          "example": "00000002-0000-0000-c000-000000000000"
        },
        "expires_in": {
          "type": "integer",
          "example": 3600
        },
        "access_token": {
          "type": "string",
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>"
        }
      },
      "type": "object"
    },
    "TransactionResponseCancel": {
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCancel"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "maxLength": 30
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      },
      "type": "object",
      "required": [
        "orderId"
      ]
    },
    "MerchantInfoDto": {
      "properties": {
        "merchantSerialNumber": {
          "type": "string",
          "example": 123456,
          "maxLength": 6,
          "minLength": 6,
          "pattern": "^\\d{6}$",
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN."
        },
        "paymentType": {
          "type": "string",
          "enum": [
            "eComm Regular Payment",
            "eComm Express Payment"
          ],
          "example": "eComm Regular Payment",
          "default": "eComm Regular Payment",
          "description": "This parameter will identify difference between a regular ecomm payment and ecomm express payment. For express checkout, use: \"eComm Express Payment\". Express checkouts require consentRemovalPrefix."
        },
        "isApp": {
          "type": "boolean",
          "example": false,
          "default": false,
          "description": "This parameter indicates whether payment request is triggered from Mobile App or Web browser. Based on this value, response will be redirect URL for Vipps landing page or deeplink URL to connect vipps App. When isApp is set to true, URLs passed to Vipps will not be validated as regular URLs."
        },
        "authToken": {
          "type": "string",
          "maxLength": 255,
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "description": "The Merchant should share this token if merchant has authentication mechanism in place which could be used for making callbacks secure."
        },
        "shippingDetailsPrefix": {
          "type": "string",
          "maxLength": 255,
          "example": "https://example.com/vipps/shipping/",
          "description": "In case of express checkout payment, merchant should pass this prefix to let Vipps fetch shipping cost and method related details. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end or this URL."
        },
        "consentRemovalPrefix": {
          "type": "string",
          "maxLength": 255,
          "example": "https://example.com/vipps",
          "description": "Required for expess checkout payments. This callback URL will be used by Vipps to inform the merchant that the user has revoked his/her consent: This Vipps user does do not want the merchant to store or use his/her personal information anymore. Required by GDPR. Vipps will add `/v2/consents/{userId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
        },
        "callbackPrefix": {
          "type": "string",
          "maxLength": 255,
          "example": "https://example.com/vipps/callbacks",
          "description": "This is an URL for receiving the callback after the payment request. Domain name and context path should be provided by merchant as the value for this parameter. Vipps will add `/v2/payments/{orderId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
        },
        "fallBack": {
          "type": "string",
          "maxLength": 255,
          "example": "https://example.com/vipps/fallback/order123abc",
          "description": "Vipps will use the fall back URL to redirect Merchant Page once Payment is completed in Vipps System URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
        }
      },
      "type": "object",
      "required": [
        "callbackPrefix",
        "fallBack",
        "merchantSerialNumber"
      ]
    },
    "Transaction": {
      "properties": {
        "transactionText": {
          "type": "string",
          "description": "Proof of delivery"
        },
        "amount": {
          "format": "int32",
          "type": "integer",
          "example": 20000,
          "pattern": "^\\d{3,}$",
          "description": "Amount in øre, if amount is 0 or not provided then full capture will be performed. 32 Bit Integer (2147483647)"
        }
      },
      "type": "object",
      "required": [
        "transactionText"
      ]
    },
    "PaymentActionsRequest": {
      "properties": {
        "transaction": {
          "$ref": "#/definitions/Transaction"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        }
      },
      "type": "object"
    },
    "TransactionResponseCapture": {
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCapture"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "maxLength": 30
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      },
      "type": "object",
      "required": [
        "orderId"
      ]
    },
    "FetchShippingCostAndMethod": {
      "properties": {
        "addressLine1": {
          "type": "string",
          "example": "Dronning Eufemias gate 42"
        },
        "postalCode": {
          "format": "int32",
          "type": "integer",
          "example": "0191",
          "pattern": "^\\df{4}$",
          "description": "Four digits"
        },
        "addressType": {
          "type": "string",
          "example": "H"
        },
        "country": {
          "type": "string",
          "example": "NO",
          "description": "The only country supported is Norway"
        },
        "addressId": {
          "type": "integer",
          "format": "int32",
          "description": "Vipps Provided address Id. To be returned in response in the same field"
        },
        "postCode": {
          "format": "int32",
          "type": "integer",
          "example": "0191",
          "pattern": "^\\df{4}$",
          "description": "Four digits"
        },
        "addressLine2": {
          "type": "string"
        },
        "city": {
          "type": "string",
          "example": "Oslo",
          "description": "City"
        }
      },
      "type": "object",
      "required": [
        "addressId",
        "addressLine1",
        "city",
        "country",
        "postCode"
      ]
    },
    "CancelPaymentActionRequest": {
      "properties": {
        "transaction": {
          "$ref": "#/definitions/CancelTransaction"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        }
      },
      "type": "object"
    },
    "FetchShippingCostResponse": {
      "properties": {
        "orderId": {
          "type": "string",
          "example": "order123abc"
        },
        "addressId": {
          "type": "integer",
          "format": "int32"
        },
        "shippingDetails": {
          "items": {
            "$ref": "#/definitions/ShippingDetails"
          },
          "type": "array"
        }
      },
      "type": "object",
      "required": [
        "addressId",
        "orderId",
        "shippingDetails"
      ]
    },
    "CustomerInfoDto": {
      "properties": {
        "mobileNumber": {
          "type": "string",
          "example": 91234567,
          "maxLength": 8,
          "minLength": 8,
          "pattern": "^\\d{8}$",
          "description": "Mobile number of the user who has to pay for the transation from Vipps. Allowed format: xxxxxxxx"
        }
      },
      "type": "object"
    },
    "PaymentShippingDetails": {
      "properties": {
        "shippingCost": {
          "type": "number",
          "example": 1500,
          "format": "double",
          "description": "Shipping Cost"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "shippingMethod": {
          "type": "string",
          "example": "Posten",
          "description": "Shipping method"
        }
      },
      "type": "object",
      "required": [
        "shippingCost",
        "shippingMethod"
      ]
    },
    "InitiatePaymentCommand": {
      "properties": {
        "transaction": {
          "$ref": "#/definitions/TransactionInfoInitiateDTO",
          "description": "it has transaction details which needs to be inititated"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoDto",
          "description": "it has merchant related information to initiate the payment"
        },
        "customerInfo": {
          "$ref": "#/definitions/CustomerInfoDto",
          "description": "it has customer information and it is not required"
        }
      },
      "type": "object",
      "required": [
        "customerInfo",
        "merchantInfo",
        "transaction"
      ]
    },
    "AuthorizationTokenMethod": {
      "type": "object"
    },
    "TransactionInfoCapture": {
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "Captured"
          ],
          "example": "Captured",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        },
        "transactionId": {
          "type": "string",
          "example": "5001420062",
          "description": "Vipps transaction id"
        },
        "transactionText": {
          "type": "string",
          "example": "One pair of Vipps socks",
          "description": "Transaction text reference provided by merchant"
        },
        "amount": {
          "type": "number",
          "example": 20000,
          "format": "double",
          "description": "Ordered amount in øre"
        }
      },
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ]
    },
    "TransactionInfoRefund": {
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "Refund"
          ],
          "example": "Refund",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        },
        "transactionId": {
          "type": "string",
          "example": "5001420062",
          "description": "Vipps transaction id"
        },
        "transactionText": {
          "type": "string",
          "example": "One pair of Vipps socks",
          "description": "Transaction text reference provided by merchant"
        },
        "amount": {
          "type": "number",
          "example": 20000,
          "format": "double",
          "description": "Ordered amount in øre"
        }
      },
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ]
    },
    "TransactionSummary": {
      "properties": {
        "capturedAmount": {
          "type": "integer",
          "example": 20000,
          "format": "int32",
          "description": "Total amount captured"
        },
        "remainingAmountToCapture": {
          "type": "integer",
          "example": 0,
          "format": "int32",
          "description": "Total remaining amount to capture"
        },
        "refundedAmount": {
          "type": "integer",
          "example": 0,
          "format": "int32",
          "description": "Total refunded amount of the order"
        },
        "remainingAmountToRefund": {
          "type": "integer",
          "example": 20000,
          "format": "int32",
          "description": "Total remaining amount to refund"
        }
      },
      "type": "object",
      "required": [
        "capturedAmount",
        "refundedAmount",
        "remainingAmountToCapture",
        "remainingAmountToRefund"
      ]
    }
  },
  "paths": {
    "/ecomm/v2/payments/{orderId}/refund": {
      "post": {
        "tags": [
          "Vipps eCom API"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Refund Payment ",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "path",
            "type": "string",
            "required": true,
            "name": "orderId",
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "content-type",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "`application/json`"
          },
          {
            "name": "ocp-apim-subscription-key",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "name": "paymentActionsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "required": true,
            "description": "paymentActionsRequest"
          }
        ],
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseRefund"
            },
            "description": "Refund payment response"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "operationId": "refundPaymentUsingPOST",
        "description": "The API allows a merchant to do a refund of already captured transaction. There is an option to do a partial refund of the captured amount. Refunded amount cannot be larger than captured. Timeframe for issuing a refund for a payment is 365 days from the date payment has been captured. If the refund payment service call is called after the refund timeframe, service call will respond with an error. Refunded funds will be transferred from the merchant account to the customer credit card that was used in payment flow. Pay attention that in order to perform refund, there must be enough funds at merchant settlements account."
      }
    },
    "[consentRemovalPrefix]/v2/consents/{userId}": {
      "delete": {
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Remove User Consent (for express checkout)",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "type": "string",
            "required": true,
            "name": "userId",
            "description": "The userId provided when requesting user information from Vipps. Received by callback or get detail request."
          }
        ],
        "responses": {
          "404": {
            "description": "Resource Not Found"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "200": {
            "description": "Remove User Consent (for express checkout)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "operationId": "removeUserConsentUsingDELETE",
        "description": "This API endpoint on the merchant side allows Vipps to send consent removal requests to the merchant. When receiving requests the merchant is obliged to remove the user details permanently, as per the GDPR guidelines. Vipps will add `/v2/consents/{userId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
      }
    },
    "[callbackPrefix]/v2/payments/{orderId}": {
      "post": {
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Callback : Transaction Update",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "path",
            "type": "string",
            "required": true,
            "name": "orderId",
            "description": "orderId"
          },
          {
            "name": "expressCheckOutPaymentRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ExpressCheckOutPaymentRequest"
            },
            "required": true,
            "description": "expressCheckOutPaymentRequest"
          }
        ],
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong on the Vipps server side"
          },
          "200": {
            "description": "Callback : Transaction Update"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "operationId": "transactionUpdateCallbackForRegularPaymentUsingPOST",
        "description": "This API call allows Vipps to send the transaction details. During regular ecomm payment order and transaction details will be shared. During express checkout payment it will provide user details and shipping details addition to the order and transaction details. Vipps will add `/v2/payments/{orderId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
      }
    },
    "/ecomm/v2/payments": {
      "post": {
        "tags": [
          "Vipps eCom API"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Initiate Payment",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "authorization",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "content-type",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "application/json"
          },
          {
            "name": "ocp-apim-subscription-key",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "name": "initiatePaymentCommand",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/InitiatePaymentCommand"
            },
            "required": true,
            "description": "initiatePaymentCommand"
          }
        ],
        "responses": {
          "202": {
            "schema": {
              "$ref": "#/definitions/InitiatePaymentV2Representation"
            },
            "description": "Response for Initiate Payment"
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "operationId": "initiatePaymentV3UsingPOST",
        "description": "This API call allows the merchants to initiate a payment flow by using Vipps. In order to identify which sales channel payments are coming from, a merchantSerialNumber is used to distinguish between them. Please note that a single payment is uniquely identified by a composite of merchantApplicationId (X-App-ID), merchantSerialNumber and orderId. The Merchant provided orderId must be unique per sales channel. Once the transaction is successfully initiated in Vipps, will you receive a redirect URL in response which has to be used by the merchant to open the Vipps landing page. The landing page will have functionality to identify and differentiate request coming from mobile browser/desktop browser. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
      }
    },
    "/ecomm/v2/payments/{orderId}/cancel": {
      "put": {
        "tags": [
          "Vipps eCom API"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Cancel Payment",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "path",
            "type": "string",
            "required": true,
            "name": "orderId",
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "content-type",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "`application/json`"
          },
          {
            "name": "ocp-apim-subscription-key",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "name": "paymentActionsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CancelPaymentActionRequest"
            },
            "required": true,
            "description": "paymentActionsRequest"
          }
        ],
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseCancel"
            },
            "description": "Cancel payment response"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "operationId": "cancelPaymentRequestUsingPUT",
        "description": "The API call allows merchant to cancel the reserved transaction, The API will not allow partial cancellation which has the consequence that partially captured transactions cannot be cancelled. Please note that in a case of communication errors during initiate payment service call between Vipps and PSP/Acquirer/Issuer; even in a case that customer has confirmed a payment, the payment will be cancelled by Vipps. Note this means you can not cancel a captured payment."
      }
    },
    "/ecomm/v2/payments/{orderId}/status": {
      "get": {
        "tags": [
          "Vipps eCom API"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Get order status",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "type": "string",
            "required": true,
            "name": "orderId",
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "ocp-apim-subscription-key",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          }
        ],
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/GetPaymentStatusResponse"
            },
            "description": "Get order status"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "operationId": "getOrderStatusUsingGET",
        "description": "This API call allows the merchant to get the status of the last payment transaction. Primarily use of this service is meant for inApp where simple response to check order status is preferred."
      }
    },
    "/ecomm/v2/payments/{orderId}/capture": {
      "post": {
        "tags": [
          "Vipps eCom API"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Capture Payment ",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "path",
            "type": "string",
            "required": true,
            "name": "orderId",
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "content-type",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "`application/json`"
          },
          {
            "name": "ocp-apim-subscription-key",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "name": "paymentActionsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "required": true,
            "description": "paymentActionsRequest"
          }
        ],
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseCapture"
            },
            "description": "Capture payment response"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "operationId": "capturePaymentUsingPOST",
        "description": "This API call allows merchant to capture the reserved amount. Amount to capture cannot be higher than reserved. The API also allows capturing partial amount of the reserved amount. Partial capture can be called as many times as required so long there is reserved amount to capture. Transaction text is not optional and is used as a proof of delivery (tracking code, consignment number etc.). In a case of direct capture, both fund reservation and capture are executed in a single operation."
      }
    },
    "[shippingDetailsPrefix]/v2/payments/{orderId}/shippingDetails": {
      "post": {
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Fetch Shipping Cost & Method",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "path",
            "type": "string",
            "required": true,
            "name": "orderId",
            "description": "orderId"
          },
          {
            "name": "fetchShippingCostAndMethod",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FetchShippingCostAndMethod"
            },
            "required": true,
            "description": "fetchShippingCostAndMethod"
          }
        ],
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/FetchShippingCostResponse"
            },
            "description": "Fetch Shipping Cost & Method."
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "operationId": "fetchShippingCostUsingPOST",
        "description": "This API endpoint on the merchant side allows Vipps to get the shipping cost and method based on the provided address and product details. The primary use of this service is Vipps Hurtigkasse (express checkout) where Vipps needs to present shipping cost and method to the Vipps user. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
      }
    },
    "/accesstoken/get": {
      "post": {
        "tags": [
          "Authorization Service"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Fetch authorization token",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "type": "string",
            "format": "guid",
            "required": true,
            "in": "header",
            "name": "client_id",
            "description": "Client id is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "in": "header",
            "type": "string",
            "required": true,
            "name": "client_secret",
            "description": "Client secret is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "in": "header",
            "type": "string",
            "required": true,
            "name": "ocp-apim-subscription-key",
            "description": "The subscription-key for authorization token is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. The ```DEFAULT_ACCESSTOKEN``` key is the value for subscription-key. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          }
        ],
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/AuthorizationTokenResponse"
            },
            "description": "OK"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "operationId": "fetchAuthorizationTokenUsingPost",
        "description": "Authorization token API endpoint helps to get the JWT Bearer token that needs to be passed in every API request in the authorization header. The merchant application use the API to get a JWT access token. JWT access token is a base 64 encoded string value that must be aquire first before making any Vipps api calls"
      }
    },
    "/ecomm/v2/payments/{orderId}/details": {
      "get": {
        "tags": [
          "Vipps eCom API"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Get payment Details",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "type": "string",
            "required": true,
            "name": "orderId",
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "Authorization-token is obtained by running the `/accesstoken/get` request."
          },
          {
            "name": "content-type",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "`application/json`"
          },
          {
            "name": "ocp-apim-subscription-key",
            "type": "string",
            "required": true,
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          }
        ],
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/GetTransactionDetails"
            },
            "description": "Get payment Details"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "operationId": "getPaymentDetailsUsingGET",
        "description": "This API call allows merchant to get the details of a payment transaction. Service call returns detailed transaction history of given payment where events are sorted by the time single transaction occurred."
      }
    }
  }
}