{
  "tags": [
    {
      "name": "Authorization Service",
      "description": "Authorization Service"
    },
    {
      "name": "Vipps eCom API",
      "description": "Functionality provided by the Vipps eCommerce API"
    },
    {
      "name": "Endpoints required by Vipps from the merchant",
      "description": "These endpoints must be implemented by the merchant, and are called by Vipps."
    }
  ],
  "host": "apitest.vipps.no",
  "swagger": "2.0",
  "paths": {
    "/ecomm/v2/payments/{orderId}/refund": {
      "post": {
        "summary": "Refund Payment ",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Order id specified in the request body of initiate payment.",
            "name": "orderId"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "name": "authorization"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "`application/json`",
            "name": "content-type"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "ocp-apim-subscription-key"
          },
          {
            "in": "body",
            "required": true,
            "name": "paymentActionsRequest",
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "description": "paymentActionsRequest"
          }
        ],
        "description": "The API allows a merchant to do a refund of already captured transaction. There is an option to do a partial refund of the captured amount. Refunded amount cannot be larger than captured. Timeframe for issuing a refund for a payment is 365 days from the date payment has been captured. If the refund payment service call is called after the refund timeframe, service call will respond with an error. Refunded funds will be transferred from the merchant account to the customer credit card that was used in payment flow. Pay attention that in order to perform refund, there must be enough funds at merchant settlements account.",
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "refundPaymentUsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseRefund"
            },
            "description": "Refund payment response"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "402": {
            "description": "Payment Failed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          }
        }
      }
    },
    "/ecomm/v2/payments/{orderId}/details": {
      "get": {
        "summary": "Get payment Details",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Order id specified in the request body of initiate payment.",
            "name": "orderId"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Authorization-token is obtained by running the `/accesstoken/get` request.",
            "name": "authorization"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "`application/json`",
            "name": "content-type"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "ocp-apim-subscription-key"
          }
        ],
        "description": "This API call allows merchant to get the details of a payment transaction. Service call returns detailed transaction history of given payment where events are sorted by the time single transaction occurred.",
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "getPaymentDetailsUsingGET",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/GetTransactionDetails"
            },
            "description": "Get payment Details"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "402": {
            "description": "Payment Failed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          }
        }
      }
    },
    "/ecomm/v2/payments/{orderId}/status": {
      "get": {
        "summary": "Get order status",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Order id specified in the request body of initiate payment.",
            "name": "orderId"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "name": "authorization"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "ocp-apim-subscription-key"
          }
        ],
        "description": "This API call allows the merchant to get the status of the last payment transaction. Primarily use of this service is meant for inApp where simple response to check order status is preferred.",
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "getOrderStatusUsingGET",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/GetPaymentStatusResponse"
            },
            "description": "Get order status"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "402": {
            "description": "Payment Failed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          }
        }
      }
    },
    "[callbackPrefix]/v2/payments/{orderId}": {
      "post": {
        "summary": "Callback : Transaction Update",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "type": "string",
            "description": "orderId",
            "name": "orderId"
          },
          {
            "in": "body",
            "required": true,
            "name": "expressCheckOutPaymentRequest",
            "schema": {
              "$ref": "#/definitions/ExpressCheckOutPaymentRequest"
            },
            "description": "expressCheckOutPaymentRequest"
          }
        ],
        "description": "This API call allows Vipps to send the transaction details. During regular ecomm payment order and transaction details will be shared. During express checkout payment it will provide user details and shipping details addition to the order and transaction details. Vipps will add `/v2/payments/{orderId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "operationId": "transactionUpdateCallbackForRegularPaymentUsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "Callback : Transaction Update"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "402": {
            "description": "Payment Failed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "500": {
            "description": "Something went wrong on the Vipps server side"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          }
        }
      }
    },
    "[consentRemovalPrefix]/v2/consents/{userId}": {
      "delete": {
        "summary": "Remove User Consent (for express checkout)",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The userId provided when requesting user information from Vipps. Received by callback or get detail request.",
            "name": "userId"
          }
        ],
        "description": "This API endpoint on the merchant side allows Vipps to send consent removal requests to the merchant. When receiving requests the merchant is obliged to remove the user details permanently, as per the GDPR guidelines. Vipps will add `/v2/consents/{userId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "operationId": "removeUserConsentUsingDELETE",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "Remove User Consent (for express checkout)"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        }
      }
    },
    "/accesstoken/get": {
      "post": {
        "summary": "Fetch authorization token",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "required": true,
            "name": "client_id",
            "in": "header",
            "type": "string",
            "description": "Client id is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "format": "guid"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Client secret is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "client_secret"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The subscription-key for authorization token is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. The ```DEFAULT_ACCESSTOKEN``` key is the value for subscription-key. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "ocp-apim-subscription-key"
          }
        ],
        "description": "Authorization token API endpoint helps to get the JWT Bearer token that needs to be passed in every API request in the authorization header. The merchant application use the API to get a JWT access token. JWT access token is a base 64 encoded string value that must be aquire first before making any Vipps api calls",
        "tags": [
          "Authorization Service"
        ],
        "operationId": "fetchAuthorizationTokenUsingPost",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AuthorizationTokenResponse"
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "402": {
            "description": "Payment Failed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          }
        }
      }
    },
    "/ecomm/v2/payments": {
      "post": {
        "summary": "Initiate Payment",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "name": "authorization"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "application/json",
            "name": "content-type"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "ocp-apim-subscription-key"
          },
          {
            "in": "body",
            "required": true,
            "name": "initiatePaymentCommand",
            "schema": {
              "$ref": "#/definitions/InitiatePaymentCommand"
            },
            "description": "initiatePaymentCommand"
          }
        ],
        "description": "This API call allows the merchants to initiate a payment flow by using Vipps. In order to identify which sales channel payments are coming from, a merchantSerialNumber is used to distinguish between them. Please note that a single payment is uniquely identified by a composite of merchantApplicationId (X-App-ID), merchantSerialNumber and orderId. The Merchant provided orderId must be unique per sales channel. Once the transaction is successfully initiated in Vipps, will you receive a redirect URL in response which has to be used by the merchant to open the Vipps landing page. The landing page will have functionality to identify and differentiate request coming from mobile browser/desktop browser. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "initiatePaymentV3UsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "202": {
            "schema": {
              "$ref": "#/definitions/InitiatePaymentV2Representation"
            },
            "description": "Response for Initiate Payment"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "402": {
            "description": "Payment Failed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          }
        }
      }
    },
    "/ecomm/v2/payments/{orderId}/cancel": {
      "put": {
        "summary": "Cancel Payment",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Order id specified in the request body of initiate payment.",
            "name": "orderId"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "name": "authorization"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "`application/json`",
            "name": "content-type"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "ocp-apim-subscription-key"
          },
          {
            "in": "body",
            "required": true,
            "name": "paymentActionsRequest",
            "schema": {
              "$ref": "#/definitions/CancelPaymentActionRequest"
            },
            "description": "paymentActionsRequest"
          }
        ],
        "description": "The API call allows merchant to cancel the reserved transaction, The API will not allow partial cancellation which has the consequence that partially captured transactions cannot be cancelled. Please note that in a case of communication errors during initiate payment service call between Vipps and PSP/Acquirer/Issuer; even in a case that customer has confirmed a payment, the payment will be cancelled by Vipps. Note this means you can not cancel a captured payment.",
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "cancelPaymentRequestUsingPUT",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseCancel"
            },
            "description": "Cancel payment response"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "402": {
            "description": "Payment Failed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          }
        }
      }
    },
    "/ecomm/v2/payments/{orderId}/capture": {
      "post": {
        "summary": "Capture Payment ",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Order id specified in the request body of initiate payment.",
            "name": "orderId"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "name": "authorization"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "`application/json`",
            "name": "content-type"
          },
          {
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "ocp-apim-subscription-key"
          },
          {
            "in": "body",
            "required": true,
            "name": "paymentActionsRequest",
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "description": "paymentActionsRequest"
          }
        ],
        "description": "This API call allows merchant to capture the reserved amount. Amount to capture cannot be higher than reserved. The API also allows capturing partial amount of the reserved amount. Partial capture can be called as many times as required so long there is reserved amount to capture. Transaction text is not optional and is used as a proof of delivery (tracking code, consignment number etc.). In a case of direct capture, both fund reservation and capture are executed in a single operation.",
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "capturePaymentUsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseCapture"
            },
            "description": "Capture payment response"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "402": {
            "description": "Payment Failed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          }
        }
      }
    },
    "[shippingDetailsPrefix]/v2/payments/{orderId}/shippingDetails": {
      "post": {
        "summary": "Fetch Shipping Cost & Method",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "type": "string",
            "description": "orderId",
            "name": "orderId"
          },
          {
            "in": "body",
            "required": true,
            "name": "fetchShippingCostAndMethod",
            "schema": {
              "$ref": "#/definitions/FetchShippingCostAndMethod"
            },
            "description": "fetchShippingCostAndMethod"
          }
        ],
        "description": "This API endpoint on the merchant side allows Vipps to get the shipping cost and method based on the provided address and product details. The primary use of this service is Vipps Hurtigkasse (express checkout) where Vipps needs to present shipping cost and method to the Vipps user. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "operationId": "fetchShippingCostUsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/FetchShippingCostResponse"
            },
            "description": "Fetch Shipping Cost & Method."
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "402": {
            "description": "Payment Failed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          }
        }
      }
    }
  },
  "definitions": {
    "InitiatePaymentCommand": {
      "required": [
        "customerInfo",
        "merchantInfo",
        "transaction"
      ],
      "type": "object",
      "properties": {
        "transaction": {
          "description": "it has transaction details which needs to be inititated",
          "$ref": "#/definitions/TransactionInfoInitiateDTO"
        },
        "merchantInfo": {
          "description": "it has merchant related information to initiate the payment",
          "$ref": "#/definitions/MerchantInfoDto"
        },
        "customerInfo": {
          "description": "it has customer information and it is not required",
          "$ref": "#/definitions/CustomerInfoDto"
        }
      }
    },
    "GetTransactionDetails": {
      "type": "object",
      "properties": {
        "orderId": {
          "example": "order123abc",
          "type": "string"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "shippingDetails": {
          "$ref": "#/definitions/PaymentShippingDetails"
        },
        "transactionLogHistory": {
          "items": {
            "$ref": "#/definitions/TransactionLogHistory"
          },
          "type": "array"
        }
      }
    },
    "TransactionInfoCapture": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        },
        "status": {
          "example": "Captured",
          "type": "string",
          "enum": [
            "Captured"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "amount": {
          "example": 20000,
          "type": "number",
          "format": "double",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "type": "string",
          "description": "Transaction text reference provided by merchant"
        }
      }
    },
    "OrderStatusInfoTransactionInfo": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "type": "object",
      "properties": {
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction."
        },
        "status": {
          "example": "RESERVE",
          "type": "string",
          "enum": [
            "INITIATE",
            "REGISTER",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID",
            "FAILED",
            "REJECTED"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "amount": {
          "example": 20000,
          "type": "number",
          "format": "double",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        }
      }
    },
    "CallbackTransactionInfoStatus": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "type": "object",
      "properties": {
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction."
        },
        "status": {
          "example": "RESERVE",
          "type": "string",
          "enum": [
            "RESERVE",
            "SALE",
            "CANCELLED",
            "REJECTED"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#callbacks) for more information."
        },
        "amount": {
          "example": 20000,
          "type": "number",
          "format": "double",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        }
      }
    },
    "TransactionSummary": {
      "required": [
        "capturedAmount",
        "refundedAmount",
        "remainingAmountToCapture",
        "remainingAmountToRefund"
      ],
      "type": "object",
      "properties": {
        "remainingAmountToCapture": {
          "example": 0,
          "type": "integer",
          "format": "int32",
          "description": "Total remaining amount to capture"
        },
        "capturedAmount": {
          "example": 20000,
          "type": "integer",
          "format": "int32",
          "description": "Total amount captured"
        },
        "remainingAmountToRefund": {
          "example": 20000,
          "type": "integer",
          "format": "int32",
          "description": "Total remaining amount to refund"
        },
        "refundedAmount": {
          "example": 0,
          "type": "integer",
          "format": "int32",
          "description": "Total refunded amount of the order"
        }
      }
    },
    "PaymentShippingDetails": {
      "required": [
        "shippingCost",
        "shippingMethod"
      ],
      "type": "object",
      "properties": {
        "shippingMethod": {
          "example": "Posten",
          "type": "string",
          "description": "Shipping method"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "shippingCost": {
          "example": 1500,
          "type": "number",
          "format": "double",
          "description": "Shipping Cost"
        }
      }
    },
    "MerchantInfoDto": {
      "required": [
        "callbackPrefix",
        "fallBack",
        "merchantSerialNumber"
      ],
      "type": "object",
      "properties": {
        "authToken": {
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "type": "string",
          "description": "The Merchant should share this token if merchant has authentication mechanism in place which could be used for making callbacks secure.",
          "maxLength": 255
        },
        "callbackPrefix": {
          "example": "https://example.com/vipps/callbacks",
          "type": "string",
          "description": "This is an URL for receiving the callback after the payment request. Domain name and context path should be provided by merchant as the value for this parameter. Vipps will add `/v2/payments/{orderId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "maxLength": 255
        },
        "shippingDetailsPrefix": {
          "example": "https://example.com/vipps/shipping/",
          "type": "string",
          "description": "In case of express checkout payment, merchant should pass this prefix to let Vipps fetch shipping cost and method related details. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end or this URL.",
          "maxLength": 255
        },
        "isApp": {
          "example": false,
          "default": false,
          "type": "boolean",
          "description": "This parameter indicates whether payment request is triggered from Mobile App or Web browser. Based on this value, response will be redirect URL for Vipps landing page or deeplink URL to connect vipps App. When isApp is set to true, URLs passed to Vipps will not be validated as regular URLs."
        },
        "merchantSerialNumber": {
          "minLength": 6,
          "example": 123456,
          "type": "string",
          "maxLength": 6,
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "pattern": "^\\d{6}$"
        },
        "paymentType": {
          "example": "eComm Regular Payment",
          "default": "eComm Regular Payment",
          "type": "string",
          "enum": [
            "eComm Regular Payment",
            "eComm Express Payment"
          ],
          "description": "This parameter will identify difference between a regular ecomm payment and ecomm express payment. For express checkout, use: \"eComm Express Payment\". Express checkouts require consentRemovalPrefix."
        },
        "fallBack": {
          "example": "https://example.com/vipps/fallback/order123abc",
          "type": "string",
          "description": "Vipps will use the fall back URL to redirect Merchant Page once Payment is completed in Vipps System URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "maxLength": 255
        },
        "consentRemovalPrefix": {
          "example": "https://example.com/vipps",
          "type": "string",
          "description": "Required for expess checkout payments. This callback URL will be used by Vipps to inform the merchant that the user has revoked his/her consent: This Vipps user does do not want the merchant to store or use his/her personal information anymore. Required by GDPR. Vipps will add `/v2/consents/{userId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "maxLength": 255
        }
      }
    },
    "TransactionInfoRefund": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        },
        "status": {
          "example": "Refund",
          "type": "string",
          "enum": [
            "Refund"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "amount": {
          "example": 20000,
          "type": "number",
          "format": "double",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "type": "string",
          "description": "Transaction text reference provided by merchant"
        }
      }
    },
    "GetPaymentStatusResponse": {
      "type": "object",
      "properties": {
        "orderId": {
          "example": "order123abc",
          "type": "string"
        },
        "transactionInfo": {
          "$ref": "#/definitions/OrderStatusInfoTransactionInfo"
        }
      }
    },
    "CancelTransaction": {
      "type": "object",
      "properties": {
        "transactionText": {
          "type": "string"
        }
      }
    },
    "FetchShippingCostAndMethod": {
      "required": [
        "addressId",
        "addressLine1",
        "city",
        "country",
        "postCode"
      ],
      "type": "object",
      "properties": {
        "postCode": {
          "example": "0191",
          "description": "Four digits",
          "type": "integer",
          "format": "int32",
          "pattern": "^\\df{4}$"
        },
        "addressType": {
          "example": "H",
          "type": "string"
        },
        "city": {
          "example": "Oslo",
          "type": "string",
          "description": "City"
        },
        "addressLine2": {
          "type": "string"
        },
        "addressId": {
          "type": "integer",
          "format": "int32",
          "description": "Vipps Provided address Id. To be returned in response in the same field"
        },
        "addressLine1": {
          "example": "Dronning Eufemias gate 42",
          "type": "string"
        },
        "postalCode": {
          "example": "0191",
          "description": "Four digits",
          "type": "integer",
          "format": "int32",
          "pattern": "^\\df{4}$"
        },
        "country": {
          "example": "NO",
          "type": "string",
          "description": "The only country supported is Norway"
        }
      }
    },
    "CustomerInfoDto": {
      "type": "object",
      "properties": {
        "mobileNumber": {
          "minLength": 8,
          "example": 91234567,
          "type": "string",
          "maxLength": 8,
          "description": "Mobile number of the user who has to pay for the transation from Vipps. Allowed format: xxxxxxxx",
          "pattern": "^\\d{8}$"
        }
      }
    },
    "AuthorizationTokenResponse": {
      "type": "object",
      "properties": {
        "access_token": {
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "type": "string"
        },
        "token_type": {
          "example": "Bearer",
          "type": "string"
        },
        "expires_in": {
          "example": 3600,
          "type": "integer"
        },
        "resource": {
          "example": "00000002-0000-0000-c000-000000000000",
          "type": "string"
        },
        "expires_on": {
          "example": 1547823408,
          "type": "integer"
        },
        "ext_expires_in": {
          "example": 3600,
          "type": "integer"
        },
        "not_before": {
          "example": 1547819508,
          "type": "integer"
        }
      }
    },
    "MerchantInfoPayment": {
      "required": [
        "merchantSerialNumber"
      ],
      "type": "object",
      "properties": {
        "merchantSerialNumber": {
          "minLength": 6,
          "example": 123456,
          "type": "string",
          "maxLength": 6,
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "pattern": "^\\d{6}$"
        }
      }
    },
    "Address": {
      "required": [
        "addressLine1",
        "city",
        "country",
        "zipCode"
      ],
      "type": "object",
      "properties": {
        "addressLine1": {
          "example": "Dronning Eufemias gate 42",
          "type": "string",
          "description": "Address Line 1"
        },
        "addressLine2": {
          "example": "Att: Rune Garborg",
          "type": "string",
          "description": "Address Line 2"
        },
        "zipCode": {
          "example": "0191",
          "type": "string",
          "description": "Zip Code"
        },
        "city": {
          "example": "Oslo",
          "type": "string",
          "description": "City"
        },
        "country": {
          "example": "NO",
          "type": "string",
          "description": "Country,default=NO"
        }
      }
    },
    "ExpressCheckOutPaymentRequest": {
      "required": [
        "merchantSerialNumber",
        "orderId",
        "shippingDetails",
        "userDetails"
      ],
      "type": "object",
      "properties": {
        "orderId": {
          "example": "order123abc",
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters"
        },
        "userDetails": {
          "description": "Vipps User Information",
          "$ref": "#/definitions/UserDetails"
        },
        "transactionInfo": {
          "$ref": "#/definitions/CallbackTransactionInfoStatus"
        },
        "shippingDetails": {
          "description": "Shipping Details will be added in the call back request if the payment is Express Checkout",
          "$ref": "#/definitions/ShippingDetailsRequest"
        },
        "merchantSerialNumber": {
          "minLength": 6,
          "example": 123456,
          "type": "string",
          "maxLength": 6,
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "pattern": "^\\d{6}$"
        }
      }
    },
    "UserDetails": {
      "required": [
        "email",
        "firstName",
        "lastName",
        "mobileNumber",
        "userId"
      ],
      "type": "object",
      "properties": {
        "dateOfBirth": {
          "example": "12-3-1988",
          "type": "string",
          "description": "12-3-1988"
        },
        "firstName": {
          "example": "Ada",
          "type": "string",
          "description": "First name"
        },
        "email": {
          "example": "user@example.com",
          "type": "string",
          "description": "Email address"
        },
        "lastName": {
          "example": "Lovelace",
          "type": "string",
          "description": "Last name"
        },
        "bankIdVerified": {
          "type": "string"
        },
        "ssn": {
          "minLength": 11,
          "maxLength": 11,
          "type": "string",
          "description": "12345678912",
          "pattern": "^\\d{11}$"
        },
        "userId": {
          "example": "1234567",
          "type": "string",
          "description": "1234567"
        },
        "mobileNumber": {
          "minLength": 8,
          "maxLength": 12,
          "type": "string",
          "description": "12345678",
          "pattern": "^\\d{8,12}$"
        }
      }
    },
    "TransactionResponseCancel": {
      "required": [
        "orderId"
      ],
      "type": "object",
      "properties": {
        "orderId": {
          "example": "order123abc",
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "maxLength": 30
        },
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCancel"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      }
    },
    "TransactionResponseRefund": {
      "required": [
        "orderId"
      ],
      "type": "object",
      "properties": {
        "orderId": {
          "example": "order123abc",
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "maxLength": 30
        },
        "transaction": {
          "$ref": "#/definitions/TransactionInfoRefund"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      }
    },
    "ShippingDetails": {
      "required": [
        "isDefault",
        "shippingCost",
        "shippingMethod",
        "shippingMethodId"
      ],
      "type": "object",
      "properties": {
        "isDefault": {
          "type": "string",
          "enum": [
            "Y",
            "N"
          ]
        },
        "shippingMethod": {
          "type": "string"
        },
        "shippingCost": {
          "type": "number",
          "format": "double"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "shippingMethodId": {
          "type": "string"
        }
      }
    },
    "TransactionInfoCancel": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        },
        "status": {
          "example": "Cancelled",
          "type": "string",
          "enum": [
            "Cancelled"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "amount": {
          "example": 20000,
          "type": "number",
          "format": "double",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "type": "string",
          "description": "Transaction text reference provided by merchant"
        }
      }
    },
    "ShippingDetailsRequest": {
      "required": [
        "address",
        "shippingCost",
        "shippingMethod"
      ],
      "type": "object",
      "properties": {
        "shippingMethod": {
          "type": "string",
          "description": "Shipping method which choosed for the payment"
        },
        "address": {
          "description": "Address Details",
          "$ref": "#/definitions/Address"
        },
        "shippingCost": {
          "type": "number",
          "format": "double",
          "description": "Shipping cost"
        }
      }
    },
    "PaymentActionsRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "$ref": "#/definitions/Transaction"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        }
      }
    },
    "CancelPaymentActionRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "$ref": "#/definitions/CancelTransaction"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        }
      }
    },
    "TransactionResponseCapture": {
      "required": [
        "orderId"
      ],
      "type": "object",
      "properties": {
        "orderId": {
          "example": "order123abc",
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "maxLength": 30
        },
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCapture"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      }
    },
    "FetchShippingCostResponse": {
      "required": [
        "addressId",
        "orderId",
        "shippingDetails"
      ],
      "type": "object",
      "properties": {
        "orderId": {
          "example": "order123abc",
          "type": "string"
        },
        "addressId": {
          "type": "integer",
          "format": "int32"
        },
        "shippingDetails": {
          "items": {
            "$ref": "#/definitions/ShippingDetails"
          },
          "type": "array"
        }
      }
    },
    "Transaction": {
      "required": [
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "example": 20000,
          "description": "Amount in øre, if amount is 0 or not provided then full capture will be performed. 32 Bit Integer (2147483647)",
          "type": "integer",
          "format": "int32",
          "pattern": "^\\d{3,}$"
        },
        "transactionText": {
          "type": "string",
          "description": "Proof of delivery"
        }
      }
    },
    "AuthorizationTokenMethod": {
      "type": "object"
    },
    "TransactionInfoInitiateDTO": {
      "required": [
        "amount",
        "orderId",
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "orderId": {
          "example": "order123abc",
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters.",
          "maxLength": 30
        },
        "timeStamp": {
          "example": "2018-11-14T15:44:26.590Z",
          "type": "string",
          "format": "date-time",
          "description": "ISO formatted date time string."
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "type": "string",
          "description": "Transaction text that can be displayed to end user",
          "maxLength": 100
        },
        "refOrderId": {
          "example": "merchantOrder123abc",
          "type": "string",
          "description": "Identifies if the payment references to some past orders registered with Vipps. If defined, transactions for this payment will show up as child transactions of the specified order.",
          "maxLength": 30
        },
        "amount": {
          "example": 20000,
          "description": "Amount in øre. 32 bit Integer (2147483647)",
          "type": "integer",
          "format": "int32",
          "pattern": "^\\d{3,}$"
        }
      }
    },
    "InitiatePaymentV2Representation": {
      "required": [
        "orderId",
        "url"
      ],
      "type": "object",
      "properties": {
        "orderId": {
          "example": "order123abc",
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters."
        },
        "url": {
          "example": "https://example.com",
          "type": "string",
          "description": "URL parameter will have URL to redirect the request to vipps gateway page in case request is trigger from web browser or deeplink URL to open vipps app incase request is triggered from Merchant Mobile App."
        }
      }
    },
    "TransactionLogHistory": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string"
        },
        "transactionId": {
          "type": "string"
        },
        "transactionText": {
          "type": "string"
        },
        "operationSuccess": {
          "type": "boolean"
        },
        "timeStamp": {
          "type": "string"
        },
        "operation": {
          "example": "RESERVE",
          "type": "string",
          "enum": [
            "INITIATE",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID"
          ],
          "description": "The operation that was performed for this log entry. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "amount": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "info": {
    "description": "# Vipps eCommerce API\nAdditional API documentation: https://github.com/vippsas/vipps-ecom-api/\n",
    "title": "Vipps eCommerce APIs",
    "version": "1.0.4"
  }
}