{
  "host": "apitest.vipps.no",
  "info": {
    "description": "# Vipps eCommerce API\nAdditional API documentation: https://github.com/vippsas/vipps-ecom-api/\n",
    "title": "Vipps eCommerce APIs",
    "version": "1.0.4"
  },
  "swagger": "2.0",
  "definitions": {
    "GetTransactionDetails": {
      "type": "object",
      "properties": {
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "shippingDetails": {
          "$ref": "#/definitions/PaymentShippingDetails"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails"
        },
        "transactionLogHistory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionLogHistory"
          }
        },
        "orderId": {
          "type": "string",
          "example": "order123abc"
        }
      }
    },
    "TransactionResponseCapture": {
      "required": [
        "orderId"
      ],
      "properties": {
        "orderId": {
          "maxLength": 30,
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "type": "string",
          "example": "order123abc"
        },
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCapture"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      },
      "type": "object"
    },
    "TransactionLogHistory": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string"
        },
        "transactionId": {
          "type": "string"
        },
        "timeStamp": {
          "type": "string"
        },
        "operationSuccess": {
          "type": "boolean"
        },
        "operation": {
          "description": "The operation that was performed for this log entry. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "example": "RESERVE",
          "enum": [
            "INITIATE",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID"
          ]
        },
        "amount": {
          "type": "integer",
          "format": "int32"
        },
        "transactionText": {
          "type": "string"
        }
      }
    },
    "CustomerInfoDto": {
      "type": "object",
      "properties": {
        "mobileNumber": {
          "type": "string",
          "pattern": "^\\d{8}$",
          "maxLength": 8,
          "description": "Mobile number of the user who has to pay for the transation from Vipps. Allowed format: xxxxxxxx",
          "minLength": 8,
          "example": 91234567
        }
      }
    },
    "UserDetails": {
      "required": [
        "email",
        "firstName",
        "lastName",
        "mobileNumber",
        "userId"
      ],
      "properties": {
        "ssn": {
          "maxLength": 11,
          "description": "12345678912",
          "minLength": 11,
          "pattern": "^\\d{11}$",
          "type": "string"
        },
        "dateOfBirth": {
          "description": "12-3-1988",
          "type": "string",
          "example": "12-3-1988"
        },
        "bankIdVerified": {
          "type": "string"
        },
        "lastName": {
          "description": "Last name",
          "type": "string",
          "example": "Lovelace"
        },
        "userId": {
          "description": "1234567",
          "type": "string",
          "example": "1234567"
        },
        "firstName": {
          "description": "First name",
          "type": "string",
          "example": "Ada"
        },
        "email": {
          "description": "Email address",
          "type": "string",
          "example": "user@example.com"
        },
        "mobileNumber": {
          "maxLength": 12,
          "description": "12345678",
          "minLength": 8,
          "pattern": "^\\d{8,12}$",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OrderStatusInfoTransactionInfo": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "properties": {
        "transactionId": {
          "description": "Vipps transaction id",
          "type": "string",
          "example": "5001420062"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction.",
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z"
        },
        "amount": {
          "description": "Ordered amount in øre",
          "type": "number",
          "example": 20000,
          "format": "double"
        },
        "status": {
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "example": "RESERVE",
          "enum": [
            "INITIATE",
            "REGISTER",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID",
            "FAILED",
            "REJECTED"
          ]
        }
      },
      "type": "object"
    },
    "MerchantInfoDto": {
      "required": [
        "callbackPrefix",
        "fallBack",
        "merchantSerialNumber"
      ],
      "properties": {
        "callbackPrefix": {
          "maxLength": 255,
          "description": "This is an URL for receiving the callback after the payment request. Domain name and context path should be provided by merchant as the value for this parameter. Vipps will add `/v2/payments/{orderId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "type": "string",
          "example": "https://example.com/vipps/callbacks"
        },
        "isApp": {
          "description": "This parameter indicates whether payment request is triggered from Mobile App or Web browser. Based on this value, response will be redirect URL for Vipps landing page or deeplink URL to connect vipps App. When isApp is set to true, URLs passed to Vipps will not be validated as regular URLs.",
          "type": "boolean",
          "example": false,
          "default": false
        },
        "merchantSerialNumber": {
          "type": "string",
          "pattern": "^\\d{6}$",
          "maxLength": 6,
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "minLength": 6,
          "example": 123456
        },
        "fallBack": {
          "maxLength": 255,
          "description": "Vipps will use the fall back URL to redirect Merchant Page once Payment is completed in Vipps System URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "type": "string",
          "example": "https://example.com/vipps/fallback/order123abc"
        },
        "shippingDetailsPrefix": {
          "maxLength": 255,
          "description": "In case of express checkout payment, merchant should pass this prefix to let Vipps fetch shipping cost and method related details. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end or this URL.",
          "type": "string",
          "example": "https://example.com/vipps/shipping/"
        },
        "authToken": {
          "maxLength": 255,
          "description": "The Merchant should share this token if merchant has authentication mechanism in place which could be used for making callbacks secure.",
          "type": "string",
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>"
        },
        "consentRemovalPrefix": {
          "maxLength": 255,
          "description": "Required for expess checkout payments. This callback URL will be used by Vipps to inform the merchant that the user has revoked his/her consent: This Vipps user does do not want the merchant to store or use his/her personal information anymore. Required by GDPR. Vipps will add `/v2/consents/{userId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "type": "string",
          "example": "https://example.com/vipps"
        },
        "paymentType": {
          "description": "This parameter will identify difference between a regular ecomm payment and ecomm express payment. For express checkout, use: \"eComm Express Payment\". Express checkouts require consentRemovalPrefix.",
          "type": "string",
          "example": "eComm Regular Payment",
          "default": "eComm Regular Payment",
          "enum": [
            "eComm Regular Payment",
            "eComm Express Payment"
          ]
        }
      },
      "type": "object"
    },
    "FetchShippingCostResponse": {
      "required": [
        "addressId",
        "orderId",
        "shippingDetails"
      ],
      "properties": {
        "shippingDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShippingDetails"
          }
        },
        "addressId": {
          "type": "integer",
          "format": "int32"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc"
        }
      },
      "type": "object"
    },
    "AuthorizationTokenMethod": {
      "type": "object"
    },
    "InitiatePaymentCommand": {
      "required": [
        "customerInfo",
        "merchantInfo",
        "transaction"
      ],
      "properties": {
        "merchantInfo": {
          "description": "it has merchant related information to initiate the payment",
          "$ref": "#/definitions/MerchantInfoDto"
        },
        "transaction": {
          "description": "it has transaction details which needs to be inititated",
          "$ref": "#/definitions/TransactionInfoInitiateDTO"
        },
        "customerInfo": {
          "description": "it has customer information and it is not required",
          "$ref": "#/definitions/CustomerInfoDto"
        }
      },
      "type": "object"
    },
    "ShippingDetails": {
      "required": [
        "isDefault",
        "shippingCost",
        "shippingMethod",
        "shippingMethodId"
      ],
      "properties": {
        "shippingMethod": {
          "type": "string"
        },
        "shippingMethodId": {
          "type": "string"
        },
        "shippingCost": {
          "type": "number",
          "format": "double"
        },
        "isDefault": {
          "type": "string",
          "enum": [
            "Y",
            "N"
          ]
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Transaction": {
      "required": [
        "transactionText"
      ],
      "properties": {
        "amount": {
          "description": "Amount in øre, if amount is 0 or not provided then full capture will be performed. 32 Bit Integer (2147483647)",
          "type": "integer",
          "pattern": "^\\d{3,}$",
          "format": "int32",
          "example": 20000
        },
        "transactionText": {
          "description": "Proof of delivery",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExpressCheckOutPaymentRequest": {
      "required": [
        "merchantSerialNumber",
        "orderId",
        "shippingDetails",
        "userDetails"
      ],
      "properties": {
        "merchantSerialNumber": {
          "type": "string",
          "pattern": "^\\d{6}$",
          "maxLength": 6,
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "minLength": 6,
          "example": 123456
        },
        "shippingDetails": {
          "description": "Shipping Details will be added in the call back request if the payment is Express Checkout",
          "$ref": "#/definitions/ShippingDetailsRequest"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "type": "string",
          "example": "order123abc"
        },
        "transactionInfo": {
          "$ref": "#/definitions/CallbackTransactionInfoStatus"
        },
        "userDetails": {
          "description": "Vipps User Information",
          "$ref": "#/definitions/UserDetails"
        }
      },
      "type": "object"
    },
    "GetPaymentStatusResponse": {
      "type": "object",
      "properties": {
        "orderId": {
          "type": "string",
          "example": "order123abc"
        },
        "transactionInfo": {
          "$ref": "#/definitions/OrderStatusInfoTransactionInfo"
        }
      }
    },
    "PaymentActionsRequest": {
      "type": "object",
      "properties": {
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        },
        "transaction": {
          "$ref": "#/definitions/Transaction"
        }
      }
    },
    "TransactionInfoCapture": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "transactionId": {
          "description": "Vipps transaction id",
          "type": "string",
          "example": "5001420062"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z"
        },
        "amount": {
          "description": "Ordered amount in øre",
          "type": "number",
          "example": 20000,
          "format": "double"
        },
        "status": {
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "example": "Captured",
          "enum": [
            "Captured"
          ]
        },
        "transactionText": {
          "description": "Transaction text reference provided by merchant",
          "type": "string",
          "example": "One pair of Vipps socks"
        }
      },
      "type": "object"
    },
    "TransactionResponseRefund": {
      "required": [
        "orderId"
      ],
      "properties": {
        "transaction": {
          "$ref": "#/definitions/TransactionInfoRefund"
        },
        "orderId": {
          "maxLength": 30,
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "type": "string",
          "example": "order123abc"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      },
      "type": "object"
    },
    "PaymentShippingDetails": {
      "required": [
        "shippingCost",
        "shippingMethod"
      ],
      "properties": {
        "shippingMethod": {
          "description": "Shipping method",
          "type": "string",
          "example": "Posten"
        },
        "shippingCost": {
          "description": "Shipping Cost",
          "type": "number",
          "example": 1500,
          "format": "double"
        },
        "address": {
          "$ref": "#/definitions/Address"
        }
      },
      "type": "object"
    },
    "TransactionSummary": {
      "required": [
        "capturedAmount",
        "refundedAmount",
        "remainingAmountToCapture",
        "remainingAmountToRefund"
      ],
      "properties": {
        "remainingAmountToRefund": {
          "description": "Total remaining amount to refund",
          "type": "integer",
          "example": 20000,
          "format": "int32"
        },
        "capturedAmount": {
          "description": "Total amount captured",
          "type": "integer",
          "example": 20000,
          "format": "int32"
        },
        "refundedAmount": {
          "description": "Total refunded amount of the order",
          "type": "integer",
          "example": 0,
          "format": "int32"
        },
        "remainingAmountToCapture": {
          "description": "Total remaining amount to capture",
          "type": "integer",
          "example": 0,
          "format": "int32"
        }
      },
      "type": "object"
    },
    "TransactionInfoCancel": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "transactionId": {
          "description": "Vipps transaction id",
          "type": "string",
          "example": "5001420062"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z"
        },
        "amount": {
          "description": "Ordered amount in øre",
          "type": "number",
          "example": 20000,
          "format": "double"
        },
        "status": {
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "example": "Cancelled",
          "enum": [
            "Cancelled"
          ]
        },
        "transactionText": {
          "description": "Transaction text reference provided by merchant",
          "type": "string",
          "example": "One pair of Vipps socks"
        }
      },
      "type": "object"
    },
    "MerchantInfoPayment": {
      "required": [
        "merchantSerialNumber"
      ],
      "properties": {
        "merchantSerialNumber": {
          "type": "string",
          "pattern": "^\\d{6}$",
          "maxLength": 6,
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "minLength": 6,
          "example": 123456
        }
      },
      "type": "object"
    },
    "FetchShippingCostAndMethod": {
      "required": [
        "addressId",
        "addressLine1",
        "city",
        "country",
        "postCode"
      ],
      "properties": {
        "postalCode": {
          "description": "Four digits",
          "type": "integer",
          "pattern": "^\\df{4}$",
          "format": "int32",
          "example": "0191"
        },
        "addressType": {
          "type": "string",
          "example": "H"
        },
        "city": {
          "description": "City",
          "type": "string",
          "example": "Oslo"
        },
        "addressLine2": {
          "type": "string"
        },
        "addressId": {
          "description": "Vipps Provided address Id. To be returned in response in the same field",
          "type": "integer",
          "format": "int32"
        },
        "country": {
          "description": "The only country supported is Norway",
          "type": "string",
          "example": "NO"
        },
        "addressLine1": {
          "type": "string",
          "example": "Dronning Eufemias gate 42"
        },
        "postCode": {
          "description": "Four digits",
          "type": "integer",
          "pattern": "^\\df{4}$",
          "format": "int32",
          "example": "0191"
        }
      },
      "type": "object"
    },
    "TransactionInfoRefund": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "transactionId": {
          "description": "Vipps transaction id",
          "type": "string",
          "example": "5001420062"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z"
        },
        "amount": {
          "description": "Ordered amount in øre",
          "type": "number",
          "example": 20000,
          "format": "double"
        },
        "status": {
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "example": "Refund",
          "enum": [
            "Refund"
          ]
        },
        "transactionText": {
          "description": "Transaction text reference provided by merchant",
          "type": "string",
          "example": "One pair of Vipps socks"
        }
      },
      "type": "object"
    },
    "TransactionInfoInitiateDTO": {
      "required": [
        "amount",
        "orderId",
        "transactionText"
      ],
      "properties": {
        "refOrderId": {
          "maxLength": 30,
          "description": "Identifies if the payment references to some past orders registered with Vipps. If defined, transactions for this payment will show up as child transactions of the specified order.",
          "type": "string",
          "example": "merchantOrder123abc"
        },
        "timeStamp": {
          "description": "ISO formatted date time string.",
          "type": "string",
          "example": "2018-11-14T15:44:26.590Z",
          "format": "date-time"
        },
        "orderId": {
          "maxLength": 30,
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters.",
          "type": "string",
          "example": "order123abc"
        },
        "amount": {
          "description": "Amount in øre. 32 bit Integer (2147483647)",
          "type": "integer",
          "pattern": "^\\d{3,}$",
          "format": "int32",
          "example": 20000
        },
        "transactionText": {
          "maxLength": 100,
          "description": "Transaction text that can be displayed to end user",
          "type": "string",
          "example": "One pair of Vipps socks"
        }
      },
      "type": "object"
    },
    "AuthorizationTokenResponse": {
      "type": "object",
      "properties": {
        "token_type": {
          "type": "string",
          "example": "Bearer"
        },
        "resource": {
          "type": "string",
          "example": "00000002-0000-0000-c000-000000000000"
        },
        "not_before": {
          "type": "integer",
          "example": 1547819508
        },
        "access_token": {
          "type": "string",
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>"
        },
        "expires_on": {
          "type": "integer",
          "example": 1547823408
        },
        "ext_expires_in": {
          "type": "integer",
          "example": 3600
        },
        "expires_in": {
          "type": "integer",
          "example": 3600
        }
      }
    },
    "CancelTransaction": {
      "type": "object",
      "properties": {
        "transactionText": {
          "type": "string"
        }
      }
    },
    "Address": {
      "required": [
        "addressLine1",
        "city",
        "country",
        "zipCode"
      ],
      "properties": {
        "zipCode": {
          "description": "Zip Code",
          "type": "string",
          "example": "0191"
        },
        "addressLine1": {
          "description": "Address Line 1",
          "type": "string",
          "example": "Dronning Eufemias gate 42"
        },
        "addressLine2": {
          "description": "Address Line 2",
          "type": "string",
          "example": "Att: Rune Garborg"
        },
        "city": {
          "description": "City",
          "type": "string",
          "example": "Oslo"
        },
        "country": {
          "description": "Country,default=NO",
          "type": "string",
          "example": "NO"
        }
      },
      "type": "object"
    },
    "TransactionResponseCancel": {
      "required": [
        "orderId"
      ],
      "properties": {
        "orderId": {
          "maxLength": 30,
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "type": "string",
          "example": "order123abc"
        },
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCancel"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      },
      "type": "object"
    },
    "CallbackTransactionInfoStatus": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "properties": {
        "transactionId": {
          "description": "Vipps transaction id",
          "type": "string",
          "example": "5001420062"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction.",
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z"
        },
        "amount": {
          "description": "Ordered amount in øre",
          "type": "number",
          "example": 20000,
          "format": "double"
        },
        "status": {
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#callbacks) for more information.",
          "type": "string",
          "example": "RESERVE",
          "enum": [
            "RESERVE",
            "SALE",
            "CANCELLED",
            "REJECTED"
          ]
        }
      },
      "type": "object"
    },
    "ShippingDetailsRequest": {
      "required": [
        "address",
        "shippingCost",
        "shippingMethod"
      ],
      "properties": {
        "shippingMethod": {
          "description": "Shipping method which choosed for the payment",
          "type": "string"
        },
        "shippingCost": {
          "description": "Shipping cost",
          "type": "number",
          "format": "double"
        },
        "address": {
          "description": "Address Details",
          "$ref": "#/definitions/Address"
        }
      },
      "type": "object"
    },
    "CancelPaymentActionRequest": {
      "type": "object",
      "properties": {
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        },
        "transaction": {
          "$ref": "#/definitions/CancelTransaction"
        }
      }
    },
    "InitiatePaymentV2Representation": {
      "required": [
        "orderId",
        "url"
      ],
      "properties": {
        "url": {
          "description": "URL parameter will have URL to redirect the request to vipps gateway page in case request is trigger from web browser or deeplink URL to open vipps app incase request is triggered from Merchant Mobile App.",
          "type": "string",
          "example": "https://example.com"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters.",
          "type": "string",
          "example": "order123abc"
        }
      },
      "type": "object"
    }
  },
  "paths": {
    "/ecomm/v2/payments": {
      "post": {
        "operationId": "initiatePaymentV3UsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "This API call allows the merchants to initiate a payment flow by using Vipps. In order to identify which sales channel payments are coming from, a merchantSerialNumber is used to distinguish between them. Please note that a single payment is uniquely identified by a composite of merchantApplicationId (X-App-ID), merchantSerialNumber and orderId. The Merchant provided orderId must be unique per sales channel. Once the transaction is successfully initiated in Vipps, will you receive a redirect URL in response which has to be used by the merchant to open the Vipps landing page. The landing page will have functionality to identify and differentiate request coming from mobile browser/desktop browser. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "202": {
            "description": "Response for Initiate Payment",
            "schema": {
              "$ref": "#/definitions/InitiatePaymentV2Representation"
            }
          }
        },
        "tags": [
          "Vipps eCom API"
        ],
        "summary": "Initiate Payment",
        "parameters": [
          {
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "type": "string",
            "required": true,
            "name": "authorization"
          },
          {
            "in": "header",
            "description": "application/json",
            "type": "string",
            "required": true,
            "name": "content-type"
          },
          {
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "required": true,
            "name": "ocp-apim-subscription-key"
          },
          {
            "in": "body",
            "description": "initiatePaymentCommand",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InitiatePaymentCommand"
            },
            "name": "initiatePaymentCommand"
          }
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/cancel": {
      "put": {
        "operationId": "cancelPaymentRequestUsingPUT",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "The API call allows merchant to cancel the reserved transaction, The API will not allow partial cancellation which has the consequence that partially captured transactions cannot be cancelled. Please note that in a case of communication errors during initiate payment service call between Vipps and PSP/Acquirer/Issuer; even in a case that customer has confirmed a payment, the payment will be cancelled by Vipps. Note this means you can not cancel a captured payment.",
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "200": {
            "description": "Cancel payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseCancel"
            }
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "tags": [
          "Vipps eCom API"
        ],
        "summary": "Cancel Payment",
        "parameters": [
          {
            "in": "path",
            "description": "Order id specified in the request body of initiate payment.",
            "type": "string",
            "required": true,
            "name": "orderId"
          },
          {
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "type": "string",
            "required": true,
            "name": "authorization"
          },
          {
            "in": "header",
            "description": "`application/json`",
            "type": "string",
            "required": true,
            "name": "content-type"
          },
          {
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "required": true,
            "name": "ocp-apim-subscription-key"
          },
          {
            "in": "body",
            "description": "paymentActionsRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelPaymentActionRequest"
            },
            "name": "paymentActionsRequest"
          }
        ]
      }
    },
    "[consentRemovalPrefix]/v2/consents/{userId}": {
      "delete": {
        "operationId": "removeUserConsentUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "This API endpoint on the merchant side allows Vipps to send consent removal requests to the merchant. When receiving requests the merchant is obliged to remove the user details permanently, as per the GDPR guidelines. Vipps will add `/v2/consents/{userId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "responses": {
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "200": {
            "description": "Remove User Consent (for express checkout)"
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "summary": "Remove User Consent (for express checkout)",
        "parameters": [
          {
            "in": "path",
            "description": "The userId provided when requesting user information from Vipps. Received by callback or get detail request.",
            "type": "string",
            "required": true,
            "name": "userId"
          }
        ]
      }
    },
    "[shippingDetailsPrefix]/v2/payments/{orderId}/shippingDetails": {
      "post": {
        "operationId": "fetchShippingCostUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "This API endpoint on the merchant side allows Vipps to get the shipping cost and method based on the provided address and product details. The primary use of this service is Vipps Hurtigkasse (express checkout) where Vipps needs to present shipping cost and method to the Vipps user. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "200": {
            "description": "Fetch Shipping Cost & Method.",
            "schema": {
              "$ref": "#/definitions/FetchShippingCostResponse"
            }
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "summary": "Fetch Shipping Cost & Method",
        "parameters": [
          {
            "in": "path",
            "description": "orderId",
            "type": "string",
            "required": true,
            "name": "orderId"
          },
          {
            "in": "body",
            "description": "fetchShippingCostAndMethod",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FetchShippingCostAndMethod"
            },
            "name": "fetchShippingCostAndMethod"
          }
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/details": {
      "get": {
        "operationId": "getPaymentDetailsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "This API call allows merchant to get the details of a payment transaction. Service call returns detailed transaction history of given payment where events are sorted by the time single transaction occurred.",
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "200": {
            "description": "Get payment Details",
            "schema": {
              "$ref": "#/definitions/GetTransactionDetails"
            }
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "tags": [
          "Vipps eCom API"
        ],
        "summary": "Get payment Details",
        "parameters": [
          {
            "in": "path",
            "description": "Order id specified in the request body of initiate payment.",
            "type": "string",
            "required": true,
            "name": "orderId"
          },
          {
            "in": "header",
            "description": "Authorization-token is obtained by running the `/accesstoken/get` request.",
            "type": "string",
            "required": true,
            "name": "authorization"
          },
          {
            "in": "header",
            "description": "`application/json`",
            "type": "string",
            "required": true,
            "name": "content-type"
          },
          {
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "required": true,
            "name": "ocp-apim-subscription-key"
          }
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/refund": {
      "post": {
        "operationId": "refundPaymentUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "The API allows a merchant to do a refund of already captured transaction. There is an option to do a partial refund of the captured amount. Refunded amount cannot be larger than captured. Timeframe for issuing a refund for a payment is 365 days from the date payment has been captured. If the refund payment service call is called after the refund timeframe, service call will respond with an error. Refunded funds will be transferred from the merchant account to the customer credit card that was used in payment flow. Pay attention that in order to perform refund, there must be enough funds at merchant settlements account.",
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "200": {
            "description": "Refund payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseRefund"
            }
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "tags": [
          "Vipps eCom API"
        ],
        "summary": "Refund Payment ",
        "parameters": [
          {
            "in": "path",
            "description": "Order id specified in the request body of initiate payment.",
            "type": "string",
            "required": true,
            "name": "orderId"
          },
          {
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "type": "string",
            "required": true,
            "name": "authorization"
          },
          {
            "in": "header",
            "description": "`application/json`",
            "type": "string",
            "required": true,
            "name": "content-type"
          },
          {
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "required": true,
            "name": "ocp-apim-subscription-key"
          },
          {
            "in": "body",
            "description": "paymentActionsRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "name": "paymentActionsRequest"
          }
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/capture": {
      "post": {
        "operationId": "capturePaymentUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "This API call allows merchant to capture the reserved amount. Amount to capture cannot be higher than reserved. The API also allows capturing partial amount of the reserved amount. Partial capture can be called as many times as required so long there is reserved amount to capture. Transaction text is not optional and is used as a proof of delivery (tracking code, consignment number etc.). In a case of direct capture, both fund reservation and capture are executed in a single operation.",
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "200": {
            "description": "Capture payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseCapture"
            }
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "tags": [
          "Vipps eCom API"
        ],
        "summary": "Capture Payment ",
        "parameters": [
          {
            "in": "path",
            "description": "Order id specified in the request body of initiate payment.",
            "type": "string",
            "required": true,
            "name": "orderId"
          },
          {
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "type": "string",
            "required": true,
            "name": "authorization"
          },
          {
            "in": "header",
            "description": "`application/json`",
            "type": "string",
            "required": true,
            "name": "content-type"
          },
          {
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "required": true,
            "name": "ocp-apim-subscription-key"
          },
          {
            "in": "body",
            "description": "paymentActionsRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "name": "paymentActionsRequest"
          }
        ]
      }
    },
    "/accesstoken/get": {
      "post": {
        "operationId": "fetchAuthorizationTokenUsingPost",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "Authorization token API endpoint helps to get the JWT Bearer token that needs to be passed in every API request in the authorization header. The merchant application use the API to get a JWT access token. JWT access token is a base 64 encoded string value that must be aquire first before making any Vipps api calls",
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuthorizationTokenResponse"
            }
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "tags": [
          "Authorization Service"
        ],
        "summary": "Fetch authorization token",
        "parameters": [
          {
            "required": true,
            "name": "client_id",
            "in": "header",
            "description": "Client id is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "format": "guid"
          },
          {
            "in": "header",
            "description": "Client secret is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "required": true,
            "name": "client_secret"
          },
          {
            "in": "header",
            "description": "The subscription-key for authorization token is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. The ```DEFAULT_ACCESSTOKEN``` key is the value for subscription-key. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "required": true,
            "name": "ocp-apim-subscription-key"
          }
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/status": {
      "get": {
        "operationId": "getOrderStatusUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "This API call allows the merchant to get the status of the last payment transaction. Primarily use of this service is meant for inApp where simple response to check order status is preferred.",
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "200": {
            "description": "Get order status",
            "schema": {
              "$ref": "#/definitions/GetPaymentStatusResponse"
            }
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "tags": [
          "Vipps eCom API"
        ],
        "summary": "Get order status",
        "parameters": [
          {
            "in": "path",
            "description": "Order id specified in the request body of initiate payment.",
            "type": "string",
            "required": true,
            "name": "orderId"
          },
          {
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "type": "string",
            "required": true,
            "name": "authorization"
          },
          {
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "required": true,
            "name": "ocp-apim-subscription-key"
          }
        ]
      }
    },
    "[callbackPrefix]/v2/payments/{orderId}": {
      "post": {
        "operationId": "transactionUpdateCallbackForRegularPaymentUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "This API call allows Vipps to send the transaction details. During regular ecomm payment order and transaction details will be shared. During express checkout payment it will provide user details and shipping details addition to the order and transaction details. Vipps will add `/v2/payments/{orderId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "responses": {
          "402": {
            "description": "Payment Failed"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "500": {
            "description": "Something went wrong on the Vipps server side"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "200": {
            "description": "Callback : Transaction Update"
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "summary": "Callback : Transaction Update",
        "parameters": [
          {
            "in": "path",
            "description": "orderId",
            "type": "string",
            "required": true,
            "name": "orderId"
          },
          {
            "in": "body",
            "description": "expressCheckOutPaymentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExpressCheckOutPaymentRequest"
            },
            "name": "expressCheckOutPaymentRequest"
          }
        ]
      }
    }
  },
  "tags": [
    {
      "description": "Authorization Service",
      "name": "Authorization Service"
    },
    {
      "description": "Functionality provided by the Vipps eCommerce API",
      "name": "Vipps eCom API"
    },
    {
      "description": "These endpoints must be implemented by the merchant, and are called by Vipps.",
      "name": "Endpoints required by Vipps from the merchant"
    }
  ]
}