{
  "host": "apitest.vipps.no",
  "swagger": "2.0",
  "definitions": {
    "TransactionResponseCancel": {
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCancel"
        },
        "orderId": {
          "example": "order123abc",
          "maxLength": 30,
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      },
      "required": [
        "orderId"
      ],
      "type": "object"
    },
    "ShippingDetails": {
      "properties": {
        "isDefault": {
          "type": "string",
          "enum": [
            "Y",
            "N"
          ]
        },
        "shippingCost": {
          "format": "double",
          "type": "number"
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "shippingMethod": {
          "type": "string"
        },
        "shippingMethodId": {
          "type": "string"
        }
      },
      "required": [
        "isDefault",
        "shippingCost",
        "shippingMethod",
        "shippingMethodId"
      ],
      "type": "object"
    },
    "TransactionResponseRefund": {
      "properties": {
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transaction": {
          "$ref": "#/definitions/TransactionInfoRefund"
        },
        "orderId": {
          "example": "order123abc",
          "maxLength": 30,
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters"
        }
      },
      "required": [
        "orderId"
      ],
      "type": "object"
    },
    "Address": {
      "properties": {
        "addressLine1": {
          "example": "Dronning Eufemias gate 42",
          "type": "string",
          "description": "Address Line 1"
        },
        "addressLine2": {
          "example": "Att: Rune Garborg",
          "type": "string",
          "description": "Address Line 2"
        },
        "country": {
          "example": "NO",
          "type": "string",
          "description": "Country,default=NO"
        },
        "zipCode": {
          "example": "0191",
          "type": "string",
          "description": "Zip Code"
        },
        "city": {
          "example": "Oslo",
          "type": "string",
          "description": "City"
        }
      },
      "required": [
        "addressLine1",
        "city",
        "country",
        "zipCode"
      ],
      "type": "object"
    },
    "InitiatePaymentV2Representation": {
      "properties": {
        "url": {
          "example": "https://example.com",
          "type": "string",
          "description": "URL parameter will have URL to redirect the request to vipps gateway page in case request is trigger from web browser or deeplink URL to open vipps app incase request is triggered from Merchant Mobile App."
        },
        "orderId": {
          "example": "order123abc",
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters."
        }
      },
      "required": [
        "orderId",
        "url"
      ],
      "type": "object"
    },
    "UserDetails": {
      "properties": {
        "firstName": {
          "example": "Ada",
          "type": "string",
          "description": "First name"
        },
        "lastName": {
          "example": "Lovelace",
          "type": "string",
          "description": "Last name"
        },
        "dateOfBirth": {
          "example": "12-3-1988",
          "type": "string",
          "description": "12-3-1988"
        },
        "ssn": {
          "maxLength": 11,
          "description": "12345678912",
          "pattern": "^\\d{11}$",
          "type": "string",
          "minLength": 11
        },
        "bankIdVerified": {
          "type": "string"
        },
        "email": {
          "example": "user@example.com",
          "type": "string",
          "description": "Email address"
        },
        "mobileNumber": {
          "maxLength": 12,
          "description": "12345678",
          "pattern": "^\\d{8,12}$",
          "type": "string",
          "minLength": 8
        },
        "userId": {
          "example": "1234567",
          "type": "string",
          "description": "1234567"
        }
      },
      "required": [
        "email",
        "firstName",
        "lastName",
        "mobileNumber",
        "userId"
      ],
      "type": "object"
    },
    "TransactionInfoRefund": {
      "properties": {
        "amount": {
          "example": 20000,
          "format": "double",
          "type": "number",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "type": "string",
          "description": "Transaction text reference provided by merchant"
        },
        "status": {
          "example": "Refund",
          "enum": [
            "Refund"
          ],
          "type": "string",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        }
      },
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "type": "object"
    },
    "GetTransactionDetails": {
      "properties": {
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails"
        },
        "shippingDetails": {
          "$ref": "#/definitions/PaymentShippingDetails"
        },
        "orderId": {
          "example": "order123abc",
          "type": "string"
        },
        "transactionLogHistory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionLogHistory"
          }
        }
      },
      "type": "object"
    },
    "CancelPaymentActionRequest": {
      "properties": {
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        },
        "transaction": {
          "$ref": "#/definitions/CancelTransaction"
        }
      },
      "type": "object"
    },
    "AuthorizationTokenMethod": {
      "type": "object"
    },
    "TransactionLogHistory": {
      "properties": {
        "operationSuccess": {
          "type": "boolean"
        },
        "requestId": {
          "type": "string"
        },
        "transactionId": {
          "type": "string"
        },
        "timeStamp": {
          "type": "string"
        },
        "amount": {
          "format": "int32",
          "type": "integer"
        },
        "operation": {
          "example": "RESERVE",
          "description": "The operation that was performed for this log entry. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "enum": [
            "INITIATE",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID"
          ],
          "type": "string"
        },
        "transactionText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuthorizationTokenResponse": {
      "properties": {
        "expires_on": {
          "example": 1547823408,
          "type": "integer"
        },
        "ext_expires_in": {
          "example": 3600,
          "type": "integer"
        },
        "access_token": {
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "type": "string"
        },
        "token_type": {
          "example": "Bearer",
          "type": "string"
        },
        "resource": {
          "example": "00000002-0000-0000-c000-000000000000",
          "type": "string"
        },
        "not_before": {
          "example": 1547819508,
          "type": "integer"
        },
        "expires_in": {
          "example": 3600,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "PaymentShippingDetails": {
      "properties": {
        "shippingCost": {
          "example": 1500,
          "format": "double",
          "type": "number",
          "description": "Shipping Cost"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "shippingMethod": {
          "example": "Posten",
          "type": "string",
          "description": "Shipping method"
        }
      },
      "required": [
        "shippingCost",
        "shippingMethod"
      ],
      "type": "object"
    },
    "GetPaymentStatusResponse": {
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/OrderStatusInfoTransactionInfo"
        },
        "orderId": {
          "example": "order123abc",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FetchShippingCostAndMethod": {
      "properties": {
        "addressId": {
          "format": "int32",
          "type": "integer",
          "description": "Vipps Provided address Id. To be returned in response in the same field"
        },
        "city": {
          "example": "Oslo",
          "type": "string",
          "description": "City"
        },
        "addressLine2": {
          "type": "string"
        },
        "country": {
          "example": "NO",
          "type": "string",
          "description": "The only country supported is Norway"
        },
        "addressType": {
          "example": "H",
          "type": "string"
        },
        "postalCode": {
          "example": "0191",
          "description": "Four digits",
          "format": "int32",
          "pattern": "^\\df{4}$",
          "type": "integer"
        },
        "postCode": {
          "example": "0191",
          "description": "Four digits",
          "format": "int32",
          "pattern": "^\\df{4}$",
          "type": "integer"
        },
        "addressLine1": {
          "example": "Dronning Eufemias gate 42",
          "type": "string"
        }
      },
      "required": [
        "addressId",
        "addressLine1",
        "city",
        "country",
        "postCode"
      ],
      "type": "object"
    },
    "TransactionSummary": {
      "properties": {
        "capturedAmount": {
          "example": 20000,
          "format": "int32",
          "type": "integer",
          "description": "Total amount captured"
        },
        "remainingAmountToRefund": {
          "example": 20000,
          "format": "int32",
          "type": "integer",
          "description": "Total remaining amount to refund"
        },
        "refundedAmount": {
          "example": 0,
          "format": "int32",
          "type": "integer",
          "description": "Total refunded amount of the order"
        },
        "remainingAmountToCapture": {
          "example": 0,
          "format": "int32",
          "type": "integer",
          "description": "Total remaining amount to capture"
        }
      },
      "required": [
        "capturedAmount",
        "refundedAmount",
        "remainingAmountToCapture",
        "remainingAmountToRefund"
      ],
      "type": "object"
    },
    "TransactionInfoInitiateDTO": {
      "properties": {
        "amount": {
          "example": 20000,
          "description": "Amount in øre. 32 bit Integer (2147483647)",
          "format": "int32",
          "pattern": "^\\d{3,}$",
          "type": "integer"
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "maxLength": 100,
          "type": "string",
          "description": "Transaction text that can be displayed to end user"
        },
        "orderId": {
          "example": "order123abc",
          "maxLength": 30,
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters."
        },
        "refOrderId": {
          "example": "merchantOrder123abc",
          "maxLength": 30,
          "type": "string",
          "description": "Identifies if the payment references to some past orders registered with Vipps. If defined, transactions for this payment will show up as child transactions of the specified order."
        },
        "timeStamp": {
          "example": "2018-11-14T15:44:26.590Z",
          "format": "date-time",
          "type": "string",
          "description": "ISO formatted date time string."
        }
      },
      "required": [
        "amount",
        "orderId",
        "transactionText"
      ],
      "type": "object"
    },
    "TransactionInfoCancel": {
      "properties": {
        "amount": {
          "example": 20000,
          "format": "double",
          "type": "number",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "type": "string",
          "description": "Transaction text reference provided by merchant"
        },
        "status": {
          "example": "Cancelled",
          "enum": [
            "Cancelled"
          ],
          "type": "string",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        }
      },
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "type": "object"
    },
    "Transaction": {
      "properties": {
        "amount": {
          "example": 20000,
          "description": "Amount in øre, if amount is 0 or not provided then full capture will be performed. 32 Bit Integer (2147483647)",
          "format": "int32",
          "pattern": "^\\d{3,}$",
          "type": "integer"
        },
        "transactionText": {
          "type": "string",
          "description": "Proof of delivery"
        }
      },
      "required": [
        "transactionText"
      ],
      "type": "object"
    },
    "FetchShippingCostResponse": {
      "properties": {
        "addressId": {
          "format": "int32",
          "type": "integer"
        },
        "shippingDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShippingDetails"
          }
        },
        "orderId": {
          "example": "order123abc",
          "type": "string"
        }
      },
      "required": [
        "addressId",
        "orderId",
        "shippingDetails"
      ],
      "type": "object"
    },
    "CancelTransaction": {
      "properties": {
        "transactionText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "MerchantInfoPayment": {
      "properties": {
        "merchantSerialNumber": {
          "maxLength": 6,
          "pattern": "^\\d{6}$",
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "example": 123456,
          "minLength": 6,
          "type": "string"
        }
      },
      "required": [
        "merchantSerialNumber"
      ],
      "type": "object"
    },
    "CustomerInfoDto": {
      "properties": {
        "mobileNumber": {
          "maxLength": 8,
          "pattern": "^\\d{8}$",
          "description": "Mobile number of the user who has to pay for the transation from Vipps. Allowed format: xxxxxxxx",
          "example": 91234567,
          "minLength": 8,
          "type": "string"
        }
      },
      "type": "object"
    },
    "OrderStatusInfoTransactionInfo": {
      "properties": {
        "amount": {
          "example": 20000,
          "format": "double",
          "type": "number",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        },
        "status": {
          "example": "RESERVE",
          "enum": [
            "INITIATE",
            "REGISTER",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID",
            "FAILED",
            "REJECTED"
          ],
          "type": "string",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction."
        }
      },
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "type": "object"
    },
    "CallbackTransactionInfoStatus": {
      "properties": {
        "amount": {
          "example": 20000,
          "format": "double",
          "type": "number",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        },
        "status": {
          "example": "RESERVE",
          "enum": [
            "RESERVE",
            "SALE",
            "CANCELLED",
            "REJECTED"
          ],
          "type": "string",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#callbacks) for more information."
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction."
        }
      },
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "type": "object"
    },
    "PaymentActionsRequest": {
      "properties": {
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        },
        "transaction": {
          "$ref": "#/definitions/Transaction"
        }
      },
      "type": "object"
    },
    "ShippingDetailsRequest": {
      "properties": {
        "shippingCost": {
          "format": "double",
          "type": "number",
          "description": "Shipping cost"
        },
        "address": {
          "$ref": "#/definitions/Address",
          "description": "Address Details"
        },
        "shippingMethod": {
          "type": "string",
          "description": "Shipping method which choosed for the payment"
        }
      },
      "required": [
        "address",
        "shippingCost",
        "shippingMethod"
      ],
      "type": "object"
    },
    "InitiatePaymentCommand": {
      "properties": {
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoDto",
          "description": "it has merchant related information to initiate the payment"
        },
        "transaction": {
          "$ref": "#/definitions/TransactionInfoInitiateDTO",
          "description": "it has transaction details which needs to be inititated"
        },
        "customerInfo": {
          "$ref": "#/definitions/CustomerInfoDto",
          "description": "it has customer information and it is not required"
        }
      },
      "required": [
        "customerInfo",
        "merchantInfo",
        "transaction"
      ],
      "type": "object"
    },
    "ExpressCheckOutPaymentRequest": {
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/CallbackTransactionInfoStatus"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "Vipps User Information"
        },
        "merchantSerialNumber": {
          "maxLength": 6,
          "pattern": "^\\d{6}$",
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "example": 123456,
          "minLength": 6,
          "type": "string"
        },
        "orderId": {
          "example": "order123abc",
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters"
        },
        "shippingDetails": {
          "$ref": "#/definitions/ShippingDetailsRequest",
          "description": "Shipping Details will be added in the call back request if the payment is Express Checkout"
        }
      },
      "required": [
        "merchantSerialNumber",
        "orderId",
        "shippingDetails",
        "userDetails"
      ],
      "type": "object"
    },
    "MerchantInfoDto": {
      "properties": {
        "callbackPrefix": {
          "example": "https://example.com/vipps/callbacks",
          "maxLength": 255,
          "type": "string",
          "description": "This is an URL for receiving the callback after the payment request. Domain name and context path should be provided by merchant as the value for this parameter. Vipps will add `/v2/payments/{orderId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
        },
        "shippingDetailsPrefix": {
          "example": "https://example.com/vipps/shipping/",
          "maxLength": 255,
          "type": "string",
          "description": "In case of express checkout payment, merchant should pass this prefix to let Vipps fetch shipping cost and method related details. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end or this URL."
        },
        "authToken": {
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "maxLength": 255,
          "type": "string",
          "description": "The Merchant should share this token if merchant has authentication mechanism in place which could be used for making callbacks secure."
        },
        "fallBack": {
          "example": "https://example.com/vipps/fallback/order123abc",
          "maxLength": 255,
          "type": "string",
          "description": "Vipps will use the fall back URL to redirect Merchant Page once Payment is completed in Vipps System URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
        },
        "merchantSerialNumber": {
          "maxLength": 6,
          "pattern": "^\\d{6}$",
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "example": 123456,
          "minLength": 6,
          "type": "string"
        },
        "isApp": {
          "example": false,
          "default": false,
          "type": "boolean",
          "description": "This parameter indicates whether payment request is triggered from Mobile App or Web browser. Based on this value, response will be redirect URL for Vipps landing page or deeplink URL to connect vipps App. When isApp is set to true, URLs passed to Vipps will not be validated as regular URLs."
        },
        "consentRemovalPrefix": {
          "example": "https://example.com/vipps",
          "maxLength": 255,
          "type": "string",
          "description": "Required for expess checkout payments. This callback URL will be used by Vipps to inform the merchant that the user has revoked his/her consent: This Vipps user does do not want the merchant to store or use his/her personal information anymore. Required by GDPR. Vipps will add `/v2/consents/{userId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
        },
        "paymentType": {
          "example": "eComm Regular Payment",
          "description": "This parameter will identify difference between a regular ecomm payment and ecomm express payment. For express checkout, use: \"eComm Express Payment\". Express checkouts require consentRemovalPrefix.",
          "enum": [
            "eComm Regular Payment",
            "eComm Express Payment"
          ],
          "type": "string",
          "default": "eComm Regular Payment"
        }
      },
      "required": [
        "callbackPrefix",
        "fallBack",
        "merchantSerialNumber"
      ],
      "type": "object"
    },
    "TransactionResponseCapture": {
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCapture"
        },
        "orderId": {
          "example": "order123abc",
          "maxLength": 30,
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      },
      "required": [
        "orderId"
      ],
      "type": "object"
    },
    "TransactionInfoCapture": {
      "properties": {
        "amount": {
          "example": 20000,
          "format": "double",
          "type": "number",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "type": "string",
          "description": "Transaction text reference provided by merchant"
        },
        "status": {
          "example": "Captured",
          "enum": [
            "Captured"
          ],
          "type": "string",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        }
      },
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "type": "object"
    }
  },
  "tags": [
    {
      "name": "Authorization Service",
      "description": "Authorization Service"
    },
    {
      "name": "Vipps eCom API",
      "description": "Functionality provided by the Vipps eCommerce API"
    },
    {
      "name": "Endpoints required by Vipps from the merchant",
      "description": "These endpoints must be implemented by the merchant, and are called by Vipps."
    }
  ],
  "paths": {
    "[shippingDetailsPrefix]/v2/payments/{orderId}/shippingDetails": {
      "post": {
        "operationId": "fetchShippingCostUsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "This API endpoint on the merchant side allows Vipps to get the shipping cost and method based on the provided address and product details. The primary use of this service is Vipps Hurtigkasse (express checkout) where Vipps needs to present shipping cost and method to the Vipps user. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/FetchShippingCostResponse"
            },
            "description": "Fetch Shipping Cost & Method."
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "orderId"
          },
          {
            "schema": {
              "$ref": "#/definitions/FetchShippingCostAndMethod"
            },
            "name": "fetchShippingCostAndMethod",
            "required": true,
            "in": "body",
            "description": "fetchShippingCostAndMethod"
          }
        ],
        "summary": "Fetch Shipping Cost & Method"
      }
    },
    "/ecomm/v2/payments/{orderId}/status": {
      "get": {
        "operationId": "getOrderStatusUsingGET",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "This API call allows the merchant to get the status of the last payment transaction. Primarily use of this service is meant for inApp where simple response to check order status is preferred.",
        "tags": [
          "Vipps eCom API"
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/GetPaymentStatusResponse"
            },
            "description": "Get order status"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "ocp-apim-subscription-key",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          }
        ],
        "summary": "Get order status"
      }
    },
    "/ecomm/v2/payments/{orderId}/capture": {
      "post": {
        "operationId": "capturePaymentUsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "This API call allows merchant to capture the reserved amount. Amount to capture cannot be higher than reserved. The API also allows capturing partial amount of the reserved amount. Partial capture can be called as many times as required so long there is reserved amount to capture. Transaction text is not optional and is used as a proof of delivery (tracking code, consignment number etc.). In a case of direct capture, both fund reservation and capture are executed in a single operation.",
        "tags": [
          "Vipps eCom API"
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseCapture"
            },
            "description": "Capture payment response"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "content-type",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "`application/json`"
          },
          {
            "name": "ocp-apim-subscription-key",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "name": "paymentActionsRequest",
            "required": true,
            "in": "body",
            "description": "paymentActionsRequest"
          }
        ],
        "summary": "Capture Payment "
      }
    },
    "/accesstoken/get": {
      "post": {
        "operationId": "fetchAuthorizationTokenUsingPost",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "Authorization token API endpoint helps to get the JWT Bearer token that needs to be passed in every API request in the authorization header. The merchant application use the API to get a JWT access token. JWT access token is a base 64 encoded string value that must be aquire first before making any Vipps api calls",
        "parameters": [
          {
            "name": "client_id",
            "required": true,
            "format": "guid",
            "description": "Client id is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "in": "header",
            "type": "string"
          },
          {
            "name": "client_secret",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "Client secret is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "name": "ocp-apim-subscription-key",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "The subscription-key for authorization token is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. The ```DEFAULT_ACCESSTOKEN``` key is the value for subscription-key. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AuthorizationTokenResponse"
            },
            "description": "OK"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "tags": [
          "Authorization Service"
        ],
        "summary": "Fetch authorization token"
      }
    },
    "/ecomm/v2/payments": {
      "post": {
        "operationId": "initiatePaymentV3UsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "This API call allows the merchants to initiate a payment flow by using Vipps. In order to identify which sales channel payments are coming from, a merchantSerialNumber is used to distinguish between them. Please note that a single payment is uniquely identified by a composite of merchantApplicationId (X-App-ID), merchantSerialNumber and orderId. The Merchant provided orderId must be unique per sales channel. Once the transaction is successfully initiated in Vipps, will you receive a redirect URL in response which has to be used by the merchant to open the Vipps landing page. The landing page will have functionality to identify and differentiate request coming from mobile browser/desktop browser. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "tags": [
          "Vipps eCom API"
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "202": {
            "schema": {
              "$ref": "#/definitions/InitiatePaymentV2Representation"
            },
            "description": "Response for Initiate Payment"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "parameters": [
          {
            "name": "authorization",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "content-type",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "application/json"
          },
          {
            "name": "ocp-apim-subscription-key",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "schema": {
              "$ref": "#/definitions/InitiatePaymentCommand"
            },
            "name": "initiatePaymentCommand",
            "required": true,
            "in": "body",
            "description": "initiatePaymentCommand"
          }
        ],
        "summary": "Initiate Payment"
      }
    },
    "/ecomm/v2/payments/{orderId}/cancel": {
      "put": {
        "operationId": "cancelPaymentRequestUsingPUT",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "The API call allows merchant to cancel the reserved transaction, The API will not allow partial cancellation which has the consequence that partially captured transactions cannot be cancelled. Please note that in a case of communication errors during initiate payment service call between Vipps and PSP/Acquirer/Issuer; even in a case that customer has confirmed a payment, the payment will be cancelled by Vipps. Note this means you can not cancel a captured payment.",
        "tags": [
          "Vipps eCom API"
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseCancel"
            },
            "description": "Cancel payment response"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "content-type",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "`application/json`"
          },
          {
            "name": "ocp-apim-subscription-key",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "schema": {
              "$ref": "#/definitions/CancelPaymentActionRequest"
            },
            "name": "paymentActionsRequest",
            "required": true,
            "in": "body",
            "description": "paymentActionsRequest"
          }
        ],
        "summary": "Cancel Payment"
      }
    },
    "[callbackPrefix]/v2/payments/{orderId}": {
      "post": {
        "operationId": "transactionUpdateCallbackForRegularPaymentUsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "This API call allows Vipps to send the transaction details. During regular ecomm payment order and transaction details will be shared. During express checkout payment it will provide user details and shipping details addition to the order and transaction details. Vipps will add `/v2/payments/{orderId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "Callback : Transaction Update"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong on the Vipps server side"
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "orderId"
          },
          {
            "schema": {
              "$ref": "#/definitions/ExpressCheckOutPaymentRequest"
            },
            "name": "expressCheckOutPaymentRequest",
            "required": true,
            "in": "body",
            "description": "expressCheckOutPaymentRequest"
          }
        ],
        "summary": "Callback : Transaction Update"
      }
    },
    "[consentRemovalPrefix]/v2/consents/{userId}": {
      "delete": {
        "operationId": "removeUserConsentUsingDELETE",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "This API endpoint on the merchant side allows Vipps to send consent removal requests to the merchant. When receiving requests the merchant is obliged to remove the user details permanently, as per the GDPR guidelines. Vipps will add `/v2/consents/{userId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Remove User Consent (for express checkout)"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "The userId provided when requesting user information from Vipps. Received by callback or get detail request."
          }
        ],
        "summary": "Remove User Consent (for express checkout)"
      }
    },
    "/ecomm/v2/payments/{orderId}/details": {
      "get": {
        "operationId": "getPaymentDetailsUsingGET",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "This API call allows merchant to get the details of a payment transaction. Service call returns detailed transaction history of given payment where events are sorted by the time single transaction occurred.",
        "tags": [
          "Vipps eCom API"
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/GetTransactionDetails"
            },
            "description": "Get payment Details"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "Authorization-token is obtained by running the `/accesstoken/get` request."
          },
          {
            "name": "content-type",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "`application/json`"
          },
          {
            "name": "ocp-apim-subscription-key",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          }
        ],
        "summary": "Get payment Details"
      }
    },
    "/ecomm/v2/payments/{orderId}/refund": {
      "post": {
        "operationId": "refundPaymentUsingPOST",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "description": "The API allows a merchant to do a refund of already captured transaction. There is an option to do a partial refund of the captured amount. Refunded amount cannot be larger than captured. Timeframe for issuing a refund for a payment is 365 days from the date payment has been captured. If the refund payment service call is called after the refund timeframe, service call will respond with an error. Refunded funds will be transferred from the merchant account to the customer credit card that was used in payment flow. Pay attention that in order to perform refund, there must be enough funds at merchant settlements account.",
        "tags": [
          "Vipps eCom API"
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseRefund"
            },
            "description": "Refund payment response"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "required": true,
            "in": "path",
            "type": "string",
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "content-type",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "`application/json`"
          },
          {
            "name": "ocp-apim-subscription-key",
            "required": true,
            "in": "header",
            "type": "string",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "name": "paymentActionsRequest",
            "required": true,
            "in": "body",
            "description": "paymentActionsRequest"
          }
        ],
        "summary": "Refund Payment "
      }
    }
  },
  "info": {
    "title": "Vipps eCommerce APIs",
    "version": "1.0.4",
    "description": "# Vipps eCommerce API\nAdditional API documentation: https://github.com/vippsas/vipps-ecom-api/\n"
  }
}