{
  "swagger": "2.0",
  "host": "apitest.vipps.no",
  "info": {
    "version": "1.0.4",
    "title": "Vipps eCommerce APIs",
    "description": "# Vipps eCommerce API\nAdditional API documentation: https://github.com/vippsas/vipps-ecom-api/\n"
  },
  "tags": [
    {
      "name": "Authorization Service",
      "description": "Authorization Service"
    },
    {
      "name": "Vipps eCom API",
      "description": "Functionality provided by the Vipps eCommerce API"
    },
    {
      "name": "Endpoints required by Vipps from the merchant",
      "description": "These endpoints must be implemented by the merchant, and are called by Vipps."
    }
  ],
  "paths": {
    "/accesstoken/get": {
      "post": {
        "parameters": [
          {
            "name": "client_id",
            "type": "string",
            "format": "guid",
            "description": "Client id is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "in": "header",
            "required": true
          },
          {
            "in": "header",
            "name": "client_secret",
            "type": "string",
            "required": true,
            "description": "Client secret is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "in": "header",
            "name": "ocp-apim-subscription-key",
            "type": "string",
            "required": true,
            "description": "The subscription-key for authorization token is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. The ```DEFAULT_ACCESSTOKEN``` key is the value for subscription-key. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          }
        ],
        "description": "Authorization token API endpoint helps to get the JWT Bearer token that needs to be passed in every API request in the authorization header. The merchant application use the API to get a JWT access token. JWT access token is a base 64 encoded string value that must be aquire first before making any Vipps api calls",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "operationId": "fetchAuthorizationTokenUsingPost",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/AuthorizationTokenResponse"
            },
            "description": "OK"
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "415": {
            "description": "Unsupported media type"
          }
        },
        "summary": "Fetch authorization token",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Authorization Service"
        ]
      }
    },
    "[callbackPrefix]/v2/payments/{orderId}": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "orderId",
            "type": "string",
            "required": true,
            "description": "orderId"
          },
          {
            "required": true,
            "name": "expressCheckOutPaymentRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ExpressCheckOutPaymentRequest"
            },
            "description": "expressCheckOutPaymentRequest"
          }
        ],
        "description": "This API call allows Vipps to send the transaction details. During regular ecomm payment order and transaction details will be shared. During express checkout payment it will provide user details and shipping details addition to the order and transaction details. Vipps will add `/v2/payments/{orderId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "operationId": "transactionUpdateCallbackForRegularPaymentUsingPOST",
        "responses": {
          "500": {
            "description": "Something went wrong on the Vipps server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "200": {
            "description": "Callback : Transaction Update"
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "415": {
            "description": "Unsupported media type"
          }
        },
        "summary": "Callback : Transaction Update",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ]
      }
    },
    "[consentRemovalPrefix]/v2/consents/{userId}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "type": "string",
            "required": true,
            "description": "The userId provided when requesting user information from Vipps. Received by callback or get detail request."
          }
        ],
        "description": "This API endpoint on the merchant side allows Vipps to send consent removal requests to the merchant. When receiving requests the merchant is obliged to remove the user details permanently, as per the GDPR guidelines. Vipps will add `/v2/consents/{userId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "consumes": [
          "application/json"
        ],
        "operationId": "removeUserConsentUsingDELETE",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "200": {
            "description": "Remove User Consent (for express checkout)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "415": {
            "description": "Unsupported media type"
          }
        },
        "summary": "Remove User Consent (for express checkout)",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ]
      }
    },
    "[shippingDetailsPrefix]/v2/payments/{orderId}/shippingDetails": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "orderId",
            "type": "string",
            "required": true,
            "description": "orderId"
          },
          {
            "required": true,
            "name": "fetchShippingCostAndMethod",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FetchShippingCostAndMethod"
            },
            "description": "fetchShippingCostAndMethod"
          }
        ],
        "description": "This API endpoint on the merchant side allows Vipps to get the shipping cost and method based on the provided address and product details. The primary use of this service is Vipps Hurtigkasse (express checkout) where Vipps needs to present shipping cost and method to the Vipps user. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "operationId": "fetchShippingCostUsingPOST",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/FetchShippingCostResponse"
            },
            "description": "Fetch Shipping Cost & Method."
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "415": {
            "description": "Unsupported media type"
          }
        },
        "summary": "Fetch Shipping Cost & Method",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/refund": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "orderId",
            "type": "string",
            "required": true,
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "in": "header",
            "name": "authorization",
            "type": "string",
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "in": "header",
            "name": "content-type",
            "type": "string",
            "required": true,
            "description": "`application/json`"
          },
          {
            "in": "header",
            "name": "ocp-apim-subscription-key",
            "type": "string",
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "required": true,
            "name": "paymentActionsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "description": "paymentActionsRequest"
          }
        ],
        "description": "The API allows a merchant to do a refund of already captured transaction. There is an option to do a partial refund of the captured amount. Refunded amount cannot be larger than captured. Timeframe for issuing a refund for a payment is 365 days from the date payment has been captured. If the refund payment service call is called after the refund timeframe, service call will respond with an error. Refunded funds will be transferred from the merchant account to the customer credit card that was used in payment flow. Pay attention that in order to perform refund, there must be enough funds at merchant settlements account.",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "operationId": "refundPaymentUsingPOST",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseRefund"
            },
            "description": "Refund payment response"
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "415": {
            "description": "Unsupported media type"
          }
        },
        "summary": "Refund Payment ",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/cancel": {
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "orderId",
            "type": "string",
            "required": true,
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "in": "header",
            "name": "authorization",
            "type": "string",
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "in": "header",
            "name": "content-type",
            "type": "string",
            "required": true,
            "description": "`application/json`"
          },
          {
            "in": "header",
            "name": "ocp-apim-subscription-key",
            "type": "string",
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "required": true,
            "name": "paymentActionsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CancelPaymentActionRequest"
            },
            "description": "paymentActionsRequest"
          }
        ],
        "description": "The API call allows merchant to cancel the reserved transaction, The API will not allow partial cancellation which has the consequence that partially captured transactions cannot be cancelled. Please note that in a case of communication errors during initiate payment service call between Vipps and PSP/Acquirer/Issuer; even in a case that customer has confirmed a payment, the payment will be cancelled by Vipps. Note this means you can not cancel a captured payment.",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "operationId": "cancelPaymentRequestUsingPUT",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseCancel"
            },
            "description": "Cancel payment response"
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "415": {
            "description": "Unsupported media type"
          }
        },
        "summary": "Cancel Payment",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/details": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "orderId",
            "type": "string",
            "required": true,
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "in": "header",
            "name": "authorization",
            "type": "string",
            "required": true,
            "description": "Authorization-token is obtained by running the `/accesstoken/get` request."
          },
          {
            "in": "header",
            "name": "content-type",
            "type": "string",
            "required": true,
            "description": "`application/json`"
          },
          {
            "in": "header",
            "name": "ocp-apim-subscription-key",
            "type": "string",
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          }
        ],
        "description": "This API call allows merchant to get the details of a payment transaction. Service call returns detailed transaction history of given payment where events are sorted by the time single transaction occurred.",
        "consumes": [
          "application/json"
        ],
        "operationId": "getPaymentDetailsUsingGET",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/GetTransactionDetails"
            },
            "description": "Get payment Details"
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "415": {
            "description": "Unsupported media type"
          }
        },
        "summary": "Get payment Details",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/capture": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "orderId",
            "type": "string",
            "required": true,
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "in": "header",
            "name": "authorization",
            "type": "string",
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "in": "header",
            "name": "content-type",
            "type": "string",
            "required": true,
            "description": "`application/json`"
          },
          {
            "in": "header",
            "name": "ocp-apim-subscription-key",
            "type": "string",
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "required": true,
            "name": "paymentActionsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "description": "paymentActionsRequest"
          }
        ],
        "description": "This API call allows merchant to capture the reserved amount. Amount to capture cannot be higher than reserved. The API also allows capturing partial amount of the reserved amount. Partial capture can be called as many times as required so long there is reserved amount to capture. Transaction text is not optional and is used as a proof of delivery (tracking code, consignment number etc.). In a case of direct capture, both fund reservation and capture are executed in a single operation.",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "operationId": "capturePaymentUsingPOST",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseCapture"
            },
            "description": "Capture payment response"
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "415": {
            "description": "Unsupported media type"
          }
        },
        "summary": "Capture Payment ",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/status": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "orderId",
            "type": "string",
            "required": true,
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "in": "header",
            "name": "authorization",
            "type": "string",
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "in": "header",
            "name": "ocp-apim-subscription-key",
            "type": "string",
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          }
        ],
        "description": "This API call allows the merchant to get the status of the last payment transaction. Primarily use of this service is meant for inApp where simple response to check order status is preferred.",
        "consumes": [
          "application/json"
        ],
        "operationId": "getOrderStatusUsingGET",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/GetPaymentStatusResponse"
            },
            "description": "Get order status"
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "415": {
            "description": "Unsupported media type"
          }
        },
        "summary": "Get order status",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ]
      }
    },
    "/ecomm/v2/payments": {
      "post": {
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "type": "string",
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "in": "header",
            "name": "content-type",
            "type": "string",
            "required": true,
            "description": "application/json"
          },
          {
            "in": "header",
            "name": "ocp-apim-subscription-key",
            "type": "string",
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "required": true,
            "name": "initiatePaymentCommand",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/InitiatePaymentCommand"
            },
            "description": "initiatePaymentCommand"
          }
        ],
        "description": "This API call allows the merchants to initiate a payment flow by using Vipps. In order to identify which sales channel payments are coming from, a merchantSerialNumber is used to distinguish between them. Please note that a single payment is uniquely identified by a composite of merchantApplicationId (X-App-ID), merchantSerialNumber and orderId. The Merchant provided orderId must be unique per sales channel. Once the transaction is successfully initiated in Vipps, will you receive a redirect URL in response which has to be used by the merchant to open the Vipps landing page. The landing page will have functionality to identify and differentiate request coming from mobile browser/desktop browser. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "operationId": "initiatePaymentV3UsingPOST",
        "responses": {
          "202": {
            "schema": {
              "$ref": "#/definitions/InitiatePaymentV2Representation"
            },
            "description": "Response for Initiate Payment"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "405": {
            "description": "Request method not supported"
          },
          "415": {
            "description": "Unsupported media type"
          }
        },
        "summary": "Initiate Payment",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ]
      }
    }
  },
  "definitions": {
    "TransactionResponseRefund": {
      "required": [
        "orderId"
      ],
      "type": "object",
      "properties": {
        "transaction": {
          "$ref": "#/definitions/TransactionInfoRefund"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "orderId": {
          "maxLength": 30,
          "example": "order123abc",
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters"
        }
      }
    },
    "PaymentActionsRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "$ref": "#/definitions/Transaction"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        }
      }
    },
    "FetchShippingCostAndMethod": {
      "required": [
        "addressId",
        "addressLine1",
        "city",
        "country",
        "postCode"
      ],
      "type": "object",
      "properties": {
        "country": {
          "example": "NO",
          "type": "string",
          "description": "The only country supported is Norway"
        },
        "addressLine2": {
          "type": "string"
        },
        "addressId": {
          "type": "integer",
          "format": "int32",
          "description": "Vipps Provided address Id. To be returned in response in the same field"
        },
        "postalCode": {
          "pattern": "^\\df{4}$",
          "example": "0191",
          "type": "integer",
          "format": "int32",
          "description": "Four digits"
        },
        "addressType": {
          "example": "H",
          "type": "string"
        },
        "postCode": {
          "pattern": "^\\df{4}$",
          "example": "0191",
          "type": "integer",
          "format": "int32",
          "description": "Four digits"
        },
        "addressLine1": {
          "example": "Dronning Eufemias gate 42",
          "type": "string"
        },
        "city": {
          "example": "Oslo",
          "type": "string",
          "description": "City"
        }
      }
    },
    "OrderStatusInfoTransactionInfo": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "example": 20000,
          "type": "number",
          "format": "double",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        },
        "status": {
          "example": "RESERVE",
          "enum": [
            "INITIATE",
            "REGISTER",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID",
            "FAILED",
            "REJECTED"
          ],
          "type": "string",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction."
        }
      }
    },
    "AuthorizationTokenResponse": {
      "type": "object",
      "properties": {
        "expires_in": {
          "example": 3600,
          "type": "integer"
        },
        "ext_expires_in": {
          "example": 3600,
          "type": "integer"
        },
        "resource": {
          "example": "00000002-0000-0000-c000-000000000000",
          "type": "string"
        },
        "expires_on": {
          "example": 1547823408,
          "type": "integer"
        },
        "not_before": {
          "example": 1547819508,
          "type": "integer"
        },
        "access_token": {
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "type": "string"
        },
        "token_type": {
          "example": "Bearer",
          "type": "string"
        }
      }
    },
    "CallbackTransactionInfoStatus": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "example": 20000,
          "type": "number",
          "format": "double",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        },
        "status": {
          "example": "RESERVE",
          "enum": [
            "RESERVE",
            "SALE",
            "CANCELLED",
            "REJECTED"
          ],
          "type": "string",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#callbacks) for more information."
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction."
        }
      }
    },
    "UserDetails": {
      "required": [
        "email",
        "firstName",
        "lastName",
        "mobileNumber",
        "userId"
      ],
      "type": "object",
      "properties": {
        "userId": {
          "example": "1234567",
          "type": "string",
          "description": "1234567"
        },
        "firstName": {
          "example": "Ada",
          "type": "string",
          "description": "First name"
        },
        "dateOfBirth": {
          "example": "12-3-1988",
          "type": "string",
          "description": "12-3-1988"
        },
        "bankIdVerified": {
          "type": "string"
        },
        "lastName": {
          "example": "Lovelace",
          "type": "string",
          "description": "Last name"
        },
        "mobileNumber": {
          "maxLength": 12,
          "minLength": 8,
          "description": "12345678",
          "type": "string",
          "pattern": "^\\d{8,12}$"
        },
        "email": {
          "example": "user@example.com",
          "type": "string",
          "description": "Email address"
        },
        "ssn": {
          "maxLength": 11,
          "minLength": 11,
          "description": "12345678912",
          "type": "string",
          "pattern": "^\\d{11}$"
        }
      }
    },
    "TransactionResponseCapture": {
      "required": [
        "orderId"
      ],
      "type": "object",
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCapture"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "orderId": {
          "maxLength": 30,
          "example": "order123abc",
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters"
        }
      }
    },
    "TransactionInfoCancel": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "example": 20000,
          "type": "number",
          "format": "double",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        },
        "status": {
          "example": "Cancelled",
          "enum": [
            "Cancelled"
          ],
          "type": "string",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "type": "string",
          "description": "Transaction text reference provided by merchant"
        }
      }
    },
    "TransactionInfoCapture": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "example": 20000,
          "type": "number",
          "format": "double",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        },
        "status": {
          "example": "Captured",
          "enum": [
            "Captured"
          ],
          "type": "string",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "type": "string",
          "description": "Transaction text reference provided by merchant"
        }
      }
    },
    "TransactionResponseCancel": {
      "required": [
        "orderId"
      ],
      "type": "object",
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCancel"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "orderId": {
          "maxLength": 30,
          "example": "order123abc",
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters"
        }
      }
    },
    "Transaction": {
      "required": [
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "pattern": "^\\d{3,}$",
          "example": 20000,
          "type": "integer",
          "format": "int32",
          "description": "Amount in øre, if amount is 0 or not provided then full capture will be performed. 32 Bit Integer (2147483647)"
        },
        "transactionText": {
          "type": "string",
          "description": "Proof of delivery"
        }
      }
    },
    "Address": {
      "required": [
        "addressLine1",
        "city",
        "country",
        "zipCode"
      ],
      "type": "object",
      "properties": {
        "addressLine2": {
          "example": "Att: Rune Garborg",
          "type": "string",
          "description": "Address Line 2"
        },
        "addressLine1": {
          "example": "Dronning Eufemias gate 42",
          "type": "string",
          "description": "Address Line 1"
        },
        "country": {
          "example": "NO",
          "type": "string",
          "description": "Country,default=NO"
        },
        "zipCode": {
          "example": "0191",
          "type": "string",
          "description": "Zip Code"
        },
        "city": {
          "example": "Oslo",
          "type": "string",
          "description": "City"
        }
      }
    },
    "MerchantInfoDto": {
      "required": [
        "callbackPrefix",
        "fallBack",
        "merchantSerialNumber"
      ],
      "type": "object",
      "properties": {
        "shippingDetailsPrefix": {
          "maxLength": 255,
          "example": "https://example.com/vipps/shipping/",
          "type": "string",
          "description": "In case of express checkout payment, merchant should pass this prefix to let Vipps fetch shipping cost and method related details. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end or this URL."
        },
        "paymentType": {
          "description": "This parameter will identify difference between a regular ecomm payment and ecomm express payment. For express checkout, use: \"eComm Express Payment\". Express checkouts require consentRemovalPrefix.",
          "example": "eComm Regular Payment",
          "enum": [
            "eComm Regular Payment",
            "eComm Express Payment"
          ],
          "type": "string",
          "default": "eComm Regular Payment"
        },
        "fallBack": {
          "maxLength": 255,
          "example": "https://example.com/vipps/fallback/order123abc",
          "type": "string",
          "description": "Vipps will use the fall back URL to redirect Merchant Page once Payment is completed in Vipps System URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
        },
        "isApp": {
          "example": false,
          "default": false,
          "type": "boolean",
          "description": "This parameter indicates whether payment request is triggered from Mobile App or Web browser. Based on this value, response will be redirect URL for Vipps landing page or deeplink URL to connect vipps App. When isApp is set to true, URLs passed to Vipps will not be validated as regular URLs."
        },
        "merchantSerialNumber": {
          "maxLength": 6,
          "minLength": 6,
          "example": 123456,
          "type": "string",
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "pattern": "^\\d{6}$"
        },
        "authToken": {
          "maxLength": 255,
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "type": "string",
          "description": "The Merchant should share this token if merchant has authentication mechanism in place which could be used for making callbacks secure."
        },
        "callbackPrefix": {
          "maxLength": 255,
          "example": "https://example.com/vipps/callbacks",
          "type": "string",
          "description": "This is an URL for receiving the callback after the payment request. Domain name and context path should be provided by merchant as the value for this parameter. Vipps will add `/v2/payments/{orderId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
        },
        "consentRemovalPrefix": {
          "maxLength": 255,
          "example": "https://example.com/vipps",
          "type": "string",
          "description": "Required for expess checkout payments. This callback URL will be used by Vipps to inform the merchant that the user has revoked his/her consent: This Vipps user does do not want the merchant to store or use his/her personal information anymore. Required by GDPR. Vipps will add `/v2/consents/{userId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
        }
      }
    },
    "ShippingDetails": {
      "required": [
        "isDefault",
        "shippingCost",
        "shippingMethod",
        "shippingMethodId"
      ],
      "type": "object",
      "properties": {
        "isDefault": {
          "enum": [
            "Y",
            "N"
          ],
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "shippingCost": {
          "type": "number",
          "format": "double"
        },
        "shippingMethodId": {
          "type": "string"
        },
        "shippingMethod": {
          "type": "string"
        }
      }
    },
    "CustomerInfoDto": {
      "type": "object",
      "properties": {
        "mobileNumber": {
          "maxLength": 8,
          "minLength": 8,
          "example": 91234567,
          "type": "string",
          "description": "Mobile number of the user who has to pay for the transation from Vipps. Allowed format: xxxxxxxx",
          "pattern": "^\\d{8}$"
        }
      }
    },
    "TransactionSummary": {
      "required": [
        "capturedAmount",
        "refundedAmount",
        "remainingAmountToCapture",
        "remainingAmountToRefund"
      ],
      "type": "object",
      "properties": {
        "capturedAmount": {
          "example": 20000,
          "type": "integer",
          "format": "int32",
          "description": "Total amount captured"
        },
        "refundedAmount": {
          "example": 0,
          "type": "integer",
          "format": "int32",
          "description": "Total refunded amount of the order"
        },
        "remainingAmountToCapture": {
          "example": 0,
          "type": "integer",
          "format": "int32",
          "description": "Total remaining amount to capture"
        },
        "remainingAmountToRefund": {
          "example": 20000,
          "type": "integer",
          "format": "int32",
          "description": "Total remaining amount to refund"
        }
      }
    },
    "CancelTransaction": {
      "type": "object",
      "properties": {
        "transactionText": {
          "type": "string"
        }
      }
    },
    "TransactionInfoInitiateDTO": {
      "required": [
        "amount",
        "orderId",
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "pattern": "^\\d{3,}$",
          "example": 20000,
          "type": "integer",
          "format": "int32",
          "description": "Amount in øre. 32 bit Integer (2147483647)"
        },
        "refOrderId": {
          "maxLength": 30,
          "example": "merchantOrder123abc",
          "type": "string",
          "description": "Identifies if the payment references to some past orders registered with Vipps. If defined, transactions for this payment will show up as child transactions of the specified order."
        },
        "transactionText": {
          "maxLength": 100,
          "example": "One pair of Vipps socks",
          "type": "string",
          "description": "Transaction text that can be displayed to end user"
        },
        "orderId": {
          "maxLength": 30,
          "example": "order123abc",
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters."
        },
        "timeStamp": {
          "example": "2018-11-14T15:44:26.590Z",
          "type": "string",
          "format": "date-time",
          "description": "ISO formatted date time string."
        }
      }
    },
    "InitiatePaymentV2Representation": {
      "required": [
        "orderId",
        "url"
      ],
      "type": "object",
      "properties": {
        "orderId": {
          "example": "order123abc",
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters."
        },
        "url": {
          "example": "https://example.com",
          "type": "string",
          "description": "URL parameter will have URL to redirect the request to vipps gateway page in case request is trigger from web browser or deeplink URL to open vipps app incase request is triggered from Merchant Mobile App."
        }
      }
    },
    "MerchantInfoPayment": {
      "required": [
        "merchantSerialNumber"
      ],
      "type": "object",
      "properties": {
        "merchantSerialNumber": {
          "maxLength": 6,
          "minLength": 6,
          "example": 123456,
          "type": "string",
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "pattern": "^\\d{6}$"
        }
      }
    },
    "TransactionLogHistory": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string"
        },
        "transactionId": {
          "type": "string"
        },
        "operation": {
          "example": "RESERVE",
          "enum": [
            "INITIATE",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID"
          ],
          "type": "string",
          "description": "The operation that was performed for this log entry. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "amount": {
          "type": "integer",
          "format": "int32"
        },
        "operationSuccess": {
          "type": "boolean"
        },
        "transactionText": {
          "type": "string"
        },
        "timeStamp": {
          "type": "string"
        }
      }
    },
    "ExpressCheckOutPaymentRequest": {
      "required": [
        "merchantSerialNumber",
        "orderId",
        "shippingDetails",
        "userDetails"
      ],
      "type": "object",
      "properties": {
        "merchantSerialNumber": {
          "maxLength": 6,
          "minLength": 6,
          "example": 123456,
          "type": "string",
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "pattern": "^\\d{6}$"
        },
        "shippingDetails": {
          "description": "Shipping Details will be added in the call back request if the payment is Express Checkout",
          "$ref": "#/definitions/ShippingDetailsRequest"
        },
        "transactionInfo": {
          "$ref": "#/definitions/CallbackTransactionInfoStatus"
        },
        "userDetails": {
          "description": "Vipps User Information",
          "$ref": "#/definitions/UserDetails"
        },
        "orderId": {
          "example": "order123abc",
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters"
        }
      }
    },
    "PaymentShippingDetails": {
      "required": [
        "shippingCost",
        "shippingMethod"
      ],
      "type": "object",
      "properties": {
        "shippingMethod": {
          "example": "Posten",
          "type": "string",
          "description": "Shipping method"
        },
        "shippingCost": {
          "example": 1500,
          "type": "number",
          "format": "double",
          "description": "Shipping Cost"
        },
        "address": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "CancelPaymentActionRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "$ref": "#/definitions/CancelTransaction"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        }
      }
    },
    "GetTransactionDetails": {
      "type": "object",
      "properties": {
        "shippingDetails": {
          "$ref": "#/definitions/PaymentShippingDetails"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transactionLogHistory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionLogHistory"
          }
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails"
        },
        "orderId": {
          "example": "order123abc",
          "type": "string"
        }
      }
    },
    "AuthorizationTokenMethod": {
      "type": "object"
    },
    "InitiatePaymentCommand": {
      "required": [
        "customerInfo",
        "merchantInfo",
        "transaction"
      ],
      "type": "object",
      "properties": {
        "transaction": {
          "description": "it has transaction details which needs to be inititated",
          "$ref": "#/definitions/TransactionInfoInitiateDTO"
        },
        "merchantInfo": {
          "description": "it has merchant related information to initiate the payment",
          "$ref": "#/definitions/MerchantInfoDto"
        },
        "customerInfo": {
          "description": "it has customer information and it is not required",
          "$ref": "#/definitions/CustomerInfoDto"
        }
      }
    },
    "TransactionInfoRefund": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "example": 20000,
          "type": "number",
          "format": "double",
          "description": "Ordered amount in øre"
        },
        "transactionId": {
          "example": "5001420062",
          "type": "string",
          "description": "Vipps transaction id"
        },
        "status": {
          "example": "Refund",
          "enum": [
            "Refund"
          ],
          "type": "string",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "type": "string",
          "description": "Transaction text reference provided by merchant"
        }
      }
    },
    "ShippingDetailsRequest": {
      "required": [
        "address",
        "shippingCost",
        "shippingMethod"
      ],
      "type": "object",
      "properties": {
        "shippingMethod": {
          "type": "string",
          "description": "Shipping method which choosed for the payment"
        },
        "shippingCost": {
          "type": "number",
          "format": "double",
          "description": "Shipping cost"
        },
        "address": {
          "description": "Address Details",
          "$ref": "#/definitions/Address"
        }
      }
    },
    "GetPaymentStatusResponse": {
      "type": "object",
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/OrderStatusInfoTransactionInfo"
        },
        "orderId": {
          "example": "order123abc",
          "type": "string"
        }
      }
    },
    "FetchShippingCostResponse": {
      "required": [
        "addressId",
        "orderId",
        "shippingDetails"
      ],
      "type": "object",
      "properties": {
        "shippingDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShippingDetails"
          }
        },
        "addressId": {
          "type": "integer",
          "format": "int32"
        },
        "orderId": {
          "example": "order123abc",
          "type": "string"
        }
      }
    }
  }
}