{
  "host": "apitest.vipps.no",
  "info": {
    "title": "Vipps eCommerce APIs",
    "version": "1.0.4",
    "description": "# Vipps eCommerce API\nAdditional API documentation: https://github.com/vippsas/vipps-ecom-api/\n"
  },
  "swagger": "2.0",
  "definitions": {
    "UserDetails": {
      "type": "object",
      "required": [
        "email",
        "firstName",
        "lastName",
        "mobileNumber",
        "userId"
      ],
      "properties": {
        "dateOfBirth": {
          "type": "string",
          "example": "12-3-1988",
          "description": "12-3-1988"
        },
        "email": {
          "type": "string",
          "example": "user@example.com",
          "description": "Email address"
        },
        "ssn": {
          "type": "string",
          "description": "12345678912",
          "minLength": 11,
          "maxLength": 11,
          "pattern": "^\\d{11}$"
        },
        "mobileNumber": {
          "type": "string",
          "description": "12345678",
          "minLength": 8,
          "maxLength": 12,
          "pattern": "^\\d{8,12}$"
        },
        "lastName": {
          "type": "string",
          "example": "Lovelace",
          "description": "Last name"
        },
        "bankIdVerified": {
          "type": "string"
        },
        "firstName": {
          "type": "string",
          "example": "Ada",
          "description": "First name"
        },
        "userId": {
          "type": "string",
          "example": "1234567",
          "description": "1234567"
        }
      }
    },
    "Transaction": {
      "type": "object",
      "required": [
        "transactionText"
      ],
      "properties": {
        "amount": {
          "type": "integer",
          "format": "int32",
          "description": "Amount in øre, if amount is 0 or not provided then full capture will be performed. 32 Bit Integer (2147483647)",
          "example": 20000,
          "pattern": "^\\d{3,}$"
        },
        "transactionText": {
          "type": "string",
          "description": "Proof of delivery"
        }
      }
    },
    "TransactionLogHistory": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string"
        },
        "amount": {
          "type": "integer",
          "format": "int32"
        },
        "timeStamp": {
          "type": "string"
        },
        "operationSuccess": {
          "type": "boolean"
        },
        "transactionId": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "example": "RESERVE",
          "description": "The operation that was performed for this log entry. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "enum": [
            "INITIATE",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID"
          ]
        },
        "transactionText": {
          "type": "string"
        }
      }
    },
    "Address": {
      "type": "object",
      "required": [
        "addressLine1",
        "city",
        "country",
        "zipCode"
      ],
      "properties": {
        "addressLine2": {
          "type": "string",
          "example": "Att: Rune Garborg",
          "description": "Address Line 2"
        },
        "addressLine1": {
          "type": "string",
          "example": "Dronning Eufemias gate 42",
          "description": "Address Line 1"
        },
        "country": {
          "type": "string",
          "example": "NO",
          "description": "Country,default=NO"
        },
        "city": {
          "type": "string",
          "example": "Oslo",
          "description": "City"
        },
        "zipCode": {
          "type": "string",
          "example": "0191",
          "description": "Zip Code"
        }
      }
    },
    "InitiatePaymentV2Representation": {
      "type": "object",
      "required": [
        "orderId",
        "url"
      ],
      "properties": {
        "url": {
          "type": "string",
          "example": "https://example.com",
          "description": "URL parameter will have URL to redirect the request to vipps gateway page in case request is trigger from web browser or deeplink URL to open vipps app incase request is triggered from Merchant Mobile App."
        },
        "orderId": {
          "type": "string",
          "example": "order123abc",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters."
        }
      }
    },
    "MerchantInfoPayment": {
      "type": "object",
      "required": [
        "merchantSerialNumber"
      ],
      "properties": {
        "merchantSerialNumber": {
          "example": 123456,
          "minLength": 6,
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "type": "string",
          "maxLength": 6,
          "pattern": "^\\d{6}$"
        }
      }
    },
    "MerchantInfoDto": {
      "type": "object",
      "required": [
        "callbackPrefix",
        "fallBack",
        "merchantSerialNumber"
      ],
      "properties": {
        "shippingDetailsPrefix": {
          "type": "string",
          "example": "https://example.com/vipps/shipping/",
          "maxLength": 255,
          "description": "In case of express checkout payment, merchant should pass this prefix to let Vipps fetch shipping cost and method related details. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end or this URL."
        },
        "merchantSerialNumber": {
          "example": 123456,
          "minLength": 6,
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "type": "string",
          "maxLength": 6,
          "pattern": "^\\d{6}$"
        },
        "consentRemovalPrefix": {
          "type": "string",
          "example": "https://example.com/vipps",
          "maxLength": 255,
          "description": "Required for expess checkout payments. This callback URL will be used by Vipps to inform the merchant that the user has revoked his/her consent: This Vipps user does do not want the merchant to store or use his/her personal information anymore. Required by GDPR. Vipps will add `/v2/consents/{userId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
        },
        "paymentType": {
          "type": "string",
          "example": "eComm Regular Payment",
          "description": "This parameter will identify difference between a regular ecomm payment and ecomm express payment. For express checkout, use: \"eComm Express Payment\". Express checkouts require consentRemovalPrefix.",
          "default": "eComm Regular Payment",
          "enum": [
            "eComm Regular Payment",
            "eComm Express Payment"
          ]
        },
        "isApp": {
          "type": "boolean",
          "example": false,
          "default": false,
          "description": "This parameter indicates whether payment request is triggered from Mobile App or Web browser. Based on this value, response will be redirect URL for Vipps landing page or deeplink URL to connect vipps App. When isApp is set to true, URLs passed to Vipps will not be validated as regular URLs."
        },
        "authToken": {
          "type": "string",
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "maxLength": 255,
          "description": "The Merchant should share this token if merchant has authentication mechanism in place which could be used for making callbacks secure."
        },
        "callbackPrefix": {
          "type": "string",
          "example": "https://example.com/vipps/callbacks",
          "maxLength": 255,
          "description": "This is an URL for receiving the callback after the payment request. Domain name and context path should be provided by merchant as the value for this parameter. Vipps will add `/v2/payments/{orderId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
        },
        "fallBack": {
          "type": "string",
          "example": "https://example.com/vipps/fallback/order123abc",
          "maxLength": 255,
          "description": "Vipps will use the fall back URL to redirect Merchant Page once Payment is completed in Vipps System URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html)."
        }
      }
    },
    "AuthorizationTokenMethod": {
      "type": "object"
    },
    "FetchShippingCostAndMethod": {
      "type": "object",
      "required": [
        "addressId",
        "addressLine1",
        "city",
        "country",
        "postCode"
      ],
      "properties": {
        "postalCode": {
          "type": "integer",
          "format": "int32",
          "description": "Four digits",
          "example": "0191",
          "pattern": "^\\df{4}$"
        },
        "addressId": {
          "type": "integer",
          "format": "int32",
          "description": "Vipps Provided address Id. To be returned in response in the same field"
        },
        "addressLine2": {
          "type": "string"
        },
        "addressLine1": {
          "type": "string",
          "example": "Dronning Eufemias gate 42"
        },
        "country": {
          "type": "string",
          "example": "NO",
          "description": "The only country supported is Norway"
        },
        "city": {
          "type": "string",
          "example": "Oslo",
          "description": "City"
        },
        "postCode": {
          "type": "integer",
          "format": "int32",
          "description": "Four digits",
          "example": "0191",
          "pattern": "^\\df{4}$"
        },
        "addressType": {
          "type": "string",
          "example": "H"
        }
      }
    },
    "TransactionResponseCapture": {
      "type": "object",
      "required": [
        "orderId"
      ],
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCapture"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc",
          "maxLength": 30,
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters"
        }
      }
    },
    "PaymentShippingDetails": {
      "type": "object",
      "required": [
        "shippingCost",
        "shippingMethod"
      ],
      "properties": {
        "address": {
          "$ref": "#/definitions/Address"
        },
        "shippingMethod": {
          "type": "string",
          "example": "Posten",
          "description": "Shipping method"
        },
        "shippingCost": {
          "type": "number",
          "format": "double",
          "example": 1500,
          "description": "Shipping Cost"
        }
      }
    },
    "TransactionInfoInitiateDTO": {
      "type": "object",
      "required": [
        "amount",
        "orderId",
        "transactionText"
      ],
      "properties": {
        "refOrderId": {
          "type": "string",
          "example": "merchantOrder123abc",
          "maxLength": 30,
          "description": "Identifies if the payment references to some past orders registered with Vipps. If defined, transactions for this payment will show up as child transactions of the specified order."
        },
        "amount": {
          "type": "integer",
          "format": "int32",
          "description": "Amount in øre. 32 bit Integer (2147483647)",
          "example": 20000,
          "pattern": "^\\d{3,}$"
        },
        "transactionText": {
          "type": "string",
          "example": "One pair of Vipps socks",
          "maxLength": 100,
          "description": "Transaction text that can be displayed to end user"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc",
          "maxLength": 30,
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters."
        },
        "timeStamp": {
          "type": "string",
          "format": "date-time",
          "example": "2018-11-14T15:44:26.590Z",
          "description": "ISO formatted date time string."
        }
      }
    },
    "CallbackTransactionInfoStatus": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "properties": {
        "amount": {
          "type": "number",
          "format": "double",
          "example": 20000,
          "description": "Ordered amount in øre"
        },
        "timeStamp": {
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction."
        },
        "status": {
          "type": "string",
          "example": "RESERVE",
          "enum": [
            "RESERVE",
            "SALE",
            "CANCELLED",
            "REJECTED"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#callbacks) for more information."
        },
        "transactionId": {
          "type": "string",
          "example": "5001420062",
          "description": "Vipps transaction id"
        }
      }
    },
    "ShippingDetailsRequest": {
      "type": "object",
      "required": [
        "address",
        "shippingCost",
        "shippingMethod"
      ],
      "properties": {
        "address": {
          "$ref": "#/definitions/Address",
          "description": "Address Details"
        },
        "shippingMethod": {
          "type": "string",
          "description": "Shipping method which choosed for the payment"
        },
        "shippingCost": {
          "type": "number",
          "format": "double",
          "description": "Shipping cost"
        }
      }
    },
    "GetTransactionDetails": {
      "type": "object",
      "properties": {
        "shippingDetails": {
          "$ref": "#/definitions/PaymentShippingDetails"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails"
        },
        "transactionLogHistory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionLogHistory"
          }
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc"
        }
      }
    },
    "CustomerInfoDto": {
      "type": "object",
      "properties": {
        "mobileNumber": {
          "example": 91234567,
          "minLength": 8,
          "description": "Mobile number of the user who has to pay for the transation from Vipps. Allowed format: xxxxxxxx",
          "type": "string",
          "maxLength": 8,
          "pattern": "^\\d{8}$"
        }
      }
    },
    "TransactionSummary": {
      "type": "object",
      "required": [
        "capturedAmount",
        "refundedAmount",
        "remainingAmountToCapture",
        "remainingAmountToRefund"
      ],
      "properties": {
        "refundedAmount": {
          "type": "integer",
          "format": "int32",
          "example": 0,
          "description": "Total refunded amount of the order"
        },
        "capturedAmount": {
          "type": "integer",
          "format": "int32",
          "example": 20000,
          "description": "Total amount captured"
        },
        "remainingAmountToCapture": {
          "type": "integer",
          "format": "int32",
          "example": 0,
          "description": "Total remaining amount to capture"
        },
        "remainingAmountToRefund": {
          "type": "integer",
          "format": "int32",
          "example": 20000,
          "description": "Total remaining amount to refund"
        }
      }
    },
    "OrderStatusInfoTransactionInfo": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "properties": {
        "amount": {
          "type": "number",
          "format": "double",
          "example": 20000,
          "description": "Ordered amount in øre"
        },
        "timeStamp": {
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction."
        },
        "status": {
          "type": "string",
          "example": "RESERVE",
          "enum": [
            "INITIATE",
            "REGISTER",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID",
            "FAILED",
            "REJECTED"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "transactionId": {
          "type": "string",
          "example": "5001420062",
          "description": "Vipps transaction id"
        }
      }
    },
    "TransactionInfoCapture": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "amount": {
          "type": "number",
          "format": "double",
          "example": 20000,
          "description": "Ordered amount in øre"
        },
        "transactionText": {
          "type": "string",
          "example": "One pair of Vipps socks",
          "description": "Transaction text reference provided by merchant"
        },
        "status": {
          "type": "string",
          "example": "Captured",
          "enum": [
            "Captured"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        },
        "transactionId": {
          "type": "string",
          "example": "5001420062",
          "description": "Vipps transaction id"
        }
      }
    },
    "FetchShippingCostResponse": {
      "type": "object",
      "required": [
        "addressId",
        "orderId",
        "shippingDetails"
      ],
      "properties": {
        "shippingDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShippingDetails"
          }
        },
        "addressId": {
          "type": "integer",
          "format": "int32"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc"
        }
      }
    },
    "PaymentActionsRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "$ref": "#/definitions/Transaction"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        }
      }
    },
    "TransactionResponseRefund": {
      "type": "object",
      "required": [
        "orderId"
      ],
      "properties": {
        "transaction": {
          "$ref": "#/definitions/TransactionInfoRefund"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc",
          "maxLength": 30,
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters"
        }
      }
    },
    "TransactionInfoRefund": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "amount": {
          "type": "number",
          "format": "double",
          "example": 20000,
          "description": "Ordered amount in øre"
        },
        "transactionText": {
          "type": "string",
          "example": "One pair of Vipps socks",
          "description": "Transaction text reference provided by merchant"
        },
        "status": {
          "type": "string",
          "example": "Refund",
          "enum": [
            "Refund"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        },
        "transactionId": {
          "type": "string",
          "example": "5001420062",
          "description": "Vipps transaction id"
        }
      }
    },
    "CancelTransaction": {
      "type": "object",
      "properties": {
        "transactionText": {
          "type": "string"
        }
      }
    },
    "ShippingDetails": {
      "type": "object",
      "required": [
        "isDefault",
        "shippingCost",
        "shippingMethod",
        "shippingMethodId"
      ],
      "properties": {
        "shippingCost": {
          "type": "number",
          "format": "double"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "shippingMethod": {
          "type": "string"
        },
        "isDefault": {
          "type": "string",
          "enum": [
            "Y",
            "N"
          ]
        },
        "shippingMethodId": {
          "type": "string"
        }
      }
    },
    "AuthorizationTokenResponse": {
      "type": "object",
      "properties": {
        "expires_on": {
          "type": "integer",
          "example": 1547823408
        },
        "access_token": {
          "type": "string",
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>"
        },
        "token_type": {
          "type": "string",
          "example": "Bearer"
        },
        "resource": {
          "type": "string",
          "example": "00000002-0000-0000-c000-000000000000"
        },
        "ext_expires_in": {
          "type": "integer",
          "example": 3600
        },
        "expires_in": {
          "type": "integer",
          "example": 3600
        },
        "not_before": {
          "type": "integer",
          "example": 1547819508
        }
      }
    },
    "GetPaymentStatusResponse": {
      "type": "object",
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/OrderStatusInfoTransactionInfo"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc"
        }
      }
    },
    "TransactionResponseCancel": {
      "type": "object",
      "required": [
        "orderId"
      ],
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCancel"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc",
          "maxLength": 30,
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters"
        }
      }
    },
    "TransactionInfoCancel": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "amount": {
          "type": "number",
          "format": "double",
          "example": 20000,
          "description": "Ordered amount in øre"
        },
        "transactionText": {
          "type": "string",
          "example": "One pair of Vipps socks",
          "description": "Transaction text reference provided by merchant"
        },
        "status": {
          "type": "string",
          "example": "Cancelled",
          "enum": [
            "Cancelled"
          ],
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information."
        },
        "timeStamp": {
          "type": "string",
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction."
        },
        "transactionId": {
          "type": "string",
          "example": "5001420062",
          "description": "Vipps transaction id"
        }
      }
    },
    "ExpressCheckOutPaymentRequest": {
      "type": "object",
      "required": [
        "merchantSerialNumber",
        "orderId",
        "shippingDetails",
        "userDetails"
      ],
      "properties": {
        "shippingDetails": {
          "$ref": "#/definitions/ShippingDetailsRequest",
          "description": "Shipping Details will be added in the call back request if the payment is Express Checkout"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "Vipps User Information"
        },
        "merchantSerialNumber": {
          "example": 123456,
          "minLength": 6,
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "type": "string",
          "maxLength": 6,
          "pattern": "^\\d{6}$"
        },
        "transactionInfo": {
          "$ref": "#/definitions/CallbackTransactionInfoStatus"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters"
        }
      }
    },
    "InitiatePaymentCommand": {
      "type": "object",
      "required": [
        "customerInfo",
        "merchantInfo",
        "transaction"
      ],
      "properties": {
        "transaction": {
          "$ref": "#/definitions/TransactionInfoInitiateDTO",
          "description": "it has transaction details which needs to be inititated"
        },
        "customerInfo": {
          "$ref": "#/definitions/CustomerInfoDto",
          "description": "it has customer information and it is not required"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoDto",
          "description": "it has merchant related information to initiate the payment"
        }
      }
    },
    "CancelPaymentActionRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "$ref": "#/definitions/CancelTransaction"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authorization Service",
      "description": "Authorization Service"
    },
    {
      "name": "Vipps eCom API",
      "description": "Functionality provided by the Vipps eCommerce API"
    },
    {
      "name": "Endpoints required by Vipps from the merchant",
      "description": "These endpoints must be implemented by the merchant, and are called by Vipps."
    }
  ],
  "paths": {
    "/ecomm/v2/payments/{orderId}/details": {
      "get": {
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization-token is obtained by running the `/accesstoken/get` request."
          },
          {
            "name": "content-type",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "`application/json`"
          },
          {
            "name": "ocp-apim-subscription-key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/GetTransactionDetails"
            },
            "description": "Get payment Details"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "description": "This API call allows merchant to get the details of a payment transaction. Service call returns detailed transaction history of given payment where events are sorted by the time single transaction occurred.",
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "getPaymentDetailsUsingGET",
        "summary": "Get payment Details"
      }
    },
    "[callbackPrefix]/v2/payments/{orderId}": {
      "post": {
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "orderId"
          },
          {
            "name": "expressCheckOutPaymentRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ExpressCheckOutPaymentRequest"
            },
            "required": true,
            "description": "expressCheckOutPaymentRequest"
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "200": {
            "description": "Callback : Transaction Update"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Something went wrong on the Vipps server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "description": "This API call allows Vipps to send the transaction details. During regular ecomm payment order and transaction details will be shared. During express checkout payment it will provide user details and shipping details addition to the order and transaction details. Vipps will add `/v2/payments/{orderId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "operationId": "transactionUpdateCallbackForRegularPaymentUsingPOST",
        "summary": "Callback : Transaction Update"
      }
    },
    "/ecomm/v2/payments/{orderId}/refund": {
      "post": {
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "content-type",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "`application/json`"
          },
          {
            "name": "ocp-apim-subscription-key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "name": "paymentActionsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "required": true,
            "description": "paymentActionsRequest"
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseRefund"
            },
            "description": "Refund payment response"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "description": "The API allows a merchant to do a refund of already captured transaction. There is an option to do a partial refund of the captured amount. Refunded amount cannot be larger than captured. Timeframe for issuing a refund for a payment is 365 days from the date payment has been captured. If the refund payment service call is called after the refund timeframe, service call will respond with an error. Refunded funds will be transferred from the merchant account to the customer credit card that was used in payment flow. Pay attention that in order to perform refund, there must be enough funds at merchant settlements account.",
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "refundPaymentUsingPOST",
        "summary": "Refund Payment "
      }
    },
    "/ecomm/v2/payments": {
      "post": {
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "content-type",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "application/json"
          },
          {
            "name": "ocp-apim-subscription-key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "name": "initiatePaymentCommand",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/InitiatePaymentCommand"
            },
            "required": true,
            "description": "initiatePaymentCommand"
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "202": {
            "schema": {
              "$ref": "#/definitions/InitiatePaymentV2Representation"
            },
            "description": "Response for Initiate Payment"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "description": "This API call allows the merchants to initiate a payment flow by using Vipps. In order to identify which sales channel payments are coming from, a merchantSerialNumber is used to distinguish between them. Please note that a single payment is uniquely identified by a composite of merchantApplicationId (X-App-ID), merchantSerialNumber and orderId. The Merchant provided orderId must be unique per sales channel. Once the transaction is successfully initiated in Vipps, will you receive a redirect URL in response which has to be used by the merchant to open the Vipps landing page. The landing page will have functionality to identify and differentiate request coming from mobile browser/desktop browser. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "initiatePaymentV3UsingPOST",
        "summary": "Initiate Payment"
      }
    },
    "/ecomm/v2/payments/{orderId}/cancel": {
      "put": {
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "content-type",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "`application/json`"
          },
          {
            "name": "ocp-apim-subscription-key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "name": "paymentActionsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CancelPaymentActionRequest"
            },
            "required": true,
            "description": "paymentActionsRequest"
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseCancel"
            },
            "description": "Cancel payment response"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "description": "The API call allows merchant to cancel the reserved transaction, The API will not allow partial cancellation which has the consequence that partially captured transactions cannot be cancelled. Please note that in a case of communication errors during initiate payment service call between Vipps and PSP/Acquirer/Issuer; even in a case that customer has confirmed a payment, the payment will be cancelled by Vipps. Note this means you can not cancel a captured payment.",
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "cancelPaymentRequestUsingPUT",
        "summary": "Cancel Payment"
      }
    },
    "/ecomm/v2/payments/{orderId}/status": {
      "get": {
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "ocp-apim-subscription-key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/GetPaymentStatusResponse"
            },
            "description": "Get order status"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "description": "This API call allows the merchant to get the status of the last payment transaction. Primarily use of this service is meant for inApp where simple response to check order status is preferred.",
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "getOrderStatusUsingGET",
        "summary": "Get order status"
      }
    },
    "[consentRemovalPrefix]/v2/consents/{userId}": {
      "delete": {
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The userId provided when requesting user information from Vipps. Received by callback or get detail request."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "200": {
            "description": "Remove User Consent (for express checkout)"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "description": "This API endpoint on the merchant side allows Vipps to send consent removal requests to the merchant. When receiving requests the merchant is obliged to remove the user details permanently, as per the GDPR guidelines. Vipps will add `/v2/consents/{userId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "operationId": "removeUserConsentUsingDELETE",
        "summary": "Remove User Consent (for express checkout)"
      }
    },
    "/ecomm/v2/payments/{orderId}/capture": {
      "post": {
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Order id specified in the request body of initiate payment."
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request."
          },
          {
            "name": "content-type",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "`application/json`"
          },
          {
            "name": "ocp-apim-subscription-key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "name": "paymentActionsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "required": true,
            "description": "paymentActionsRequest"
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/TransactionResponseCapture"
            },
            "description": "Capture payment response"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "description": "This API call allows merchant to capture the reserved amount. Amount to capture cannot be higher than reserved. The API also allows capturing partial amount of the reserved amount. Partial capture can be called as many times as required so long there is reserved amount to capture. Transaction text is not optional and is used as a proof of delivery (tracking code, consignment number etc.). In a case of direct capture, both fund reservation and capture are executed in a single operation.",
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "capturePaymentUsingPOST",
        "summary": "Capture Payment "
      }
    },
    "/accesstoken/get": {
      "post": {
        "parameters": [
          {
            "name": "client_id",
            "description": "Client id is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "type": "string",
            "in": "header",
            "format": "guid",
            "required": true
          },
          {
            "name": "client_secret",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Client secret is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          },
          {
            "name": "ocp-apim-subscription-key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "The subscription-key for authorization token is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. The ```DEFAULT_ACCESSTOKEN``` key is the value for subscription-key. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images."
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/AuthorizationTokenResponse"
            },
            "description": "OK"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "description": "Authorization token API endpoint helps to get the JWT Bearer token that needs to be passed in every API request in the authorization header. The merchant application use the API to get a JWT access token. JWT access token is a base 64 encoded string value that must be aquire first before making any Vipps api calls",
        "tags": [
          "Authorization Service"
        ],
        "operationId": "fetchAuthorizationTokenUsingPost",
        "summary": "Fetch authorization token"
      }
    },
    "[shippingDetailsPrefix]/v2/payments/{orderId}/shippingDetails": {
      "post": {
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "orderId"
          },
          {
            "name": "fetchShippingCostAndMethod",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FetchShippingCostAndMethod"
            },
            "required": true,
            "description": "fetchShippingCostAndMethod"
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "200": {
            "schema": {
              "$ref": "#/definitions/FetchShippingCostResponse"
            },
            "description": "Fetch Shipping Cost & Method."
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          }
        },
        "description": "This API endpoint on the merchant side allows Vipps to get the shipping cost and method based on the provided address and product details. The primary use of this service is Vipps Hurtigkasse (express checkout) where Vipps needs to present shipping cost and method to the Vipps user. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "operationId": "fetchShippingCostUsingPOST",
        "summary": "Fetch Shipping Cost & Method"
      }
    }
  }
}