{
  "tags": [
    {
      "description": "Authorization Service",
      "name": "Authorization Service"
    },
    {
      "description": "Functionality provided by the Vipps eCommerce API",
      "name": "Vipps eCom API"
    },
    {
      "description": "These endpoints must be implemented by the merchant, and are called by Vipps.",
      "name": "Endpoints required by Vipps from the merchant"
    }
  ],
  "host": "apitest.vipps.no",
  "swagger": "2.0",
  "paths": {
    "[callbackPrefix]/v2/payments/{orderId}": {
      "post": {
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "orderId",
            "required": true,
            "type": "string",
            "name": "orderId"
          },
          {
            "in": "body",
            "description": "expressCheckOutPaymentRequest",
            "name": "expressCheckOutPaymentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExpressCheckOutPaymentRequest"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Something went wrong on the Vipps server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "200": {
            "description": "Callback : Transaction Update"
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "405": {
            "description": "Request method not supported"
          }
        },
        "operationId": "transactionUpdateCallbackForRegularPaymentUsingPOST",
        "description": "This API call allows Vipps to send the transaction details. During regular ecomm payment order and transaction details will be shared. During express checkout payment it will provide user details and shipping details addition to the order and transaction details. Vipps will add `/v2/payments/{orderId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Callback : Transaction Update",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/details": {
      "get": {
        "tags": [
          "Vipps eCom API"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "Order id specified in the request body of initiate payment.",
            "required": true,
            "type": "string",
            "name": "orderId"
          },
          {
            "in": "header",
            "description": "Authorization-token is obtained by running the `/accesstoken/get` request.",
            "required": true,
            "type": "string",
            "name": "authorization"
          },
          {
            "in": "header",
            "description": "`application/json`",
            "required": true,
            "type": "string",
            "name": "content-type"
          },
          {
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "type": "string",
            "name": "ocp-apim-subscription-key"
          }
        ],
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "200": {
            "description": "Get payment Details",
            "schema": {
              "$ref": "#/definitions/GetTransactionDetails"
            }
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "405": {
            "description": "Request method not supported"
          }
        },
        "operationId": "getPaymentDetailsUsingGET",
        "description": "This API call allows merchant to get the details of a payment transaction. Service call returns detailed transaction history of given payment where events are sorted by the time single transaction occurred.",
        "consumes": [
          "application/json"
        ],
        "summary": "Get payment Details",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "/ecomm/v2/payments": {
      "post": {
        "tags": [
          "Vipps eCom API"
        ],
        "parameters": [
          {
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "required": true,
            "type": "string",
            "name": "authorization"
          },
          {
            "in": "header",
            "description": "application/json",
            "required": true,
            "type": "string",
            "name": "content-type"
          },
          {
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "type": "string",
            "name": "ocp-apim-subscription-key"
          },
          {
            "in": "body",
            "description": "initiatePaymentCommand",
            "name": "initiatePaymentCommand",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InitiatePaymentCommand"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "202": {
            "description": "Response for Initiate Payment",
            "schema": {
              "$ref": "#/definitions/InitiatePaymentV2Representation"
            }
          },
          "405": {
            "description": "Request method not supported"
          }
        },
        "operationId": "initiatePaymentV3UsingPOST",
        "description": "This API call allows the merchants to initiate a payment flow by using Vipps. In order to identify which sales channel payments are coming from, a merchantSerialNumber is used to distinguish between them. Please note that a single payment is uniquely identified by a composite of merchantApplicationId (X-App-ID), merchantSerialNumber and orderId. The Merchant provided orderId must be unique per sales channel. Once the transaction is successfully initiated in Vipps, will you receive a redirect URL in response which has to be used by the merchant to open the Vipps landing page. The landing page will have functionality to identify and differentiate request coming from mobile browser/desktop browser. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Initiate Payment",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/refund": {
      "post": {
        "tags": [
          "Vipps eCom API"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "Order id specified in the request body of initiate payment.",
            "required": true,
            "type": "string",
            "name": "orderId"
          },
          {
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "required": true,
            "type": "string",
            "name": "authorization"
          },
          {
            "in": "header",
            "description": "`application/json`",
            "required": true,
            "type": "string",
            "name": "content-type"
          },
          {
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "type": "string",
            "name": "ocp-apim-subscription-key"
          },
          {
            "in": "body",
            "description": "paymentActionsRequest",
            "name": "paymentActionsRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "200": {
            "description": "Refund payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseRefund"
            }
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "405": {
            "description": "Request method not supported"
          }
        },
        "operationId": "refundPaymentUsingPOST",
        "description": "The API allows a merchant to do a refund of already captured transaction. There is an option to do a partial refund of the captured amount. Refunded amount cannot be larger than captured. Timeframe for issuing a refund for a payment is 365 days from the date payment has been captured. If the refund payment service call is called after the refund timeframe, service call will respond with an error. Refunded funds will be transferred from the merchant account to the customer credit card that was used in payment flow. Pay attention that in order to perform refund, there must be enough funds at merchant settlements account.",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Refund Payment ",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/status": {
      "get": {
        "tags": [
          "Vipps eCom API"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "Order id specified in the request body of initiate payment.",
            "required": true,
            "type": "string",
            "name": "orderId"
          },
          {
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "required": true,
            "type": "string",
            "name": "authorization"
          },
          {
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "type": "string",
            "name": "ocp-apim-subscription-key"
          }
        ],
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "200": {
            "description": "Get order status",
            "schema": {
              "$ref": "#/definitions/GetPaymentStatusResponse"
            }
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "405": {
            "description": "Request method not supported"
          }
        },
        "operationId": "getOrderStatusUsingGET",
        "description": "This API call allows the merchant to get the status of the last payment transaction. Primarily use of this service is meant for inApp where simple response to check order status is preferred.",
        "consumes": [
          "application/json"
        ],
        "summary": "Get order status",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/capture": {
      "post": {
        "tags": [
          "Vipps eCom API"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "Order id specified in the request body of initiate payment.",
            "required": true,
            "type": "string",
            "name": "orderId"
          },
          {
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "required": true,
            "type": "string",
            "name": "authorization"
          },
          {
            "in": "header",
            "description": "`application/json`",
            "required": true,
            "type": "string",
            "name": "content-type"
          },
          {
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "type": "string",
            "name": "ocp-apim-subscription-key"
          },
          {
            "in": "body",
            "description": "paymentActionsRequest",
            "name": "paymentActionsRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "200": {
            "description": "Capture payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseCapture"
            }
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "405": {
            "description": "Request method not supported"
          }
        },
        "operationId": "capturePaymentUsingPOST",
        "description": "This API call allows merchant to capture the reserved amount. Amount to capture cannot be higher than reserved. The API also allows capturing partial amount of the reserved amount. Partial capture can be called as many times as required so long there is reserved amount to capture. Transaction text is not optional and is used as a proof of delivery (tracking code, consignment number etc.). In a case of direct capture, both fund reservation and capture are executed in a single operation.",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Capture Payment ",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "[consentRemovalPrefix]/v2/consents/{userId}": {
      "delete": {
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The userId provided when requesting user information from Vipps. Received by callback or get detail request.",
            "required": true,
            "type": "string",
            "name": "userId"
          }
        ],
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "200": {
            "description": "Remove User Consent (for express checkout)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "405": {
            "description": "Request method not supported"
          }
        },
        "operationId": "removeUserConsentUsingDELETE",
        "description": "This API endpoint on the merchant side allows Vipps to send consent removal requests to the merchant. When receiving requests the merchant is obliged to remove the user details permanently, as per the GDPR guidelines. Vipps will add `/v2/consents/{userId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "consumes": [
          "application/json"
        ],
        "summary": "Remove User Consent (for express checkout)",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "[shippingDetailsPrefix]/v2/payments/{orderId}/shippingDetails": {
      "post": {
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "orderId",
            "required": true,
            "type": "string",
            "name": "orderId"
          },
          {
            "in": "body",
            "description": "fetchShippingCostAndMethod",
            "name": "fetchShippingCostAndMethod",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FetchShippingCostAndMethod"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "200": {
            "description": "Fetch Shipping Cost & Method.",
            "schema": {
              "$ref": "#/definitions/FetchShippingCostResponse"
            }
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "405": {
            "description": "Request method not supported"
          }
        },
        "operationId": "fetchShippingCostUsingPOST",
        "description": "This API endpoint on the merchant side allows Vipps to get the shipping cost and method based on the provided address and product details. The primary use of this service is Vipps Hurtigkasse (express checkout) where Vipps needs to present shipping cost and method to the Vipps user. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Fetch Shipping Cost & Method",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/cancel": {
      "put": {
        "tags": [
          "Vipps eCom API"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "Order id specified in the request body of initiate payment.",
            "required": true,
            "type": "string",
            "name": "orderId"
          },
          {
            "in": "header",
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "required": true,
            "type": "string",
            "name": "authorization"
          },
          {
            "in": "header",
            "description": "`application/json`",
            "required": true,
            "type": "string",
            "name": "content-type"
          },
          {
            "in": "header",
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "type": "string",
            "name": "ocp-apim-subscription-key"
          },
          {
            "in": "body",
            "description": "paymentActionsRequest",
            "name": "paymentActionsRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelPaymentActionRequest"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "200": {
            "description": "Cancel payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseCancel"
            }
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "405": {
            "description": "Request method not supported"
          }
        },
        "operationId": "cancelPaymentRequestUsingPUT",
        "description": "The API call allows merchant to cancel the reserved transaction, The API will not allow partial cancellation which has the consequence that partially captured transactions cannot be cancelled. Please note that in a case of communication errors during initiate payment service call between Vipps and PSP/Acquirer/Issuer; even in a case that customer has confirmed a payment, the payment will be cancelled by Vipps. Note this means you can not cancel a captured payment.",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Cancel Payment",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "/accesstoken/get": {
      "post": {
        "tags": [
          "Authorization Service"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "header",
            "format": "guid",
            "type": "string",
            "description": "Client id is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true
          },
          {
            "in": "header",
            "description": "Client secret is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "type": "string",
            "name": "client_secret"
          },
          {
            "in": "header",
            "description": "The subscription-key for authorization token is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. The ```DEFAULT_ACCESSTOKEN``` key is the value for subscription-key. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "required": true,
            "type": "string",
            "name": "ocp-apim-subscription-key"
          }
        ],
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuthorizationTokenResponse"
            }
          },
          "402": {
            "description": "Payment Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "405": {
            "description": "Request method not supported"
          }
        },
        "operationId": "fetchAuthorizationTokenUsingPost",
        "description": "Authorization token API endpoint helps to get the JWT Bearer token that needs to be passed in every API request in the authorization header. The merchant application use the API to get a JWT access token. JWT access token is a base 64 encoded string value that must be aquire first before making any Vipps api calls",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "summary": "Fetch authorization token",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    }
  },
  "definitions": {
    "ShippingDetails": {
      "type": "object",
      "required": [
        "isDefault",
        "shippingCost",
        "shippingMethod",
        "shippingMethodId"
      ],
      "properties": {
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "shippingCost": {
          "format": "double",
          "type": "number"
        },
        "shippingMethodId": {
          "type": "string"
        },
        "isDefault": {
          "enum": [
            "Y",
            "N"
          ],
          "type": "string"
        },
        "shippingMethod": {
          "type": "string"
        }
      }
    },
    "TransactionInfoCapture": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "status": {
          "example": "Captured",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "enum": [
            "Captured"
          ],
          "type": "string"
        },
        "amount": {
          "format": "double",
          "example": 20000,
          "description": "Ordered amount in øre",
          "type": "number"
        },
        "transactionId": {
          "example": "5001420062",
          "description": "Vipps transaction id",
          "type": "string"
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "description": "Transaction text reference provided by merchant",
          "type": "string"
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "type": "string"
        }
      }
    },
    "GetTransactionDetails": {
      "type": "object",
      "properties": {
        "userDetails": {
          "$ref": "#/definitions/UserDetails"
        },
        "orderId": {
          "example": "order123abc",
          "type": "string"
        },
        "shippingDetails": {
          "$ref": "#/definitions/PaymentShippingDetails"
        },
        "transactionLogHistory": {
          "items": {
            "$ref": "#/definitions/TransactionLogHistory"
          },
          "type": "array"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      }
    },
    "FetchShippingCostResponse": {
      "type": "object",
      "required": [
        "addressId",
        "orderId",
        "shippingDetails"
      ],
      "properties": {
        "orderId": {
          "example": "order123abc",
          "type": "string"
        },
        "shippingDetails": {
          "items": {
            "$ref": "#/definitions/ShippingDetails"
          },
          "type": "array"
        },
        "addressId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "UserDetails": {
      "type": "object",
      "required": [
        "email",
        "firstName",
        "lastName",
        "mobileNumber",
        "userId"
      ],
      "properties": {
        "lastName": {
          "example": "Lovelace",
          "description": "Last name",
          "type": "string"
        },
        "ssn": {
          "type": "string",
          "minLength": 11,
          "description": "12345678912",
          "maxLength": 11,
          "pattern": "^\\d{11}$"
        },
        "mobileNumber": {
          "type": "string",
          "minLength": 8,
          "description": "12345678",
          "maxLength": 12,
          "pattern": "^\\d{8,12}$"
        },
        "dateOfBirth": {
          "example": "12-3-1988",
          "description": "12-3-1988",
          "type": "string"
        },
        "firstName": {
          "example": "Ada",
          "description": "First name",
          "type": "string"
        },
        "bankIdVerified": {
          "type": "string"
        },
        "email": {
          "example": "user@example.com",
          "description": "Email address",
          "type": "string"
        },
        "userId": {
          "example": "1234567",
          "description": "1234567",
          "type": "string"
        }
      }
    },
    "TransactionResponseRefund": {
      "type": "object",
      "required": [
        "orderId"
      ],
      "properties": {
        "orderId": {
          "example": "order123abc",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "maxLength": 30,
          "type": "string"
        },
        "transaction": {
          "$ref": "#/definitions/TransactionInfoRefund"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      }
    },
    "ExpressCheckOutPaymentRequest": {
      "type": "object",
      "required": [
        "merchantSerialNumber",
        "orderId",
        "shippingDetails",
        "userDetails"
      ],
      "properties": {
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "Vipps User Information"
        },
        "orderId": {
          "example": "order123abc",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "type": "string"
        },
        "shippingDetails": {
          "$ref": "#/definitions/ShippingDetailsRequest",
          "description": "Shipping Details will be added in the call back request if the payment is Express Checkout"
        },
        "merchantSerialNumber": {
          "type": "string",
          "example": 123456,
          "minLength": 6,
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "maxLength": 6,
          "pattern": "^\\d{6}$"
        },
        "transactionInfo": {
          "$ref": "#/definitions/CallbackTransactionInfoStatus"
        }
      }
    },
    "FetchShippingCostAndMethod": {
      "type": "object",
      "required": [
        "addressId",
        "addressLine1",
        "city",
        "country",
        "postCode"
      ],
      "properties": {
        "addressLine2": {
          "type": "string"
        },
        "addressType": {
          "example": "H",
          "type": "string"
        },
        "city": {
          "example": "Oslo",
          "description": "City",
          "type": "string"
        },
        "postCode": {
          "format": "int32",
          "example": "0191",
          "description": "Four digits",
          "type": "integer",
          "pattern": "^\\df{4}$"
        },
        "addressId": {
          "format": "int32",
          "description": "Vipps Provided address Id. To be returned in response in the same field",
          "type": "integer"
        },
        "country": {
          "example": "NO",
          "description": "The only country supported is Norway",
          "type": "string"
        },
        "addressLine1": {
          "example": "Dronning Eufemias gate 42",
          "type": "string"
        },
        "postalCode": {
          "format": "int32",
          "example": "0191",
          "description": "Four digits",
          "type": "integer",
          "pattern": "^\\df{4}$"
        }
      }
    },
    "PaymentActionsRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "$ref": "#/definitions/Transaction"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        }
      }
    },
    "TransactionResponseCancel": {
      "type": "object",
      "required": [
        "orderId"
      ],
      "properties": {
        "orderId": {
          "example": "order123abc",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "maxLength": 30,
          "type": "string"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCancel"
        }
      }
    },
    "InitiatePaymentCommand": {
      "type": "object",
      "required": [
        "customerInfo",
        "merchantInfo",
        "transaction"
      ],
      "properties": {
        "transaction": {
          "$ref": "#/definitions/TransactionInfoInitiateDTO",
          "description": "it has transaction details which needs to be inititated"
        },
        "customerInfo": {
          "$ref": "#/definitions/CustomerInfoDto",
          "description": "it has customer information and it is not required"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoDto",
          "description": "it has merchant related information to initiate the payment"
        }
      }
    },
    "CallbackTransactionInfoStatus": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "properties": {
        "status": {
          "example": "RESERVE",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#callbacks) for more information.",
          "enum": [
            "RESERVE",
            "SALE",
            "CANCELLED",
            "REJECTED"
          ],
          "type": "string"
        },
        "amount": {
          "format": "double",
          "example": 20000,
          "description": "Ordered amount in øre",
          "type": "number"
        },
        "transactionId": {
          "example": "5001420062",
          "description": "Vipps transaction id",
          "type": "string"
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction.",
          "type": "string"
        }
      }
    },
    "OrderStatusInfoTransactionInfo": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "properties": {
        "status": {
          "example": "RESERVE",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "enum": [
            "INITIATE",
            "REGISTER",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID",
            "FAILED",
            "REJECTED"
          ],
          "type": "string"
        },
        "amount": {
          "format": "double",
          "example": 20000,
          "description": "Ordered amount in øre",
          "type": "number"
        },
        "transactionId": {
          "example": "5001420062",
          "description": "Vipps transaction id",
          "type": "string"
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction.",
          "type": "string"
        }
      }
    },
    "TransactionSummary": {
      "type": "object",
      "required": [
        "capturedAmount",
        "refundedAmount",
        "remainingAmountToCapture",
        "remainingAmountToRefund"
      ],
      "properties": {
        "remainingAmountToRefund": {
          "format": "int32",
          "example": 20000,
          "description": "Total remaining amount to refund",
          "type": "integer"
        },
        "refundedAmount": {
          "format": "int32",
          "example": 0,
          "description": "Total refunded amount of the order",
          "type": "integer"
        },
        "remainingAmountToCapture": {
          "format": "int32",
          "example": 0,
          "description": "Total remaining amount to capture",
          "type": "integer"
        },
        "capturedAmount": {
          "format": "int32",
          "example": 20000,
          "description": "Total amount captured",
          "type": "integer"
        }
      }
    },
    "CancelTransaction": {
      "type": "object",
      "properties": {
        "transactionText": {
          "type": "string"
        }
      }
    },
    "TransactionResponseCapture": {
      "type": "object",
      "required": [
        "orderId"
      ],
      "properties": {
        "orderId": {
          "example": "order123abc",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "maxLength": 30,
          "type": "string"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCapture"
        }
      }
    },
    "MerchantInfoDto": {
      "type": "object",
      "required": [
        "callbackPrefix",
        "fallBack",
        "merchantSerialNumber"
      ],
      "properties": {
        "paymentType": {
          "example": "eComm Regular Payment",
          "default": "eComm Regular Payment",
          "description": "This parameter will identify difference between a regular ecomm payment and ecomm express payment. For express checkout, use: \"eComm Express Payment\". Express checkouts require consentRemovalPrefix.",
          "enum": [
            "eComm Regular Payment",
            "eComm Express Payment"
          ],
          "type": "string"
        },
        "consentRemovalPrefix": {
          "example": "https://example.com/vipps",
          "description": "Required for expess checkout payments. This callback URL will be used by Vipps to inform the merchant that the user has revoked his/her consent: This Vipps user does do not want the merchant to store or use his/her personal information anymore. Required by GDPR. Vipps will add `/v2/consents/{userId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "maxLength": 255,
          "type": "string"
        },
        "authToken": {
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "description": "The Merchant should share this token if merchant has authentication mechanism in place which could be used for making callbacks secure.",
          "maxLength": 255,
          "type": "string"
        },
        "fallBack": {
          "example": "https://example.com/vipps/fallback/order123abc",
          "description": "Vipps will use the fall back URL to redirect Merchant Page once Payment is completed in Vipps System URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "maxLength": 255,
          "type": "string"
        },
        "isApp": {
          "example": false,
          "default": false,
          "description": "This parameter indicates whether payment request is triggered from Mobile App or Web browser. Based on this value, response will be redirect URL for Vipps landing page or deeplink URL to connect vipps App. When isApp is set to true, URLs passed to Vipps will not be validated as regular URLs.",
          "type": "boolean"
        },
        "callbackPrefix": {
          "example": "https://example.com/vipps/callbacks",
          "description": "This is an URL for receiving the callback after the payment request. Domain name and context path should be provided by merchant as the value for this parameter. Vipps will add `/v2/payments/{orderId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "maxLength": 255,
          "type": "string"
        },
        "shippingDetailsPrefix": {
          "example": "https://example.com/vipps/shipping/",
          "description": "In case of express checkout payment, merchant should pass this prefix to let Vipps fetch shipping cost and method related details. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end or this URL.",
          "maxLength": 255,
          "type": "string"
        },
        "merchantSerialNumber": {
          "type": "string",
          "example": 123456,
          "minLength": 6,
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "maxLength": 6,
          "pattern": "^\\d{6}$"
        }
      }
    },
    "ShippingDetailsRequest": {
      "type": "object",
      "required": [
        "address",
        "shippingCost",
        "shippingMethod"
      ],
      "properties": {
        "address": {
          "$ref": "#/definitions/Address",
          "description": "Address Details"
        },
        "shippingMethod": {
          "description": "Shipping method which choosed for the payment",
          "type": "string"
        },
        "shippingCost": {
          "format": "double",
          "description": "Shipping cost",
          "type": "number"
        }
      }
    },
    "TransactionInfoRefund": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "status": {
          "example": "Refund",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "enum": [
            "Refund"
          ],
          "type": "string"
        },
        "amount": {
          "format": "double",
          "example": 20000,
          "description": "Ordered amount in øre",
          "type": "number"
        },
        "transactionId": {
          "example": "5001420062",
          "description": "Vipps transaction id",
          "type": "string"
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "description": "Transaction text reference provided by merchant",
          "type": "string"
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "type": "string"
        }
      }
    },
    "MerchantInfoPayment": {
      "type": "object",
      "required": [
        "merchantSerialNumber"
      ],
      "properties": {
        "merchantSerialNumber": {
          "type": "string",
          "example": 123456,
          "minLength": 6,
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "maxLength": 6,
          "pattern": "^\\d{6}$"
        }
      }
    },
    "InitiatePaymentV2Representation": {
      "type": "object",
      "required": [
        "orderId",
        "url"
      ],
      "properties": {
        "orderId": {
          "example": "order123abc",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters.",
          "type": "string"
        },
        "url": {
          "example": "https://example.com",
          "description": "URL parameter will have URL to redirect the request to vipps gateway page in case request is trigger from web browser or deeplink URL to open vipps app incase request is triggered from Merchant Mobile App.",
          "type": "string"
        }
      }
    },
    "GetPaymentStatusResponse": {
      "type": "object",
      "properties": {
        "orderId": {
          "example": "order123abc",
          "type": "string"
        },
        "transactionInfo": {
          "$ref": "#/definitions/OrderStatusInfoTransactionInfo"
        }
      }
    },
    "TransactionInfoInitiateDTO": {
      "type": "object",
      "required": [
        "amount",
        "orderId",
        "transactionText"
      ],
      "properties": {
        "amount": {
          "format": "int32",
          "example": 20000,
          "description": "Amount in øre. 32 bit Integer (2147483647)",
          "type": "integer",
          "pattern": "^\\d{3,}$"
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "description": "Transaction text that can be displayed to end user",
          "maxLength": 100,
          "type": "string"
        },
        "timeStamp": {
          "format": "date-time",
          "example": "2018-11-14T15:44:26.590Z",
          "description": "ISO formatted date time string.",
          "type": "string"
        },
        "refOrderId": {
          "example": "merchantOrder123abc",
          "description": "Identifies if the payment references to some past orders registered with Vipps. If defined, transactions for this payment will show up as child transactions of the specified order.",
          "maxLength": 30,
          "type": "string"
        },
        "orderId": {
          "example": "order123abc",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters.",
          "maxLength": 30,
          "type": "string"
        }
      }
    },
    "PaymentShippingDetails": {
      "type": "object",
      "required": [
        "shippingCost",
        "shippingMethod"
      ],
      "properties": {
        "address": {
          "$ref": "#/definitions/Address"
        },
        "shippingMethod": {
          "example": "Posten",
          "description": "Shipping method",
          "type": "string"
        },
        "shippingCost": {
          "format": "double",
          "example": 1500,
          "description": "Shipping Cost",
          "type": "number"
        }
      }
    },
    "CustomerInfoDto": {
      "type": "object",
      "properties": {
        "mobileNumber": {
          "type": "string",
          "example": 91234567,
          "minLength": 8,
          "description": "Mobile number of the user who has to pay for the transation from Vipps. Allowed format: xxxxxxxx",
          "maxLength": 8,
          "pattern": "^\\d{8}$"
        }
      }
    },
    "TransactionInfoCancel": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "status": {
          "example": "Cancelled",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "enum": [
            "Cancelled"
          ],
          "type": "string"
        },
        "amount": {
          "format": "double",
          "example": 20000,
          "description": "Ordered amount in øre",
          "type": "number"
        },
        "transactionId": {
          "example": "5001420062",
          "description": "Vipps transaction id",
          "type": "string"
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "description": "Transaction text reference provided by merchant",
          "type": "string"
        },
        "timeStamp": {
          "example": "2018-12-12T11:18:38.246Z",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "type": "string"
        }
      }
    },
    "Transaction": {
      "type": "object",
      "required": [
        "transactionText"
      ],
      "properties": {
        "amount": {
          "format": "int32",
          "example": 20000,
          "description": "Amount in øre, if amount is 0 or not provided then full capture will be performed. 32 Bit Integer (2147483647)",
          "type": "integer",
          "pattern": "^\\d{3,}$"
        },
        "transactionText": {
          "description": "Proof of delivery",
          "type": "string"
        }
      }
    },
    "TransactionLogHistory": {
      "type": "object",
      "properties": {
        "transactionText": {
          "type": "string"
        },
        "operationSuccess": {
          "type": "boolean"
        },
        "operation": {
          "example": "RESERVE",
          "description": "The operation that was performed for this log entry. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "enum": [
            "INITIATE",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID"
          ],
          "type": "string"
        },
        "amount": {
          "format": "int32",
          "type": "integer"
        },
        "transactionId": {
          "type": "string"
        },
        "timeStamp": {
          "type": "string"
        },
        "requestId": {
          "type": "string"
        }
      }
    },
    "Address": {
      "type": "object",
      "required": [
        "addressLine1",
        "city",
        "country",
        "zipCode"
      ],
      "properties": {
        "addressLine2": {
          "example": "Att: Rune Garborg",
          "description": "Address Line 2",
          "type": "string"
        },
        "country": {
          "example": "NO",
          "description": "Country,default=NO",
          "type": "string"
        },
        "addressLine1": {
          "example": "Dronning Eufemias gate 42",
          "description": "Address Line 1",
          "type": "string"
        },
        "city": {
          "example": "Oslo",
          "description": "City",
          "type": "string"
        },
        "zipCode": {
          "example": "0191",
          "description": "Zip Code",
          "type": "string"
        }
      }
    },
    "AuthorizationTokenResponse": {
      "type": "object",
      "properties": {
        "expires_in": {
          "example": 3600,
          "type": "integer"
        },
        "access_token": {
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "type": "string"
        },
        "not_before": {
          "example": 1547819508,
          "type": "integer"
        },
        "token_type": {
          "example": "Bearer",
          "type": "string"
        },
        "resource": {
          "example": "00000002-0000-0000-c000-000000000000",
          "type": "string"
        },
        "ext_expires_in": {
          "example": 3600,
          "type": "integer"
        },
        "expires_on": {
          "example": 1547823408,
          "type": "integer"
        }
      }
    },
    "CancelPaymentActionRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "$ref": "#/definitions/CancelTransaction"
        },
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        }
      }
    },
    "AuthorizationTokenMethod": {
      "type": "object"
    }
  },
  "info": {
    "description": "# Vipps eCommerce API\nAdditional API documentation: https://github.com/vippsas/vipps-ecom-api/\n",
    "title": "Vipps eCommerce APIs",
    "version": "1.0.4"
  }
}