{
  "swagger": "2.0",
  "host": "apitest.vipps.no",
  "paths": {
    "/ecomm/v2/payments/{orderId}/capture": {
      "post": {
        "summary": "Capture Payment ",
        "responses": {
          "200": {
            "description": "Capture payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseCapture"
            }
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "`application/json`",
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "ocp-apim-subscription-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "paymentActionsRequest",
            "name": "paymentActionsRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            }
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "capturePaymentUsingPOST",
        "description": "This API call allows merchant to capture the reserved amount. Amount to capture cannot be higher than reserved. The API also allows capturing partial amount of the reserved amount. Partial capture can be called as many times as required so long there is reserved amount to capture. Transaction text is not optional and is used as a proof of delivery (tracking code, consignment number etc.). In a case of direct capture, both fund reservation and capture are executed in a single operation.",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "/ecomm/v2/payments": {
      "post": {
        "summary": "Initiate Payment",
        "responses": {
          "202": {
            "description": "Response for Initiate Payment",
            "schema": {
              "$ref": "#/definitions/InitiatePaymentV2Representation"
            }
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "parameters": [
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "application/json",
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "ocp-apim-subscription-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "initiatePaymentCommand",
            "name": "initiatePaymentCommand",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InitiatePaymentCommand"
            }
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "initiatePaymentV3UsingPOST",
        "description": "This API call allows the merchants to initiate a payment flow by using Vipps. In order to identify which sales channel payments are coming from, a merchantSerialNumber is used to distinguish between them. Please note that a single payment is uniquely identified by a composite of merchantApplicationId (X-App-ID), merchantSerialNumber and orderId. The Merchant provided orderId must be unique per sales channel. Once the transaction is successfully initiated in Vipps, will you receive a redirect URL in response which has to be used by the merchant to open the Vipps landing page. The landing page will have functionality to identify and differentiate request coming from mobile browser/desktop browser. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "[consentRemovalPrefix]/v2/consents/{userId}": {
      "delete": {
        "summary": "Remove User Consent (for express checkout)",
        "responses": {
          "200": {
            "description": "Remove User Consent (for express checkout)"
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "parameters": [
          {
            "description": "The userId provided when requesting user information from Vipps. Received by callback or get detail request.",
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "operationId": "removeUserConsentUsingDELETE",
        "description": "This API endpoint on the merchant side allows Vipps to send consent removal requests to the merchant. When receiving requests the merchant is obliged to remove the user details permanently, as per the GDPR guidelines. Vipps will add `/v2/consents/{userId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/status": {
      "get": {
        "summary": "Get order status",
        "responses": {
          "200": {
            "description": "Get order status",
            "schema": {
              "$ref": "#/definitions/GetPaymentStatusResponse"
            }
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "ocp-apim-subscription-key",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "getOrderStatusUsingGET",
        "description": "This API call allows the merchant to get the status of the last payment transaction. Primarily use of this service is meant for inApp where simple response to check order status is preferred.",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/refund": {
      "post": {
        "summary": "Refund Payment ",
        "responses": {
          "200": {
            "description": "Refund payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseRefund"
            }
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "`application/json`",
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "ocp-apim-subscription-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "paymentActionsRequest",
            "name": "paymentActionsRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            }
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "refundPaymentUsingPOST",
        "description": "The API allows a merchant to do a refund of already captured transaction. There is an option to do a partial refund of the captured amount. Refunded amount cannot be larger than captured. Timeframe for issuing a refund for a payment is 365 days from the date payment has been captured. If the refund payment service call is called after the refund timeframe, service call will respond with an error. Refunded funds will be transferred from the merchant account to the customer credit card that was used in payment flow. Pay attention that in order to perform refund, there must be enough funds at merchant settlements account.",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/cancel": {
      "put": {
        "summary": "Cancel Payment",
        "responses": {
          "200": {
            "description": "Cancel payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseCancel"
            }
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "`application/json`",
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "ocp-apim-subscription-key",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "paymentActionsRequest",
            "name": "paymentActionsRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelPaymentActionRequest"
            }
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "cancelPaymentRequestUsingPUT",
        "description": "The API call allows merchant to cancel the reserved transaction, The API will not allow partial cancellation which has the consequence that partially captured transactions cannot be cancelled. Please note that in a case of communication errors during initiate payment service call between Vipps and PSP/Acquirer/Issuer; even in a case that customer has confirmed a payment, the payment will be cancelled by Vipps. Note this means you can not cancel a captured payment.",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "[shippingDetailsPrefix]/v2/payments/{orderId}/shippingDetails": {
      "post": {
        "summary": "Fetch Shipping Cost & Method",
        "responses": {
          "200": {
            "description": "Fetch Shipping Cost & Method.",
            "schema": {
              "$ref": "#/definitions/FetchShippingCostResponse"
            }
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "parameters": [
          {
            "description": "orderId",
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "description": "fetchShippingCostAndMethod",
            "name": "fetchShippingCostAndMethod",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FetchShippingCostAndMethod"
            }
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "operationId": "fetchShippingCostUsingPOST",
        "description": "This API endpoint on the merchant side allows Vipps to get the shipping cost and method based on the provided address and product details. The primary use of this service is Vipps Hurtigkasse (express checkout) where Vipps needs to present shipping cost and method to the Vipps user. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "/accesstoken/get": {
      "post": {
        "summary": "Fetch authorization token",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuthorizationTokenResponse"
            }
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "parameters": [
          {
            "name": "client_id",
            "description": "Client id is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "guid"
          },
          {
            "description": "Client secret is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "client_secret",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "The subscription-key for authorization token is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. The ```DEFAULT_ACCESSTOKEN``` key is the value for subscription-key. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "ocp-apim-subscription-key",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Authorization Service"
        ],
        "operationId": "fetchAuthorizationTokenUsingPost",
        "description": "Authorization token API endpoint helps to get the JWT Bearer token that needs to be passed in every API request in the authorization header. The merchant application use the API to get a JWT access token. JWT access token is a base 64 encoded string value that must be aquire first before making any Vipps api calls",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "/ecomm/v2/payments/{orderId}/details": {
      "get": {
        "summary": "Get payment Details",
        "responses": {
          "200": {
            "description": "Get payment Details",
            "schema": {
              "$ref": "#/definitions/GetTransactionDetails"
            }
          },
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "parameters": [
          {
            "description": "Order id specified in the request body of initiate payment.",
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "description": "Authorization-token is obtained by running the `/accesstoken/get` request.",
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "`application/json`",
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "ocp-apim-subscription-key",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "operationId": "getPaymentDetailsUsingGET",
        "description": "This API call allows merchant to get the details of a payment transaction. Service call returns detailed transaction history of given payment where events are sorted by the time single transaction occurred.",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    },
    "[callbackPrefix]/v2/payments/{orderId}": {
      "post": {
        "summary": "Callback : Transaction Update",
        "responses": {
          "200": {
            "description": "Callback : Transaction Update"
          },
          "500": {
            "description": "Something went wrong on the Vipps server side"
          },
          "402": {
            "description": "Payment Failed"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "405": {
            "description": "Request method not supported"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "parameters": [
          {
            "description": "orderId",
            "name": "orderId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "description": "expressCheckOutPaymentRequest",
            "name": "expressCheckOutPaymentRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExpressCheckOutPaymentRequest"
            }
          }
        ],
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "operationId": "transactionUpdateCallbackForRegularPaymentUsingPOST",
        "description": "This API call allows Vipps to send the transaction details. During regular ecomm payment order and transaction details will be shared. During express checkout payment it will provide user details and shipping details addition to the order and transaction details. Vipps will add `/v2/payments/{orderId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "produces": [
          "application/json;charset=UTF-8"
        ]
      }
    }
  },
  "definitions": {
    "TransactionSummary": {
      "type": "object",
      "required": [
        "capturedAmount",
        "refundedAmount",
        "remainingAmountToCapture",
        "remainingAmountToRefund"
      ],
      "properties": {
        "remainingAmountToCapture": {
          "description": "Total remaining amount to capture",
          "example": 0,
          "type": "integer",
          "format": "int32"
        },
        "capturedAmount": {
          "description": "Total amount captured",
          "example": 20000,
          "type": "integer",
          "format": "int32"
        },
        "remainingAmountToRefund": {
          "description": "Total remaining amount to refund",
          "example": 20000,
          "type": "integer",
          "format": "int32"
        },
        "refundedAmount": {
          "description": "Total refunded amount of the order",
          "example": 0,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PaymentActionsRequest": {
      "type": "object",
      "properties": {
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        },
        "transaction": {
          "$ref": "#/definitions/Transaction"
        }
      }
    },
    "TransactionInfoRefund": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "amount": {
          "description": "Ordered amount in øre",
          "example": 20000,
          "type": "number",
          "format": "double"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string"
        },
        "transactionText": {
          "description": "Transaction text reference provided by merchant",
          "example": "One pair of Vipps socks",
          "type": "string"
        },
        "transactionId": {
          "description": "Vipps transaction id",
          "example": "5001420062",
          "type": "string"
        },
        "status": {
          "example": "Refund",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "enum": [
            "Refund"
          ]
        }
      }
    },
    "CustomerInfoDto": {
      "type": "object",
      "properties": {
        "mobileNumber": {
          "minLength": 8,
          "maxLength": 8,
          "pattern": "^\\d{8}$",
          "example": 91234567,
          "type": "string",
          "description": "Mobile number of the user who has to pay for the transation from Vipps. Allowed format: xxxxxxxx"
        }
      }
    },
    "ExpressCheckOutPaymentRequest": {
      "type": "object",
      "required": [
        "merchantSerialNumber",
        "orderId",
        "shippingDetails",
        "userDetails"
      ],
      "properties": {
        "merchantSerialNumber": {
          "minLength": 6,
          "maxLength": 6,
          "pattern": "^\\d{6}$",
          "example": 123456,
          "type": "string",
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN."
        },
        "userDetails": {
          "description": "Vipps User Information",
          "$ref": "#/definitions/UserDetails"
        },
        "transactionInfo": {
          "$ref": "#/definitions/CallbackTransactionInfoStatus"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "example": "order123abc",
          "type": "string"
        },
        "shippingDetails": {
          "description": "Shipping Details will be added in the call back request if the payment is Express Checkout",
          "$ref": "#/definitions/ShippingDetailsRequest"
        }
      }
    },
    "AuthorizationTokenResponse": {
      "type": "object",
      "properties": {
        "access_token": {
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "type": "string"
        },
        "token_type": {
          "example": "Bearer",
          "type": "string"
        },
        "resource": {
          "example": "00000002-0000-0000-c000-000000000000",
          "type": "string"
        },
        "ext_expires_in": {
          "example": 3600,
          "type": "integer"
        },
        "expires_in": {
          "example": 3600,
          "type": "integer"
        },
        "not_before": {
          "example": 1547819508,
          "type": "integer"
        },
        "expires_on": {
          "example": 1547823408,
          "type": "integer"
        }
      }
    },
    "OrderStatusInfoTransactionInfo": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "properties": {
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction.",
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string"
        },
        "amount": {
          "description": "Ordered amount in øre",
          "example": 20000,
          "type": "number",
          "format": "double"
        },
        "transactionId": {
          "description": "Vipps transaction id",
          "example": "5001420062",
          "type": "string"
        },
        "status": {
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "example": "RESERVE",
          "type": "string",
          "enum": [
            "INITIATE",
            "REGISTER",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID",
            "FAILED",
            "REJECTED"
          ]
        }
      }
    },
    "UserDetails": {
      "type": "object",
      "required": [
        "email",
        "firstName",
        "lastName",
        "mobileNumber",
        "userId"
      ],
      "properties": {
        "bankIdVerified": {
          "type": "string"
        },
        "dateOfBirth": {
          "description": "12-3-1988",
          "example": "12-3-1988",
          "type": "string"
        },
        "userId": {
          "description": "1234567",
          "example": "1234567",
          "type": "string"
        },
        "email": {
          "description": "Email address",
          "example": "user@example.com",
          "type": "string"
        },
        "mobileNumber": {
          "description": "12345678",
          "minLength": 8,
          "type": "string",
          "maxLength": 12,
          "pattern": "^\\d{8,12}$"
        },
        "ssn": {
          "description": "12345678912",
          "minLength": 11,
          "type": "string",
          "maxLength": 11,
          "pattern": "^\\d{11}$"
        },
        "firstName": {
          "description": "First name",
          "example": "Ada",
          "type": "string"
        },
        "lastName": {
          "description": "Last name",
          "example": "Lovelace",
          "type": "string"
        }
      }
    },
    "TransactionInfoCapture": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "amount": {
          "description": "Ordered amount in øre",
          "example": 20000,
          "type": "number",
          "format": "double"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string"
        },
        "transactionText": {
          "description": "Transaction text reference provided by merchant",
          "example": "One pair of Vipps socks",
          "type": "string"
        },
        "transactionId": {
          "description": "Vipps transaction id",
          "example": "5001420062",
          "type": "string"
        },
        "status": {
          "example": "Captured",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "enum": [
            "Captured"
          ]
        }
      }
    },
    "AuthorizationTokenMethod": {
      "type": "object"
    },
    "CancelTransaction": {
      "type": "object",
      "properties": {
        "transactionText": {
          "type": "string"
        }
      }
    },
    "CancelPaymentActionRequest": {
      "type": "object",
      "properties": {
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        },
        "transaction": {
          "$ref": "#/definitions/CancelTransaction"
        }
      }
    },
    "InitiatePaymentV2Representation": {
      "type": "object",
      "required": [
        "orderId",
        "url"
      ],
      "properties": {
        "url": {
          "description": "URL parameter will have URL to redirect the request to vipps gateway page in case request is trigger from web browser or deeplink URL to open vipps app incase request is triggered from Merchant Mobile App.",
          "example": "https://example.com",
          "type": "string"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters.",
          "example": "order123abc",
          "type": "string"
        }
      }
    },
    "FetchShippingCostResponse": {
      "type": "object",
      "required": [
        "addressId",
        "orderId",
        "shippingDetails"
      ],
      "properties": {
        "addressId": {
          "type": "integer",
          "format": "int32"
        },
        "shippingDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShippingDetails"
          }
        },
        "orderId": {
          "example": "order123abc",
          "type": "string"
        }
      }
    },
    "TransactionResponseCapture": {
      "type": "object",
      "required": [
        "orderId"
      ],
      "properties": {
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCapture"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "example": "order123abc",
          "type": "string",
          "maxLength": 30
        }
      }
    },
    "TransactionResponseCancel": {
      "type": "object",
      "required": [
        "orderId"
      ],
      "properties": {
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCancel"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "example": "order123abc",
          "type": "string",
          "maxLength": 30
        }
      }
    },
    "GetTransactionDetails": {
      "type": "object",
      "properties": {
        "transactionLogHistory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionLogHistory"
          }
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails"
        },
        "orderId": {
          "example": "order123abc",
          "type": "string"
        },
        "shippingDetails": {
          "$ref": "#/definitions/PaymentShippingDetails"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        }
      }
    },
    "Address": {
      "type": "object",
      "required": [
        "addressLine1",
        "city",
        "country",
        "zipCode"
      ],
      "properties": {
        "addressLine2": {
          "description": "Address Line 2",
          "example": "Att: Rune Garborg",
          "type": "string"
        },
        "city": {
          "description": "City",
          "example": "Oslo",
          "type": "string"
        },
        "country": {
          "description": "Country,default=NO",
          "example": "NO",
          "type": "string"
        },
        "addressLine1": {
          "description": "Address Line 1",
          "example": "Dronning Eufemias gate 42",
          "type": "string"
        },
        "zipCode": {
          "description": "Zip Code",
          "example": "0191",
          "type": "string"
        }
      }
    },
    "Transaction": {
      "type": "object",
      "required": [
        "transactionText"
      ],
      "properties": {
        "transactionText": {
          "description": "Proof of delivery",
          "type": "string"
        },
        "amount": {
          "description": "Amount in øre, if amount is 0 or not provided then full capture will be performed. 32 Bit Integer (2147483647)",
          "example": 20000,
          "type": "integer",
          "format": "int32",
          "pattern": "^\\d{3,}$"
        }
      }
    },
    "InitiatePaymentCommand": {
      "type": "object",
      "required": [
        "customerInfo",
        "merchantInfo",
        "transaction"
      ],
      "properties": {
        "customerInfo": {
          "description": "it has customer information and it is not required",
          "$ref": "#/definitions/CustomerInfoDto"
        },
        "merchantInfo": {
          "description": "it has merchant related information to initiate the payment",
          "$ref": "#/definitions/MerchantInfoDto"
        },
        "transaction": {
          "description": "it has transaction details which needs to be inititated",
          "$ref": "#/definitions/TransactionInfoInitiateDTO"
        }
      }
    },
    "MerchantInfoDto": {
      "type": "object",
      "required": [
        "callbackPrefix",
        "fallBack",
        "merchantSerialNumber"
      ],
      "properties": {
        "callbackPrefix": {
          "description": "This is an URL for receiving the callback after the payment request. Domain name and context path should be provided by merchant as the value for this parameter. Vipps will add `/v2/payments/{orderId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "example": "https://example.com/vipps/callbacks",
          "type": "string",
          "maxLength": 255
        },
        "fallBack": {
          "description": "Vipps will use the fall back URL to redirect Merchant Page once Payment is completed in Vipps System URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "example": "https://example.com/vipps/fallback/order123abc",
          "type": "string",
          "maxLength": 255
        },
        "shippingDetailsPrefix": {
          "description": "In case of express checkout payment, merchant should pass this prefix to let Vipps fetch shipping cost and method related details. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end or this URL.",
          "example": "https://example.com/vipps/shipping/",
          "type": "string",
          "maxLength": 255
        },
        "paymentType": {
          "description": "This parameter will identify difference between a regular ecomm payment and ecomm express payment. For express checkout, use: \"eComm Express Payment\". Express checkouts require consentRemovalPrefix.",
          "example": "eComm Regular Payment",
          "type": "string",
          "default": "eComm Regular Payment",
          "enum": [
            "eComm Regular Payment",
            "eComm Express Payment"
          ]
        },
        "merchantSerialNumber": {
          "minLength": 6,
          "maxLength": 6,
          "pattern": "^\\d{6}$",
          "example": 123456,
          "type": "string",
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN."
        },
        "isApp": {
          "example": false,
          "description": "This parameter indicates whether payment request is triggered from Mobile App or Web browser. Based on this value, response will be redirect URL for Vipps landing page or deeplink URL to connect vipps App. When isApp is set to true, URLs passed to Vipps will not be validated as regular URLs.",
          "type": "boolean",
          "default": false
        },
        "authToken": {
          "description": "The Merchant should share this token if merchant has authentication mechanism in place which could be used for making callbacks secure.",
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "type": "string",
          "maxLength": 255
        },
        "consentRemovalPrefix": {
          "description": "Required for expess checkout payments. This callback URL will be used by Vipps to inform the merchant that the user has revoked his/her consent: This Vipps user does do not want the merchant to store or use his/her personal information anymore. Required by GDPR. Vipps will add `/v2/consents/{userId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "example": "https://example.com/vipps",
          "type": "string",
          "maxLength": 255
        }
      }
    },
    "TransactionLogHistory": {
      "type": "object",
      "properties": {
        "operation": {
          "example": "RESERVE",
          "description": "The operation that was performed for this log entry. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "enum": [
            "INITIATE",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID"
          ]
        },
        "requestId": {
          "type": "string"
        },
        "transactionId": {
          "type": "string"
        },
        "timeStamp": {
          "type": "string"
        },
        "operationSuccess": {
          "type": "boolean"
        },
        "transactionText": {
          "type": "string"
        },
        "amount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ShippingDetailsRequest": {
      "type": "object",
      "required": [
        "address",
        "shippingCost",
        "shippingMethod"
      ],
      "properties": {
        "address": {
          "description": "Address Details",
          "$ref": "#/definitions/Address"
        },
        "shippingMethod": {
          "description": "Shipping method which choosed for the payment",
          "type": "string"
        },
        "shippingCost": {
          "description": "Shipping cost",
          "type": "number",
          "format": "double"
        }
      }
    },
    "CallbackTransactionInfoStatus": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "properties": {
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction.",
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string"
        },
        "amount": {
          "description": "Ordered amount in øre",
          "example": 20000,
          "type": "number",
          "format": "double"
        },
        "transactionId": {
          "description": "Vipps transaction id",
          "example": "5001420062",
          "type": "string"
        },
        "status": {
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#callbacks) for more information.",
          "example": "RESERVE",
          "type": "string",
          "enum": [
            "RESERVE",
            "SALE",
            "CANCELLED",
            "REJECTED"
          ]
        }
      }
    },
    "GetPaymentStatusResponse": {
      "type": "object",
      "properties": {
        "transactionInfo": {
          "$ref": "#/definitions/OrderStatusInfoTransactionInfo"
        },
        "orderId": {
          "example": "order123abc",
          "type": "string"
        }
      }
    },
    "MerchantInfoPayment": {
      "type": "object",
      "required": [
        "merchantSerialNumber"
      ],
      "properties": {
        "merchantSerialNumber": {
          "minLength": 6,
          "maxLength": 6,
          "pattern": "^\\d{6}$",
          "example": 123456,
          "type": "string",
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN."
        }
      }
    },
    "TransactionInfoCancel": {
      "type": "object",
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "properties": {
        "amount": {
          "description": "Ordered amount in øre",
          "example": 20000,
          "type": "number",
          "format": "double"
        },
        "timeStamp": {
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "example": "2018-12-12T11:18:38.246Z",
          "type": "string"
        },
        "transactionText": {
          "description": "Transaction text reference provided by merchant",
          "example": "One pair of Vipps socks",
          "type": "string"
        },
        "transactionId": {
          "description": "Vipps transaction id",
          "example": "5001420062",
          "type": "string"
        },
        "status": {
          "example": "Cancelled",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "enum": [
            "Cancelled"
          ]
        }
      }
    },
    "TransactionResponseRefund": {
      "type": "object",
      "required": [
        "orderId"
      ],
      "properties": {
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transaction": {
          "$ref": "#/definitions/TransactionInfoRefund"
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "example": "order123abc",
          "type": "string",
          "maxLength": 30
        }
      }
    },
    "ShippingDetails": {
      "type": "object",
      "required": [
        "isDefault",
        "shippingCost",
        "shippingMethod",
        "shippingMethodId"
      ],
      "properties": {
        "shippingMethodId": {
          "type": "string"
        },
        "isDefault": {
          "type": "string",
          "enum": [
            "Y",
            "N"
          ]
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "shippingCost": {
          "type": "number",
          "format": "double"
        },
        "shippingMethod": {
          "type": "string"
        }
      }
    },
    "TransactionInfoInitiateDTO": {
      "type": "object",
      "required": [
        "amount",
        "orderId",
        "transactionText"
      ],
      "properties": {
        "timeStamp": {
          "description": "ISO formatted date time string.",
          "example": "2018-11-14T15:44:26.590Z",
          "type": "string",
          "format": "date-time"
        },
        "transactionText": {
          "description": "Transaction text that can be displayed to end user",
          "example": "One pair of Vipps socks",
          "type": "string",
          "maxLength": 100
        },
        "refOrderId": {
          "description": "Identifies if the payment references to some past orders registered with Vipps. If defined, transactions for this payment will show up as child transactions of the specified order.",
          "example": "merchantOrder123abc",
          "type": "string",
          "maxLength": 30
        },
        "orderId": {
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters.",
          "example": "order123abc",
          "type": "string",
          "maxLength": 30
        },
        "amount": {
          "description": "Amount in øre. 32 bit Integer (2147483647)",
          "example": 20000,
          "type": "integer",
          "format": "int32",
          "pattern": "^\\d{3,}$"
        }
      }
    },
    "FetchShippingCostAndMethod": {
      "type": "object",
      "required": [
        "addressId",
        "addressLine1",
        "city",
        "country",
        "postCode"
      ],
      "properties": {
        "country": {
          "description": "The only country supported is Norway",
          "example": "NO",
          "type": "string"
        },
        "addressType": {
          "example": "H",
          "type": "string"
        },
        "postCode": {
          "description": "Four digits",
          "example": "0191",
          "type": "integer",
          "format": "int32",
          "pattern": "^\\df{4}$"
        },
        "addressId": {
          "description": "Vipps Provided address Id. To be returned in response in the same field",
          "type": "integer",
          "format": "int32"
        },
        "postalCode": {
          "description": "Four digits",
          "example": "0191",
          "type": "integer",
          "format": "int32",
          "pattern": "^\\df{4}$"
        },
        "addressLine2": {
          "type": "string"
        },
        "addressLine1": {
          "example": "Dronning Eufemias gate 42",
          "type": "string"
        },
        "city": {
          "description": "City",
          "example": "Oslo",
          "type": "string"
        }
      }
    },
    "PaymentShippingDetails": {
      "type": "object",
      "required": [
        "shippingCost",
        "shippingMethod"
      ],
      "properties": {
        "address": {
          "$ref": "#/definitions/Address"
        },
        "shippingMethod": {
          "description": "Shipping method",
          "example": "Posten",
          "type": "string"
        },
        "shippingCost": {
          "description": "Shipping Cost",
          "example": 1500,
          "type": "number",
          "format": "double"
        }
      }
    }
  },
  "info": {
    "description": "# Vipps eCommerce API\nAdditional API documentation: https://github.com/vippsas/vipps-ecom-api/\n",
    "version": "1.0.4",
    "title": "Vipps eCommerce APIs"
  },
  "tags": [
    {
      "description": "Authorization Service",
      "name": "Authorization Service"
    },
    {
      "description": "Functionality provided by the Vipps eCommerce API",
      "name": "Vipps eCom API"
    },
    {
      "description": "These endpoints must be implemented by the merchant, and are called by Vipps.",
      "name": "Endpoints required by Vipps from the merchant"
    }
  ]
}