{
  "swagger": "2.0",
  "host": "apitest.vipps.no",
  "paths": {
    "/ecomm/v2/payments/{orderId}/capture": {
      "post": {
        "operationId": "capturePaymentUsingPOST",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Capture payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseCapture"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "402": {
            "description": "Payment Failed"
          }
        },
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "required": true,
            "description": "Order id specified in the request body of initiate payment.",
            "in": "path",
            "type": "string",
            "name": "orderId"
          },
          {
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "in": "header",
            "type": "string",
            "name": "authorization"
          },
          {
            "required": true,
            "description": "`application/json`",
            "in": "header",
            "type": "string",
            "name": "content-type"
          },
          {
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "in": "header",
            "type": "string",
            "name": "ocp-apim-subscription-key"
          },
          {
            "required": true,
            "description": "paymentActionsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "name": "paymentActionsRequest"
          }
        ],
        "description": "This API call allows merchant to capture the reserved amount. Amount to capture cannot be higher than reserved. The API also allows capturing partial amount of the reserved amount. Partial capture can be called as many times as required so long there is reserved amount to capture. Transaction text is not optional and is used as a proof of delivery (tracking code, consignment number etc.). In a case of direct capture, both fund reservation and capture are executed in a single operation.",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "summary": "Capture Payment "
      }
    },
    "/ecomm/v2/payments": {
      "post": {
        "operationId": "initiatePaymentV3UsingPOST",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "202": {
            "description": "Response for Initiate Payment",
            "schema": {
              "$ref": "#/definitions/InitiatePaymentV2Representation"
            }
          },
          "405": {
            "description": "Request method not supported"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "402": {
            "description": "Payment Failed"
          }
        },
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "in": "header",
            "type": "string",
            "name": "authorization"
          },
          {
            "required": true,
            "description": "application/json",
            "in": "header",
            "type": "string",
            "name": "content-type"
          },
          {
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "in": "header",
            "type": "string",
            "name": "ocp-apim-subscription-key"
          },
          {
            "required": true,
            "description": "initiatePaymentCommand",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/InitiatePaymentCommand"
            },
            "name": "initiatePaymentCommand"
          }
        ],
        "description": "This API call allows the merchants to initiate a payment flow by using Vipps. In order to identify which sales channel payments are coming from, a merchantSerialNumber is used to distinguish between them. Please note that a single payment is uniquely identified by a composite of merchantApplicationId (X-App-ID), merchantSerialNumber and orderId. The Merchant provided orderId must be unique per sales channel. Once the transaction is successfully initiated in Vipps, will you receive a redirect URL in response which has to be used by the merchant to open the Vipps landing page. The landing page will have functionality to identify and differentiate request coming from mobile browser/desktop browser. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "summary": "Initiate Payment"
      }
    },
    "[consentRemovalPrefix]/v2/consents/{userId}": {
      "delete": {
        "operationId": "removeUserConsentUsingDELETE",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Remove User Consent (for express checkout)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "415": {
            "description": "Unsupported media type"
          }
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "required": true,
            "description": "The userId provided when requesting user information from Vipps. Received by callback or get detail request.",
            "in": "path",
            "type": "string",
            "name": "userId"
          }
        ],
        "description": "This API endpoint on the merchant side allows Vipps to send consent removal requests to the merchant. When receiving requests the merchant is obliged to remove the user details permanently, as per the GDPR guidelines. Vipps will add `/v2/consents/{userId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "summary": "Remove User Consent (for express checkout)"
      }
    },
    "[callbackPrefix]/v2/payments/{orderId}": {
      "post": {
        "operationId": "transactionUpdateCallbackForRegularPaymentUsingPOST",
        "responses": {
          "500": {
            "description": "Something went wrong on the Vipps server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Callback : Transaction Update"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "402": {
            "description": "Payment Failed"
          }
        },
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "required": true,
            "description": "orderId",
            "in": "path",
            "type": "string",
            "name": "orderId"
          },
          {
            "required": true,
            "description": "expressCheckOutPaymentRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ExpressCheckOutPaymentRequest"
            },
            "name": "expressCheckOutPaymentRequest"
          }
        ],
        "description": "This API call allows Vipps to send the transaction details. During regular ecomm payment order and transaction details will be shared. During express checkout payment it will provide user details and shipping details addition to the order and transaction details. Vipps will add `/v2/payments/{orderId}` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "summary": "Callback : Transaction Update"
      }
    },
    "/ecomm/v2/payments/{orderId}/status": {
      "get": {
        "operationId": "getOrderStatusUsingGET",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Get order status",
            "schema": {
              "$ref": "#/definitions/GetPaymentStatusResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "402": {
            "description": "Payment Failed"
          }
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "required": true,
            "description": "Order id specified in the request body of initiate payment.",
            "in": "path",
            "type": "string",
            "name": "orderId"
          },
          {
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "in": "header",
            "type": "string",
            "name": "authorization"
          },
          {
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "in": "header",
            "type": "string",
            "name": "ocp-apim-subscription-key"
          }
        ],
        "description": "This API call allows the merchant to get the status of the last payment transaction. Primarily use of this service is meant for inApp where simple response to check order status is preferred.",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "summary": "Get order status"
      }
    },
    "[shippingDetailsPrefix]/v2/payments/{orderId}/shippingDetails": {
      "post": {
        "operationId": "fetchShippingCostUsingPOST",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Fetch Shipping Cost & Method.",
            "schema": {
              "$ref": "#/definitions/FetchShippingCostResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "402": {
            "description": "Payment Failed"
          }
        },
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "required": true,
            "description": "orderId",
            "in": "path",
            "type": "string",
            "name": "orderId"
          },
          {
            "required": true,
            "description": "fetchShippingCostAndMethod",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FetchShippingCostAndMethod"
            },
            "name": "fetchShippingCostAndMethod"
          }
        ],
        "description": "This API endpoint on the merchant side allows Vipps to get the shipping cost and method based on the provided address and product details. The primary use of this service is Vipps Hurtigkasse (express checkout) where Vipps needs to present shipping cost and method to the Vipps user. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end of this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Endpoints required by Vipps from the merchant"
        ],
        "summary": "Fetch Shipping Cost & Method"
      }
    },
    "/accesstoken/get": {
      "post": {
        "operationId": "fetchAuthorizationTokenUsingPost",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuthorizationTokenResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "402": {
            "description": "Payment Failed"
          }
        },
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "required": true,
            "format": "guid",
            "description": "Client id is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "name": "client_id",
            "type": "string",
            "in": "header"
          },
          {
            "required": true,
            "description": "Client secret is located in the [developer portal](https://apitest-portal.vipps.no/). Navigate to the ```Applications``` tab and click the ```View secrets``` button to display the client id. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "in": "header",
            "type": "string",
            "name": "client_secret"
          },
          {
            "required": true,
            "description": "The subscription-key for authorization token is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. The ```DEFAULT_ACCESSTOKEN``` key is the value for subscription-key. See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "in": "header",
            "type": "string",
            "name": "ocp-apim-subscription-key"
          }
        ],
        "description": "Authorization token API endpoint helps to get the JWT Bearer token that needs to be passed in every API request in the authorization header. The merchant application use the API to get a JWT access token. JWT access token is a base 64 encoded string value that must be aquire first before making any Vipps api calls",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Authorization Service"
        ],
        "summary": "Fetch authorization token"
      }
    },
    "/ecomm/v2/payments/{orderId}/refund": {
      "post": {
        "operationId": "refundPaymentUsingPOST",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Refund payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseRefund"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "402": {
            "description": "Payment Failed"
          }
        },
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "required": true,
            "description": "Order id specified in the request body of initiate payment.",
            "in": "path",
            "type": "string",
            "name": "orderId"
          },
          {
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "in": "header",
            "type": "string",
            "name": "authorization"
          },
          {
            "required": true,
            "description": "`application/json`",
            "in": "header",
            "type": "string",
            "name": "content-type"
          },
          {
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "in": "header",
            "type": "string",
            "name": "ocp-apim-subscription-key"
          },
          {
            "required": true,
            "description": "paymentActionsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PaymentActionsRequest"
            },
            "name": "paymentActionsRequest"
          }
        ],
        "description": "The API allows a merchant to do a refund of already captured transaction. There is an option to do a partial refund of the captured amount. Refunded amount cannot be larger than captured. Timeframe for issuing a refund for a payment is 365 days from the date payment has been captured. If the refund payment service call is called after the refund timeframe, service call will respond with an error. Refunded funds will be transferred from the merchant account to the customer credit card that was used in payment flow. Pay attention that in order to perform refund, there must be enough funds at merchant settlements account.",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "summary": "Refund Payment "
      }
    },
    "/ecomm/v2/payments/{orderId}/details": {
      "get": {
        "operationId": "getPaymentDetailsUsingGET",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Get payment Details",
            "schema": {
              "$ref": "#/definitions/GetTransactionDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "402": {
            "description": "Payment Failed"
          }
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "required": true,
            "description": "Order id specified in the request body of initiate payment.",
            "in": "path",
            "type": "string",
            "name": "orderId"
          },
          {
            "required": true,
            "description": "Authorization-token is obtained by running the `/accesstoken/get` request.",
            "in": "header",
            "type": "string",
            "name": "authorization"
          },
          {
            "required": true,
            "description": "`application/json`",
            "in": "header",
            "type": "string",
            "name": "content-type"
          },
          {
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "in": "header",
            "type": "string",
            "name": "ocp-apim-subscription-key"
          }
        ],
        "description": "This API call allows merchant to get the details of a payment transaction. Service call returns detailed transaction history of given payment where events are sorted by the time single transaction occurred.",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "summary": "Get payment Details"
      }
    },
    "/ecomm/v2/payments/{orderId}/cancel": {
      "put": {
        "operationId": "cancelPaymentRequestUsingPUT",
        "responses": {
          "500": {
            "description": "Something went wrong from Vipps Server side"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "405": {
            "description": "Request method not supported"
          },
          "200": {
            "description": "Cancel payment response",
            "schema": {
              "$ref": "#/definitions/TransactionResponseCancel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or bad request format)"
          },
          "415": {
            "description": "Unsupported media type"
          },
          "402": {
            "description": "Payment Failed"
          }
        },
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "required": true,
            "description": "Order id specified in the request body of initiate payment.",
            "in": "path",
            "type": "string",
            "name": "orderId"
          },
          {
            "required": true,
            "description": "Authorization-token is obtained by running the /accesstoken/get request.",
            "in": "header",
            "type": "string",
            "name": "authorization"
          },
          {
            "required": true,
            "description": "`application/json`",
            "in": "header",
            "type": "string",
            "name": "content-type"
          },
          {
            "required": true,
            "description": "The subscription-key for your product is located in the [developer portal](https://apitest-portal.vipps.no/). Click the username to the right on the page and select ```Profile``` from the dropdown. Find the relevant salesunit and copy the primary key.  See the [getting started guide](https://github.com/vippsas/vipps-developers/blob/master/vipps-developer-portal-getting-started.md) for full guide with images.",
            "in": "header",
            "type": "string",
            "name": "ocp-apim-subscription-key"
          },
          {
            "required": true,
            "description": "paymentActionsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CancelPaymentActionRequest"
            },
            "name": "paymentActionsRequest"
          }
        ],
        "description": "The API call allows merchant to cancel the reserved transaction, The API will not allow partial cancellation which has the consequence that partially captured transactions cannot be cancelled. Please note that in a case of communication errors during initiate payment service call between Vipps and PSP/Acquirer/Issuer; even in a case that customer has confirmed a payment, the payment will be cancelled by Vipps. Note this means you can not cancel a captured payment.",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "tags": [
          "Vipps eCom API"
        ],
        "summary": "Cancel Payment"
      }
    }
  },
  "definitions": {
    "AuthorizationTokenMethod": {
      "type": "object"
    },
    "MerchantInfoDto": {
      "required": [
        "callbackPrefix",
        "fallBack",
        "merchantSerialNumber"
      ],
      "type": "object",
      "properties": {
        "consentRemovalPrefix": {
          "example": "https://example.com/vipps",
          "maxLength": 255,
          "description": "Required for expess checkout payments. This callback URL will be used by Vipps to inform the merchant that the user has revoked his/her consent: This Vipps user does do not want the merchant to store or use his/her personal information anymore. Required by GDPR. Vipps will add `/v2/consents/{userId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "type": "string"
        },
        "callbackPrefix": {
          "example": "https://example.com/vipps/callbacks",
          "maxLength": 255,
          "description": "This is an URL for receiving the callback after the payment request. Domain name and context path should be provided by merchant as the value for this parameter. Vipps will add `/v2/payments/{orderId}` to the end or this URL. URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "type": "string"
        },
        "isApp": {
          "type": "boolean",
          "example": false,
          "description": "This parameter indicates whether payment request is triggered from Mobile App or Web browser. Based on this value, response will be redirect URL for Vipps landing page or deeplink URL to connect vipps App. When isApp is set to true, URLs passed to Vipps will not be validated as regular URLs.",
          "default": false
        },
        "authToken": {
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>",
          "maxLength": 255,
          "description": "The Merchant should share this token if merchant has authentication mechanism in place which could be used for making callbacks secure.",
          "type": "string"
        },
        "shippingDetailsPrefix": {
          "example": "https://example.com/vipps/shipping/",
          "maxLength": 255,
          "description": "In case of express checkout payment, merchant should pass this prefix to let Vipps fetch shipping cost and method related details. Vipps will add `/v2/payments/{orderId}/shippingDetails` to the end or this URL.",
          "type": "string"
        },
        "paymentType": {
          "type": "string",
          "example": "eComm Regular Payment",
          "description": "This parameter will identify difference between a regular ecomm payment and ecomm express payment. For express checkout, use: \"eComm Express Payment\". Express checkouts require consentRemovalPrefix.",
          "default": "eComm Regular Payment",
          "enum": [
            "eComm Regular Payment",
            "eComm Express Payment"
          ]
        },
        "fallBack": {
          "example": "https://example.com/vipps/fallback/order123abc",
          "maxLength": 255,
          "description": "Vipps will use the fall back URL to redirect Merchant Page once Payment is completed in Vipps System URLs passed to Vipps should be URL-encoded, and must validate with the Apache Commons [UrlValidator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/UrlValidator.html).",
          "type": "string"
        },
        "merchantSerialNumber": {
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "minLength": 6,
          "example": 123456,
          "maxLength": 6,
          "type": "string",
          "pattern": "^\\d{6}$"
        }
      }
    },
    "OrderStatusInfoTransactionInfo": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "format": "double",
          "type": "number",
          "description": "Ordered amount in øre",
          "example": 20000
        },
        "timeStamp": {
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction.",
          "example": "2018-12-12T11:18:38.246Z"
        },
        "status": {
          "example": "RESERVE",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "type": "string",
          "enum": [
            "INITIATE",
            "REGISTER",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID",
            "FAILED",
            "REJECTED"
          ]
        },
        "transactionId": {
          "type": "string",
          "description": "Vipps transaction id",
          "example": "5001420062"
        }
      }
    },
    "TransactionInfoRefund": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "format": "double",
          "type": "number",
          "description": "Ordered amount in øre",
          "example": 20000
        },
        "timeStamp": {
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "example": "2018-12-12T11:18:38.246Z"
        },
        "status": {
          "type": "string",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "example": "Refund",
          "enum": [
            "Refund"
          ]
        },
        "transactionId": {
          "type": "string",
          "description": "Vipps transaction id",
          "example": "5001420062"
        },
        "transactionText": {
          "type": "string",
          "description": "Transaction text reference provided by merchant",
          "example": "One pair of Vipps socks"
        }
      }
    },
    "ShippingDetails": {
      "required": [
        "isDefault",
        "shippingCost",
        "shippingMethod",
        "shippingMethodId"
      ],
      "type": "object",
      "properties": {
        "shippingCost": {
          "format": "double",
          "type": "number"
        },
        "isDefault": {
          "type": "string",
          "enum": [
            "Y",
            "N"
          ]
        },
        "shippingMethod": {
          "type": "string"
        },
        "shippingMethodId": {
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "FetchShippingCostResponse": {
      "required": [
        "addressId",
        "orderId",
        "shippingDetails"
      ],
      "type": "object",
      "properties": {
        "orderId": {
          "type": "string",
          "example": "order123abc"
        },
        "addressId": {
          "format": "int32",
          "type": "integer"
        },
        "shippingDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShippingDetails"
          }
        }
      }
    },
    "TransactionResponseCapture": {
      "required": [
        "orderId"
      ],
      "type": "object",
      "properties": {
        "orderId": {
          "type": "string",
          "maxLength": 30,
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "example": "order123abc"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCapture"
        }
      }
    },
    "ShippingDetailsRequest": {
      "required": [
        "address",
        "shippingCost",
        "shippingMethod"
      ],
      "type": "object",
      "properties": {
        "shippingCost": {
          "format": "double",
          "type": "number",
          "description": "Shipping cost"
        },
        "address": {
          "description": "Address Details",
          "$ref": "#/definitions/Address"
        },
        "shippingMethod": {
          "type": "string",
          "description": "Shipping method which choosed for the payment"
        }
      }
    },
    "InitiatePaymentV2Representation": {
      "required": [
        "orderId",
        "url"
      ],
      "type": "object",
      "properties": {
        "orderId": {
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters.",
          "example": "order123abc"
        },
        "url": {
          "type": "string",
          "description": "URL parameter will have URL to redirect the request to vipps gateway page in case request is trigger from web browser or deeplink URL to open vipps app incase request is triggered from Merchant Mobile App.",
          "example": "https://example.com"
        }
      }
    },
    "MerchantInfoPayment": {
      "required": [
        "merchantSerialNumber"
      ],
      "type": "object",
      "properties": {
        "merchantSerialNumber": {
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "minLength": 6,
          "example": 123456,
          "maxLength": 6,
          "type": "string",
          "pattern": "^\\d{6}$"
        }
      }
    },
    "GetTransactionDetails": {
      "type": "object",
      "properties": {
        "shippingDetails": {
          "$ref": "#/definitions/PaymentShippingDetails"
        },
        "orderId": {
          "type": "string",
          "example": "order123abc"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transactionLogHistory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionLogHistory"
          }
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails"
        }
      }
    },
    "CustomerInfoDto": {
      "type": "object",
      "properties": {
        "mobileNumber": {
          "description": "Mobile number of the user who has to pay for the transation from Vipps. Allowed format: xxxxxxxx",
          "minLength": 8,
          "example": 91234567,
          "maxLength": 8,
          "type": "string",
          "pattern": "^\\d{8}$"
        }
      }
    },
    "Address": {
      "required": [
        "addressLine1",
        "city",
        "country",
        "zipCode"
      ],
      "type": "object",
      "properties": {
        "country": {
          "type": "string",
          "description": "Country,default=NO",
          "example": "NO"
        },
        "addressLine2": {
          "type": "string",
          "description": "Address Line 2",
          "example": "Att: Rune Garborg"
        },
        "city": {
          "type": "string",
          "description": "City",
          "example": "Oslo"
        },
        "addressLine1": {
          "type": "string",
          "description": "Address Line 1",
          "example": "Dronning Eufemias gate 42"
        },
        "zipCode": {
          "type": "string",
          "description": "Zip Code",
          "example": "0191"
        }
      }
    },
    "PaymentActionsRequest": {
      "type": "object",
      "properties": {
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        },
        "transaction": {
          "$ref": "#/definitions/Transaction"
        }
      }
    },
    "ExpressCheckOutPaymentRequest": {
      "required": [
        "merchantSerialNumber",
        "orderId",
        "shippingDetails",
        "userDetails"
      ],
      "type": "object",
      "properties": {
        "shippingDetails": {
          "description": "Shipping Details will be added in the call back request if the payment is Express Checkout",
          "$ref": "#/definitions/ShippingDetailsRequest"
        },
        "merchantSerialNumber": {
          "description": "Unique id for this merchant's sales channel: website, mobile app etc. Short name: MSN.",
          "minLength": 6,
          "example": 123456,
          "maxLength": 6,
          "type": "string",
          "pattern": "^\\d{6}$"
        },
        "orderId": {
          "type": "string",
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "example": "order123abc"
        },
        "transactionInfo": {
          "$ref": "#/definitions/CallbackTransactionInfoStatus"
        },
        "userDetails": {
          "description": "Vipps User Information",
          "$ref": "#/definitions/UserDetails"
        }
      }
    },
    "TransactionInfoCancel": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "format": "double",
          "type": "number",
          "description": "Ordered amount in øre",
          "example": 20000
        },
        "timeStamp": {
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "example": "2018-12-12T11:18:38.246Z"
        },
        "status": {
          "type": "string",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "example": "Cancelled",
          "enum": [
            "Cancelled"
          ]
        },
        "transactionId": {
          "type": "string",
          "description": "Vipps transaction id",
          "example": "5001420062"
        },
        "transactionText": {
          "type": "string",
          "description": "Transaction text reference provided by merchant",
          "example": "One pair of Vipps socks"
        }
      }
    },
    "Transaction": {
      "required": [
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "format": "int32",
          "type": "integer",
          "description": "Amount in øre, if amount is 0 or not provided then full capture will be performed. 32 Bit Integer (2147483647)",
          "example": 20000,
          "pattern": "^\\d{3,}$"
        },
        "transactionText": {
          "type": "string",
          "description": "Proof of delivery"
        }
      }
    },
    "FetchShippingCostAndMethod": {
      "required": [
        "addressId",
        "addressLine1",
        "city",
        "country",
        "postCode"
      ],
      "type": "object",
      "properties": {
        "city": {
          "type": "string",
          "description": "City",
          "example": "Oslo"
        },
        "country": {
          "type": "string",
          "description": "The only country supported is Norway",
          "example": "NO"
        },
        "postalCode": {
          "format": "int32",
          "type": "integer",
          "description": "Four digits",
          "example": "0191",
          "pattern": "^\\df{4}$"
        },
        "addressId": {
          "format": "int32",
          "type": "integer",
          "description": "Vipps Provided address Id. To be returned in response in the same field"
        },
        "addressLine2": {
          "type": "string"
        },
        "postCode": {
          "format": "int32",
          "type": "integer",
          "description": "Four digits",
          "example": "0191",
          "pattern": "^\\df{4}$"
        },
        "addressType": {
          "type": "string",
          "example": "H"
        },
        "addressLine1": {
          "type": "string",
          "example": "Dronning Eufemias gate 42"
        }
      }
    },
    "TransactionLogHistory": {
      "type": "object",
      "properties": {
        "amount": {
          "format": "int32",
          "type": "integer"
        },
        "timeStamp": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "example": "RESERVE",
          "description": "The operation that was performed for this log entry. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "enum": [
            "INITIATE",
            "RESERVE",
            "SALE",
            "CAPTURE",
            "REFUND",
            "CANCEL",
            "VOID"
          ]
        },
        "operationSuccess": {
          "type": "boolean"
        },
        "requestId": {
          "type": "string"
        },
        "transactionText": {
          "type": "string"
        },
        "transactionId": {
          "type": "string"
        }
      }
    },
    "CancelPaymentActionRequest": {
      "type": "object",
      "properties": {
        "merchantInfo": {
          "$ref": "#/definitions/MerchantInfoPayment"
        },
        "transaction": {
          "$ref": "#/definitions/CancelTransaction"
        }
      }
    },
    "TransactionInfoInitiateDTO": {
      "required": [
        "amount",
        "orderId",
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "format": "int32",
          "type": "integer",
          "description": "Amount in øre. 32 bit Integer (2147483647)",
          "example": 20000,
          "pattern": "^\\d{3,}$"
        },
        "refOrderId": {
          "example": "merchantOrder123abc",
          "maxLength": 30,
          "description": "Identifies if the payment references to some past orders registered with Vipps. If defined, transactions for this payment will show up as child transactions of the specified order.",
          "type": "string"
        },
        "orderId": {
          "example": "order123abc",
          "maxLength": 30,
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters.",
          "type": "string"
        },
        "timeStamp": {
          "format": "date-time",
          "type": "string",
          "description": "ISO formatted date time string.",
          "example": "2018-11-14T15:44:26.590Z"
        },
        "transactionText": {
          "example": "One pair of Vipps socks",
          "maxLength": 100,
          "description": "Transaction text that can be displayed to end user",
          "type": "string"
        }
      }
    },
    "PaymentShippingDetails": {
      "required": [
        "shippingCost",
        "shippingMethod"
      ],
      "type": "object",
      "properties": {
        "shippingCost": {
          "format": "double",
          "type": "number",
          "description": "Shipping Cost",
          "example": 1500
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "shippingMethod": {
          "type": "string",
          "description": "Shipping method",
          "example": "Posten"
        }
      }
    },
    "TransactionInfoCapture": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId",
        "transactionText"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "format": "double",
          "type": "number",
          "description": "Ordered amount in øre",
          "example": 20000
        },
        "timeStamp": {
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when vipps Cancelled transaction.",
          "example": "2018-12-12T11:18:38.246Z"
        },
        "status": {
          "type": "string",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#responses-from-requests) for more information.",
          "example": "Captured",
          "enum": [
            "Captured"
          ]
        },
        "transactionId": {
          "type": "string",
          "description": "Vipps transaction id",
          "example": "5001420062"
        },
        "transactionText": {
          "type": "string",
          "description": "Transaction text reference provided by merchant",
          "example": "One pair of Vipps socks"
        }
      }
    },
    "InitiatePaymentCommand": {
      "required": [
        "customerInfo",
        "merchantInfo",
        "transaction"
      ],
      "type": "object",
      "properties": {
        "customerInfo": {
          "description": "it has customer information and it is not required",
          "$ref": "#/definitions/CustomerInfoDto"
        },
        "merchantInfo": {
          "description": "it has merchant related information to initiate the payment",
          "$ref": "#/definitions/MerchantInfoDto"
        },
        "transaction": {
          "description": "it has transaction details which needs to be inititated",
          "$ref": "#/definitions/TransactionInfoInitiateDTO"
        }
      }
    },
    "AuthorizationTokenResponse": {
      "type": "object",
      "properties": {
        "expires_on": {
          "type": "integer",
          "example": 1547823408
        },
        "ext_expires_in": {
          "type": "integer",
          "example": 3600
        },
        "expires_in": {
          "type": "integer",
          "example": 3600
        },
        "not_before": {
          "type": "integer",
          "example": 1547819508
        },
        "token_type": {
          "type": "string",
          "example": "Bearer"
        },
        "access_token": {
          "type": "string",
          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni <snip>"
        },
        "resource": {
          "type": "string",
          "example": "00000002-0000-0000-c000-000000000000"
        }
      }
    },
    "GetPaymentStatusResponse": {
      "type": "object",
      "properties": {
        "orderId": {
          "type": "string",
          "example": "order123abc"
        },
        "transactionInfo": {
          "$ref": "#/definitions/OrderStatusInfoTransactionInfo"
        }
      }
    },
    "TransactionResponseCancel": {
      "required": [
        "orderId"
      ],
      "type": "object",
      "properties": {
        "orderId": {
          "type": "string",
          "maxLength": 30,
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "example": "order123abc"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transactionInfo": {
          "$ref": "#/definitions/TransactionInfoCancel"
        }
      }
    },
    "CancelTransaction": {
      "type": "object",
      "properties": {
        "transactionText": {
          "type": "string"
        }
      }
    },
    "CallbackTransactionInfoStatus": {
      "required": [
        "amount",
        "status",
        "timeStamp",
        "transactionId"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "format": "double",
          "type": "number",
          "description": "Ordered amount in øre",
          "example": 20000
        },
        "timeStamp": {
          "type": "string",
          "description": "Timestamp in ISO-8601 representing when Vipps cancelled the transaction.",
          "example": "2018-12-12T11:18:38.246Z"
        },
        "status": {
          "example": "RESERVE",
          "description": "Status which gives the current state of the payment within Vipps. See the [API guide](https://github.com/vippsas/vipps-ecom-api/blob/master/vipps-ecom-api.md#callbacks) for more information.",
          "type": "string",
          "enum": [
            "RESERVE",
            "SALE",
            "CANCELLED",
            "REJECTED"
          ]
        },
        "transactionId": {
          "type": "string",
          "description": "Vipps transaction id",
          "example": "5001420062"
        }
      }
    },
    "TransactionResponseRefund": {
      "required": [
        "orderId"
      ],
      "type": "object",
      "properties": {
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transaction": {
          "$ref": "#/definitions/TransactionInfoRefund"
        },
        "orderId": {
          "type": "string",
          "maxLength": 30,
          "description": "Id which uniquely identifies a payment. Maximum length is 30 alphanumeric characters",
          "example": "order123abc"
        }
      }
    },
    "UserDetails": {
      "required": [
        "email",
        "firstName",
        "lastName",
        "mobileNumber",
        "userId"
      ],
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name",
          "example": "Ada"
        },
        "dateOfBirth": {
          "type": "string",
          "description": "12-3-1988",
          "example": "12-3-1988"
        },
        "mobileNumber": {
          "type": "string",
          "maxLength": 12,
          "description": "12345678",
          "pattern": "^\\d{8,12}$",
          "minLength": 8
        },
        "userId": {
          "type": "string",
          "description": "1234567",
          "example": "1234567"
        },
        "bankIdVerified": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Email address",
          "example": "user@example.com"
        },
        "lastName": {
          "type": "string",
          "description": "Last name",
          "example": "Lovelace"
        },
        "ssn": {
          "type": "string",
          "maxLength": 11,
          "description": "12345678912",
          "pattern": "^\\d{11}$",
          "minLength": 11
        }
      }
    },
    "TransactionSummary": {
      "required": [
        "capturedAmount",
        "refundedAmount",
        "remainingAmountToCapture",
        "remainingAmountToRefund"
      ],
      "type": "object",
      "properties": {
        "remainingAmountToCapture": {
          "format": "int32",
          "type": "integer",
          "description": "Total remaining amount to capture",
          "example": 0
        },
        "remainingAmountToRefund": {
          "format": "int32",
          "type": "integer",
          "description": "Total remaining amount to refund",
          "example": 20000
        },
        "refundedAmount": {
          "format": "int32",
          "type": "integer",
          "description": "Total refunded amount of the order",
          "example": 0
        },
        "capturedAmount": {
          "format": "int32",
          "type": "integer",
          "description": "Total amount captured",
          "example": 20000
        }
      }
    }
  },
  "tags": [
    {
      "description": "Authorization Service",
      "name": "Authorization Service"
    },
    {
      "description": "Functionality provided by the Vipps eCommerce API",
      "name": "Vipps eCom API"
    },
    {
      "description": "These endpoints must be implemented by the merchant, and are called by Vipps.",
      "name": "Endpoints required by Vipps from the merchant"
    }
  ],
  "info": {
    "description": "# Vipps eCommerce API\nAdditional API documentation: https://github.com/vippsas/vipps-ecom-api/\n",
    "version": "1.0.4",
    "title": "Vipps eCommerce APIs"
  }
}